{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Edit question' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'minified/css/qa_site.min.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 school-question-form-container">
	<form name="school-question-form" class="shadow mt-5 school-question-form" method="post">
		<h2 class="text-center mb-4 text-success">{% trans 'Edit Question' %}</h2>
		{% csrf_token %}
		{# when using `{% crispy form %}`, the submit button leaves the form #}
		{{ form.media }}
		{{ form|crispy }}
		<input type="submit" class="btn btn-success mt-3 mb-2 px-3" value="{% trans 'Update question' %}">
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script>
	// show message when user is about to leave "dirty" form
	var $form = $("[name='school-question-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});

	// place help text directly after label instead of below the ckeditor widget
	var $contentLabel = $("[for='id_content']");
	$contentLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $contentHelpText = $('#hint_id_content');
	$contentHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$contentLabel.after($contentHelpText);

	// hide html tags on footer of ckeditor widget 
	$('#cke_1_path').hide();

</script>
{% endblock %}