{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Update Social Profile' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<!-- <link rel="stylesheet" href="{% static 'minified/css/socialize.min.css' %}"> -->
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 socialize-form-container">
	<form 
		name="social-profile-form"
		class="px-3 shadow socialize-form"
		method="post"
		enctype="multipart/form-data"
	>
		{% csrf_token %}
		<h2 class="text-center mt-2 mb-4 text-success">{% trans 'Update Social Profile' %}</h2>

		{% crispy profile_form %}
		{% crispy media_form %}

		<button type="submit" class="btn btn-success mb-3">
			{% trans 'Update Profile' %}
		</button>
	</form>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'minified/js/jquery.dirty.min.js' %}"></script>
<script>
	// show message when user is about to leave "dirty" form
	var $form = $("[name='social-profile-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});
</script>
{% endblock %}