{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load app_extras %}

{% block title %}
	<title>{% trans 'Search Results' %}</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/socialize.css' %}"> 
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 profiles-list-container">
	<h2 class="text-success">{% trans 'Search Results' %}</h2>
	<div class="d-flex">
		<article class="border profiles-list-art">
			<section class="px-3 pt-4">
				<a href="{% url 'socialize:find-friend' %}" class="btn btn-warning mb-3">
					{% trans 'Back to Filter' %}
				</a>
				{# todo add filter for old and new members...; like myschool #}
			</section>

			<!-- results list -->
			<section>
				<ul>
					{% for profile in page_obj %}
						{% with dp=profile.profile_image user=profile.user %}
							<li class="d-flex px-3 pb-3 mb-2 profile-item">
								<div class="flex-shrink-0">
									{% if dp %}
										<a href="{{ profile.get_absolute_url }}">
											<img class="py-2 profile-item__img" src="{{ dp.url }}" alt="{{ dp.profile_filename }}">
										</a>
									{% else %}
										<a href="{{ profile.get_absolute_url }}" class="d-inline-block link-secondary">
											<i class="far fa-user fa-5x px-3 py-3 shadow opacity-50"></i>
										</a>
									{% endif %}
								</div>
								<div class="flex-grow-1 ms-4 small">
									<a 
										href="{{ profile.get_absolute_url }}" 
										class="h5 text-decoration-none d-inline-block"
									>
										{{ user.username }}
									</a>
									<div>
										<strong>{% trans 'Age Range' %}:</strong>
										{{ profile.age_range }} &nbsp; | &nbsp; {{ profile.actual_gender }}
									</div>
									<div>
										<strong>{% trans 'School' %}:</strong>
										<a href="{% url 'socialize:find-friend' %}?school={{ profile.school_id }}" class="text-decoration-none">
											{{ profile.school }}
										</a>
									</div>
									<div>
										<strong>{% trans 'Level' %}:</strong>
										{% if profile.level == 'N/A' %}
											{% trans 'Confidential' %}
										{% else %}
											{{ profile.get_level_display }}
										{% endif %}
									</div>
									<div>
										<strong>{% trans 'Interested in' %}:</strong>
										{{ profile.interested_relationship }}
									</div>
								</div>
							</li> 
						{% endwith %}
					{% endfor %}

					{% if is_paginated %}
						{% include 'core/pagination.html' with page_obj=page_obj %}
					{% endif %}
				</ul>
			</section>
		</article>

		{# this section is visible only on lg devices and greater #}
		<aside class="d-none d-lg-block w-25">
			<div class="card border-success">
				<h5 class="card-header bg-success text-light">
					{% trans 'Some Users' %}
				</h5>
				<ul class="list-group list-group-flush">
					{% for profile in random_profiles %}
						{% with user=profile.user %}
							<li class="list-group-item">
								<a href="{{ profile.get_absolute_url }}" class="text-decoration-none">
									{{ user.username }}
								</a> 
								<span class="small">
									({{ profile.gender }}) &nbsp; - &nbsp; 
									{{ user.site_points }} {% trans 'point' %}{{ user.site_points|pluralize}}
								</span>
							</li>
						{% endwith %}
					{% endfor %}
				</ul>
			</div>
		</aside>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock %} 