{# This template overrides the default form used by django-flag-app. #}

<!-- the flag_form.html and flag_icon.html templates used by django-flag-app have been modified, same as the flag.css section. -->
{# Before modifying any element, be 100% sure that it won't disrupt the js functionality. #}
{# ENSURE flag modal and js-flagHelper span are in html template #}
{% load i18n %}


<span class="d-none js-flag-alert-msg">
	{% trans 'The report request could not be processed. Please refresh the page and try again.' %}
</span>
<span class="d-none js-remove-flag">{% trans 'Remove flag' %}</span>
<span class="d-none js-report-content">{% trans 'Report post' %}</span>
<div class="d-inline report-modal-form-combined">
	<div class="d-inline link-danger flag-report-icon js-flag-report-icon"
		data-url="{% url 'flagging:flag' %}"
		data-app-name="{{ app_name }}"
		data-model-name="{{ model_name }}"
		data-model-id="{{ model_id }}"
		data-csrf="{{ csrf_token }}"
		role="button"
	>
		{# main span element (icon) #}
		<span {% if display_title %} title="{% if has_flagged %} {% trans 'Remove flag' %} {% else %} {% trans 'Report post' %} {% endif %}" {% endif %}> 
			<span class="{% if not display_icon %} d-none {% endif %}">
				{% include "flag/flag_icon.html" %} 
			</span>
		</span>
	</div>
	{# use text-start to conteract text-end in question detail templates #}
	<div class="w-100 text-start flag-report-modal js-flag-report-modal">
		<div class="w-75 report-modal-content">
			<span class="report-modal-close">&times;</span>
			<div class="report-modal-flag-form">
				<form class="m-2 p-1 report-modal-form">
					{% csrf_token %}
					<div class="flag-modal-title">{% trans "Report this post" %}</div>
					<div>
						<div class="report-modal-form-reasons">
							{% for reason in flag_reasons  %}
							<div class="form-check mb-3">
								<input
									id="{{ reason.reason }}-{{ random_uid }}"
									type="radio"
									value="{{ reason.value }}"
									class="form-check-input my-2 flag-reason {% if forloop.last %} last-flag-reason {% endif %}"
									name="reason" 
									required
								>
								<label class="form-check-label" for="{{ reason.reason }}-{{ random_uid }}">{{ reason.reason }}</label>
							</div>
							{% endfor %}
						</div>
						<div class="mb-4">
							<textarea class="form-control report-modal-form-info" rows="5" cols="40" name="info"></textarea>
						</div>
						<input type="submit" class="flag-submit-btn" value="{% trans 'Submit' %}" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% if user.is_mod %}
	{# mod can see number of flags on post #}
	<span class="text-danger fw-bold ms-2">
		{% if display_icon %}({% endif %}
		{{ num_flags }} {% trans 'flag' %}{{ num_flags|pluralize }}
		{% if display_icon %}){% endif %}
	</span>
{% endif %}

