{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Advertize something' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'minified/css/marketplace.min.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 listing-form-container">
	<form name='ad-listing-form' class="shadow listing-form" method="post">
		{% csrf_token %}
		<h2 class="text-center mb-4 text-success">{% trans 'Advertize something'|title %}</h2>
		
		{% crispy form %}
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'minified/js/jquery.dirty.min.js' %}"></script>
<script>
	var $form = $("[name='ad-listing-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});

	// place listing description help text directly after label instead of below the ckeditor widget
	var $descriptionLabel = $("[for='id_description']");
	$descriptionLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $descriptionHelpText = $('#hint_id_description');
	$descriptionHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$descriptionLabel.after($descriptionHelpText);
</script>
{% endblock %}