{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load marketplace_extras %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	<title>{% trans 'Advertize something' %}</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/marketplace.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide undil lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 listing-form-container">
	<form action="." class="listing-form" method="post">
		{% csrf_token %}
		<h2 class="text-center mb-4 text-success">{% trans 'Advertize something'|title %}</h2>
		
		{% crispy form %}
		
		<!-- Modal shown when user clicks edit phone numbers button, telling him he will go to an external page -->
		<div class="modal" id="leavePageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="leavePageModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="leavePageModalLabel">{% trans 'Leave page' %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
				</div>
				<div class="modal-body">
					{% blocktrans %}
						You are about to go to another page, you'll lose any info you've already entered.
					{% endblocktrans %}
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
				<a 
					class="btn btn-danger"
					href="{% url 'users:edit-profile' username=user.username %}#phoneSection"
				>
					{% trans 'Leave page' %}
				</a>
				</div>
			</div>
			</div>
		</div>

	</form>
</div>
{% endblock content %}

{% block extra_js %}
<script>
	// change help text of photo upload button
	var newHelpText = "{% blocktrans %}It isn't obligatory to post a photo.{% endblocktrans %}";
	$('.js-upload-help-text').text(newHelpText);

	// place listing description help text directly after label instead of below the ckeditor widget
	var $descriptionLabel = $("[for='id_description']");
	$descriptionLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $descriptionHelpText = $('#hint_id_description');
	$descriptionHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$descriptionLabel.after($descriptionHelpText);
</script>
{% endblock %}