{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Create your item listing' %}</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/marketplace.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 listing-form-container">
	<form name="item-listing-form" class="shadow listing-form" method="post">
		{% csrf_token %}
		<h2 class="text-center mb-4 text-success">{% trans 'Post an Item for Sale' %}</h2>
		
		{% crispy form %}
	</form>
</div>

<!-- Modal shown when user clicks edit phone numbers button, telling him he will go to an external page -->
<div class="modal" id="leavePageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="leavePageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="leavePageModalLabel">{% trans 'Leave page' %}</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
		</div>
		<div class="modal-body">
			{% blocktrans %}
				You are about to go to another page, you'll lose any info you've already entered.
			{% endblocktrans %}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
		<a 
			class="btn btn-danger"
			href="{% url 'users:edit-profile' username=user.username %}#phoneSection"
		>
			{% trans 'Leave page' %}
		</a>
		</div>
	</div>
	</div>
</div>
{% endblock content %}


{% block extra_js %}
<script>
	// var NEW = 'N', USED = 'U', DEFECTIVE = 'D';
	var CONDITIONS_AND_HELP_TEXTS = {
		'N': "{% trans 'A brand-new, unused, unopened, undamaged item in its original packaging (where packaging is applicable). The item may have a custom package but it should be new. ' %}",
		'U': "{% trans 'An item that has been used previously. The item may have some signs of cosmetic wear, but it is fully operational and functions as intended.' %}",
		'D': "{% trans 'An item that does not function as intended and is not fully operational. This includes items that are defective in ways that render them difficult to use, items that require service or repair, or items missing essential components.' %}"
	};
	// get help text of initial listing condition
	$(window).on('load', {conditions: CONDITIONS_AND_HELP_TEXTS}, insertConditionHelpText);

	var $condition = $('.js-condition');
	$condition.on('change', {conditions: CONDITIONS_AND_HELP_TEXTS}, insertConditionHelpText);
	$condition.on('change', {}, setDescriptionRequired);

	// todo fill sub category options with initial value of category
	$(window).on(
		'load', 
		// pass url to js instead of hardcoding
		{url: "{% url 'marketplace:get-item-subcategories' %}"}, 
		insertItemSubCategories
	);

	// attach change event listener to item category(main category)
	var $category = $('.js-category');
	$category.on(
		'change', 
		{url: "{% url 'marketplace:get-item-subcategories' %}"}, 
		insertItemSubCategories
	);

	// attach submit event listener to form
	var $form = $("[name='item-listing-form']");
	$form.on(
		'submit', 
		{
			photoError: "{% trans 'Upload at least 3 photos' %}",
			priceError: "{% trans 'Price may contain only digits and/or spaces.' %}",
			alertContent: "{% trans 'The form contains some errors, correct them to continue.' %}"
		}, 
		itemListingFormSubmit
	); 

	// insert price errors container after price label(it would be very difficult trying to do this in the backend form class instead)
	var $priceLabel = $("[for='id_price']");
	$priceLabel.after("<div class='js-price-errors'></div>");

	// place listing description help text directly after label instead of below the ckeditor widget
	var $descriptionLabel = $("[for='id_description']");
	$descriptionLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $descriptionHelpText = $('#hint_id_description');
	$descriptionHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$descriptionLabel.after($descriptionHelpText);

	// place general condition help text directly after label instead of below select menu
	var $conditionLabel = $("[for='id_condition']");
	$conditionLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $conditionHelpText = $('#hint_id_condition');
	$conditionHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '1rem'});
	$conditionLabel.after($conditionHelpText);
</script>
{% endblock %}