{% extends "core/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
	<title>{% trans 'Delete social profile' %}</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-md p-sm-3 px-4 my-5">
	<form method="post">
		{% csrf_token %}
		{% if user.id == object.user_id %}
			<p class="mb-4">
				<span class="fs-5">
					{% trans 'Are you sure you want to delete your social profile' %} ?
				</span> <br>
				{% blocktrans %}
					You will lose the {{ connect_profile_points }} points you obtained by creating a social profile.
				{% endblocktrans %}
			</p>
		{% elif user.is_staff %}
			<p class="fs-5 mb-4">
                {% blocktrans %}
                Are you sure you want to delete <strong>{{ object }}</strong>'s social profile ?
                {% endblocktrans %}
			</p>
		{% endif %}
		<input type="submit" class="btn btn-danger" value="{% trans 'Yes, delete' %}">
	</form>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}
