{% extends "core/base.html" %}

{% load i18n %}
{% load app_extras %}

{% block title %}
	<title>{{ profile_user.username }} - {% trans 'social profile' %} | CamerSchools</title>
{% endblock %}


{% block content %}
<article class="container-lg mb-5 pt-3">
	<h3 class="text-success">{{ profile_user.username }} ({{ profile_user.username }})</h3>
	<section class="border pt-4 p-2 ps-4">
		<div class="mb-4">
			{# profile image #}
			<div class="mb-4">
				{% if object.profile_image %}
					<img 
						class="shadow p-2" 
						height="300px"
						width="300px"
						src="{{ object.profile_image.url }}" 
						alt="{% trans 'User profile image' %}"
					>
				{% else %}
					<i class="far fa-user fa-5x shadow p-2"></i>
				{% endif %}
			</div>

			{# view count #}
			{% if profile_user == user %}
				<span class="fw-bold text-secondary">
					{% trans 'Profile views' %}: &nbsp; {{ object.view_count }} &nbsp;
					({% trans 'only you can see this' %})
				</span>
				<p class="small mb-4">
					{% blocktrans %}
						This is the number of times that users have viewed your profile. <br>
						The more active you are on the website, the more likely more people will view your profile.
					{% endblocktrans %}
				</p>
			{% endif %}

			{# user info #}
			<h3 class="mb-3">{% trans 'User Info' %}</h3>
			<div class="ps-3">
				{% for field, val in profile_info.items %}
					<p class="mb-2">
						<span class="text-warning">{{ field }}</span>: {{ val }}
					</p>
				{% endfor %}
			</div>
		</div>
		
		{# social media links #}
		<div class="mb-4">
			<h3>{% trans 'Social Media Links' %}</h3>
			<div class="ps-3">
				{% for field, val in social_media_links.items %}
					{% if val %}
						<p class="mb-2">
							<span class="fw-bold">{{ field }}</span>: {{ val }}
						</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		{# ensure user can't see this form to bookmark his social profile #}
		{% if user.social_profile != object %}
			<!-- Bookmark area -->
			<div class="d-inline">
				{% url 'socialize:social-profile-bookmark-toggle' as bookmark_url %}
				{% url 'users:profile-bookmarkedprofiles' as bookmarks_url %}
				{% trans 'Bookmark this profile. (click again to undo)' as title_text %}
				{% render_bookmark_template object bookmark_url bookmarks_url title_text %}
			</div>
		{% endif %}

		{% if can_delete %}
			<div class="mb-3" style="margin-top: 5rem;">
				<a class="btn btn-danger btn-sm" href="{% url 'socialize:delete-profile' username=profile_user.username %}">
					<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
					{% trans 'Delete social profile' %}
				</a>
			</div>
		{% endif %}

		{% comment %}
		NO FLAGGING IN THIS APP (yet?). This is coz, in our current implementation of flagging, 
		if post is flagged may be 2 or 3 times, user is penalized. However, the social profile
		is a user's own info about himself. For some reason, some people (say 3) might find a user's
		reasoning inappropriate (may be in about_me section) and will flag the post etc....
		which may cause the user to be penalized for no just cause. 
		However, there may be cases where a user's profile is actually fraudulent (eg. drug dealer lol)
		perhaps in this case, user's should be able to flag ??
		
		NO, let them rather contact us.
		{% endcomment %}
	</section>
</article>
{% endblock %}

