<!-- This page is displayed after user's password has successfully been changed. -->
{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
<title>{% trans 'Password Changed' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
	<div class="container mb-5">
		<h2 class="text-success mb-2">{% trans "Your password has been changed." %}</h2>
		<p>{% trans "You will be redirected to the login page in a few seconds..." %}</p>
	</div>
	
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
	<script>
		// redirect user to login page after some seconds..
		setTimeout(function() {
			window.location.href = "{% url 'users:login' %}?next={{ request.get_full_path }}";
		}, 4000)
	</script>
{% endblock %}