{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
<title>{% trans 'Sign up' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5">
	<div class="d-flex justify-content-center">
		<form 
			class="shadow rounded p-4 user-form user-form--signup" 
			action="{% url 'users:register' %}" 
			method="post"
			name="signup-form"
		>
			{% csrf_token %}

			<!-- link used to send user to top of form if there are errors -->
			<a href="#" name="top" class="d-none"></a>

			<h2 class="text-center mb-4">
				{% trans 'Create your CamerSchools Account' %}
			</h2>
			<!-- javascript form errors -->
			<div class="js-errors" role="alert"></div>

			{{ form|crispy }}

			{# add next url #}
			<input type="hidden" name="next" value="{{ request.GET.next }}">

			<label class="requiredField" for="phoneNumbers">
				{% trans 'Phone number(s)' %}
				<span class="asteriskField">*</span>
			</label>
			<small id="hint_id_phoneNumbers" class="d-block form-text text-muted">
				{% trans 'Enter at least one phone number. At least one phone number should support WhatsApp. <br> Phone numbers may contain only digits and spaces.' %} <br>
				{% trans "Your phone number(s) won't be shown to other users without your permission." %}
			</small>
			
			<!-- Formset for entering phone number -->
			<div class="table-responsive">
				<table id="phoneNumbers" class="table js-phoneNumbersTable">
					{% for form in formset.forms %}
						{% if forloop.first %}
						<thead>
							<tr>
								{% for field in form.visible_fields %}
										<th scope="col">
											{{ field.label }}
										</th>
								{% endfor %}
							</tr>
						</thead>
						{% endif %}

						{# print errors #}
						{% if forloop.first %}
							<br>
							{% comment %} 
								The errors are displayed as a ul with class name "errorlist". 
								Added custom styles via jquery..
							{% endcomment %}
							{{ formset.non_form_errors }}
						{% endif %}

						{# each tr is a form in formset.forms #}
						<tr class="formset_row">
							{% for field in form.visible_fields %}
									<td>
										{# Include the hidden fields in the form #}
										{% if forloop.first %}
											{% for hidden in form.hidden_fields %}
												{{ hidden }}
											{% endfor %}
										{% endif %}
										{{ field|as_crispy_field }}
									</td>
							{% endfor %}
						</tr>
					{% endfor %}
					{{ formset.management_form }}
				</table>
			</div>

			<p class="text-secondary mb-4">
				{% trans 'By signing up, you agree to the' %}
				<a href="{% url 'core:terms-conditions' %}" target="_blank" class="text-decoration-none">
					{% trans 'Terms of Service' %}
				</a>
				{% trans 'and' %}
				<a href="{% url 'core:privacy-policy' %}" target="_blank" class="text-decoration-none">
					{% trans 'Privacy Policy' %}.
				</a>
			</p>

			<button type="submit" class="w-100 mt-1 mb-4 py-2 btn btn-success">
				{% trans 'Sign up' %}
			</button>

			<p class="mb-0">
				{% trans 'If you already have an account, ' %}
				<a href="{% url 'users:login' %}?next={{ request.get_full_path }}">{% trans 'Click here to login' %}</a>
			</p>
		</form>
	</div>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'minified/js/jquery.formset.min.js' %}"></script>
<script src="{% static 'minified/js/jquery.dirty.min.js' %}"></script>
<script>
	var $form = $("[name='signup-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});

	/* insert show/hide password checkbox.. */
	{# apparently, initializing these checkboxes in the django form via crispy_forms breaks the template.. #}
	var showPasswordText = "{% trans 'Show password' %}";
	var $passwordInput = $('.js-password1').first();
	$(" \
			<div class='form-check form-switch mb-2'> \
				<input type='checkbox' id='switchPassword' class='form-check-input cursor-pointer'> \
				<label for='switchPassword' class='form-check-label cursor-pointer'>" + showPasswordText + " \
				</label> \
			</div> \
		"
	).insertAfter($passwordInput);

	// attach events to password checkboxes
	// use id's for quicker access lol
	$('#switchPassword').on('change', function() {
		if ($passwordInput.attr('type') === 'password') {
			$passwordInput.attr('type', 'text');
		} else {
			$passwordInput.attr('type', 'password');
		}
	});

	/* Arrange formset */
	// NOTE: formset should be initialized before any related elements are used
	$('.formset_row').formset({
		addText: "{% trans 'Add phone number' %}",
		deleteText: '',
		prefix: 'phone_numbers',
		addCssClass: 'btn btn-sm btn-primary',
		// the `delete-row` class is needed. 
		// see the `added` and `removed` functions below
		deleteCssClass: 'delete-row fa fa-lg fa-times link-danger text-decoration-none',
		added: function($newForm) {
			// apparently, when a new form is added, these buttons are reinserted in all the forms.
			// do this to re-remove the button from the first form
			$('.delete-row').first().hide();

			// style operator div as above
			$newForm.find('.js-operator').parent().css('width', '7rem');

			// remove labels from newly added form fields
			$newForm.find('label').hide();

			// set its phone number input field to required
			$newForm.find('.js-number').each(function() {
				var $this = $(this);
				if ($this.is(":visible")) {
					$this.attr('required', '');
					// style parent div as above
					$this.parent().css('width', '12rem');
				}
			});
		},
		removed: function($removedForm) {
			// remove required attribute from removed phone number input 
			// coz some forms stay hidden with the required attribute 
			$removedForm.find('.js-number').removeAttr('required');
		},
	});

	var $formsetTable = $('.js-phoneNumbersTable').first();

	var $numberDivs = $formsetTable.find('.js-number').parent();
	var $operatorDivs = $formsetTable.find('.js-operator').parent();
	$numberDivs.css('width', '12rem');
	$operatorDivs.css('width', '7rem');

	// hide "Remove" button from the first phone number 
	// since user must have at least one number
	$('.delete-row').first().hide();
	
	// remove labels from crispy fields in table
	$formsetTable.find('label').hide();

	// set all phone number input fields to required
	$formsetTable.find('.js-number').each(function() {
		var $this = $(this);
		if ($this.is(":visible")) {
			$this.attr('required', '');
		}
	});

	// style formset errorlist
	var $errlist = $('ul.errorlist');
	$errlist.addClass('list-group');   // add bootstrap class
	$errlist.children('li').addClass('list-group-item list-group-item-danger');

	// attach event to signup form
	var $form = $("[name='signup-form']");
	$form.on('submit', {
		phoneNumError: "- {% trans 'Phone numbers may contain only digits and spaces.' %}",
		whatsAppError: "- {% trans 'Enter at least one number that supports WhatsApp.' %}",
		passwordError: "- {% trans 'Password should contain at least 8 characters and should not be entirely numeric.' %}",
		usernameError: "- {% trans 'Enter a valid username.' %}",
		fullNameError: "- {% trans 'Enter a valid full name.' %}",
		alertContent: "{% trans 'Form contains some errors, correct them to continue.' %}",
	}, signupAndEditSubmit);

</script>
{% endblock %}