{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load app_extras %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	<title>{% trans 'Requested Items' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'minified/css/requested_items.min.css' %}"> 
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 requested-items-list-container">
	<h2 class="text-success">{% trans 'Items Requested' %}</h2>
	<article class="border mx-lg-auto">
		<section class="px-3 pt-4">
			<p>
				{% blocktrans %}
					These are items that users are searching for to buy. <br> 
					If you see an item here, you may contact the poster 
					if you are in possession of the item and are willing to sell it.
				{% endblocktrans %}
			</p>
			<a href="{% url 'requested_items:requested-item-create' %}" class="btn btn-warning mb-3">
				{% trans 'Request an item' %}
			</a>
		</section>

		<!-- search form -->
		<section class="mb-3">
			<form method="get" class="p-3 m-3 border requested-items-search-form">
				<h4>{% trans 'Filter' %}</h4>
				{% with filter.form as form %}
					<div class="row">
						<div class="form-group col-sm-6">
							{{ form.school|as_crispy_field }}
						</div>
						<div class="form-group col-sm-6">
							{{ form.category|as_crispy_field }}
						</div>
						<div class="form-group">
							{{ form.item_requested|as_crispy_field }}
						</div>
					</div>
				{% endwith %}
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search" aria-hidden="true"></i>
					{% trans 'Search' %}
				</button>
			</form>
		</section>

		<!-- requested items list -->
		<section>
			<ul class="ms-2 pe-lg-4 pe-1">
				{% for requested_item, photo in page_obj|zip:first_photos %}
					{% with poster=requested_item.poster poster=requested_item.poster view_count=requested_item.view_count original_lang=requested_item.original_language %}
						<li class="d-flex p-3 pb-3 mb-2 requested-item-item">
							<div class="flex-shrink-0">
								{% if photo %}
									<a href="{{ requested_item.get_absolute_url }}">
										<img class="py-1 requested-item-item__img" src="{{ photo.file.url }}" alt="{{ photo.title }}">
									</a>
								{% else %}
									<a href="{{ requested_item.get_absolute_url }}" class="d-inline-block link-secondary">
										<i class="far fa-image fa-7x ps-0 px-lg-4 opacity-50" aria-hidden="true"></i>
										<span class="visually-hidden">{% trans 'Item' %}</span>
									</a>
								{% endif %}
							</div>
							<div class="flex-grow-1 ms-4" {% if requested_item|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
								<a 
									href="{{ requested_item.get_absolute_url }}" 
									class="h5 text-decoration-none"
								>
									{{ requested_item.item_requested }}
								</a>
								{% include 'core/google_attribution.html' with object=requested_item %}

								<br class="mb-4">
								{% if requested_item.school %}
									<a 
										class="text-decoration-none" 
										href="{% url 'requested_items:requested-item-list' %}?school={{ requested_item.school_id }}"
									>
										{{ requested_item.school }}
									</a>
								<br class="mb-1">
								{% endif %}
								<span>
									{% trans 'Posted' %} {{ requested_item.posted_datetime|naturaltime }}
									{% trans 'by' %}
									{% if poster.has_social_profile %}
										<a 
											class="text-decoration-none" 
											href="{{ poster.get_absolute_url }}"
										>
											{{ poster.full_name }}
										</a>
									{% else %}
										<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">
											{{ poster.full_name }}
										</span>
									{% endif %}
								</span>
								<p class="mt-1">
									{% trans 'Views' %}:
									<span class="ms-2">
										{{ view_count }}
										<i class="far fa-eye ms-1" aria-hidden="true"></i>
									</span>
								</p>
							</div>
						</li> 
					{% endwith %}
				{% endfor %}

				{% if is_paginated %}
					{% include 'core/pagination.html' with page_obj=page_obj %}
				{% endif %}
			</ul>
		</section>
	</article>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock %} 