{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Edit question' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 academic-question-form-container">
	<form name="academic-question-form" class="shadow mt-5 academic-question-form" method="post">
		<h2 class="text-center mb-4 text-success">{% trans 'Edit Question' %}</h2>
		{% csrf_token %}
		{# when using `{% crispy form %}`, the submit button leaves the form #}
		{{ form.media }}
		{{ form|crispy }}
		<input type="submit" class="btn btn-success mt-3 mb-2 px-3" value="{% trans 'Update question' %}">
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script>
	// place help text directly after label instead of below the ckeditor widget
	var $contentLabel = $("[for='id_content']");
	$contentLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $contentHelpText = $('#hint_id_content');
	$contentHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$contentLabel.after($contentHelpText);

	// hide html tags on footer of ckeditor widget 
	$('#cke_1_path').hide();

	// style tags selection section
	var $checkboxDivs = $('#div_id_tags .form-check');
	$checkboxDivs.parent().attr('class', 'row');
	$checkboxDivs.attr('class', 'col-3');
	$checkboxDivs.css({
		'display': 'inline-block',
		'margin-left': '.5rem',
		'margin-right': '.5rem'
	});
	$('#hint_id_tags').css('display', 'block');
</script>
{% endblock %}