{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load flag_tags %}
{% load app_extras %}  

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	<title>{{ question.title }} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/highlight.min.css' %}">
{% endblock %}

{% block extra_script_pre %}
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/adapters/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/highlight.min.js' %}"></script>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}


{% block content %}
<!-- toasts -->
<div class="toast hide alert alert-purple align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-custom-success-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body js-toast-message">
			{# message will be inserted here via js #}
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-custom-error-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body js-toast-message">
			{# message will be inserted here via js #}
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-self-vote-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			{% trans "You can't vote for your own post" %} 
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-login-required-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			{% trans 'You need to be logged in to perform this operation.' %} 
			<p class="text-dark mt-1 mb-0">
				{% trans 'Click' %} 
				<a href="{% url 'users:login' %}?next={{ request.get_full_path }}">
					{% trans 'here' %}
				</a> 
				{% trans 'to login to your account or' %} 
				<a href="{% url 'users:register' %}" target="_blank">
					{% trans 'here' %}
				</a> 
				{% trans "to sign up if you don't yet have an account." %}
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-error-occurred-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			<p>
				{% trans 'An error occured, refresh the page then try again.' %} <br>
				{% trans 'If it persists, contact us.' %}
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-purple align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-followed-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			<p>	
				{% blocktrans %}
					You are now following this question. You'll receive notifications when there's activity on this post.
				{% endblocktrans %} <br>
				{% trans 'Click' %}
				<a href="{% url 'users:profile-qa' %}">{% trans 'here' %}</a>
				{% trans 'to see the questions you are following' %}.
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-info align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-unfollowed-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			<p>	
				{% blocktrans %}
					You are no longer following this question. 
					You'll not receive notifications when there's activity on this post.
				{% endblocktrans %} <br>
				{% trans 'Click' %}
				<a href="{% url 'users:profile-qa' %}">{% trans 'here' %}</a>
				{% trans 'to see the questions you are following' %}.
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>

{% get_login_url as login_url %}

<div class="border py-3 mb-5 container-lg">
	<article class="js-question" data-id="{{ question.id }}">
		{% with question_poster=question.poster %}
		<div class="d-md-flex flex-row-reverse mb-3 mb-md-0 question-header">
			<p class="text-end me-3">
				<a href="{% url 'qa_site:academic-question-create' %}" class="btn btn-warning">
					{% trans 'Ask a Question' %}
				</a>
			</p>
			<h2 class="question-header__title">
				{% with original_lang=question.original_language %}
				<span {% if question|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
					{{ question.title }}
				</span>
				{% include 'core/google_attribution.html' with object=question %}
				{% endwith %}
			</h2>
		</div>

		{# question-info #}
		<p class="mb-lg-1">
			<span class="mx-1" >
				{% trans 'Asked' %}
				<strong title="{{ question.posted_datetime }}">
					{{ question.posted_datetime|naturaltime }}
				</strong> 
			</span>
			<span class="mx-1">
				{% trans 'By' %}
				{% if question_poster.has_social_profile %}
					{# note that this `border-bottom-dotted` is a custom class, not from bootstrap. #}
					<a 
						class="px-1 bg-info opacity-75 text-decoration-none border-bottom-dotted" 
						href="{{ question_poster.get_absolute_url }}"
					>
						{{ question_poster.username }}
					</a>
				{% else %}
					<span class="px-1 bg-info" title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">{{ question_poster.username }}</span>
				{% endif %}
			</span>
			{% if question.subject_id %}
				<span class="mx-1">
					{% trans 'In' %}
					<a href="{% url 'qa_site:academic-question-list' %}?subject={{ question.subject_id }}" class="text-decoration-none ">{{ question.subject.name }}</a>
				</span>
			{% endif %}
			{% with view_count=question.view_count %}
			<p class="mx-1">
				{% trans 'Views' %}:
				<span class="ms-2">
					{{ view_count }}
					<i class="far fa-eye ms-1" aria-hidden="true"></i>
				</span>
			</p>
			{% endwith %}
		</p>

		<hr class="mb-3">
		<section class="mb-4 px-3 question-layout">
			{% with original_lang=question.original_language %}
			<div class="mt-3 mb-4 question-content" {% if question|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
				{{ question.content|safe }}
				{% include 'core/google_attribution.html' with object=question %}
			</div>
			{% endwith %}
			{% if question_tags.exists %}
				<div class="question-taglist">
					{% for tag in question_tags %}
						<span class="badge rounded-pill bg-secondary p-2">
							{{ tag.name }}
						</span>
					{% endfor %}
				</div>
			{% endif %}

			<!-- question-reaction(like, dislike, bookmark, flag) -->
			<div class="mt-3 mb-3 question-reaction">
				<div class="d-inline mx-2 question-reaction-upvote">
					<a 
						role="button" 
						class="text-decoration-none link-primary js-upvote" 
						data-id="{{ question.id }}"
						data-poster-id="{{ question.poster_id }}"
						data-thread="question"
						title="{% trans 'Vote this question UP if it is useful and clear. (click again to undo)' %}"
					>
						{% if user in question.upvoters.all %}
							<i class="fas fa-thumbs-up js-selected" aria-hidden="true"></i>
							{% trans 'Liked' %}
						{% else %}
							<i class="far fa-thumbs-up" aria-hidden="true"></i>
							{% trans 'Like' %}
						{% endif %}
					</a>
					<span class="ms-1 text-success">{{ question.upvote_count }}</span>
				</div>
				<div class="d-inline mx-2 question-reaction-downvote">
					<a 
						role="button" 
						class="text-decoration-none  js-downvote" 
						data-thread="question" 
						data-id="{{ question.id }}"
						data-poster-id="{{ question.poster_id }}"
						title="{% trans 'Vote this question DOWN if it is unclear or not useful. (click again to undo)' %}"
					>
						{% if user in question.downvoters.all %}
							<i class="fas fa-thumbs-down js-selected" aria-hidden="true"></i>
							{% trans 'Disliked' %}
						{% else %}
							<i class="far fa-thumbs-down" aria-hidden="true"></i>
							{% trans 'Dislike' %}
						{% endif %}
					</a>
					<span class="ms-1 text-danger">{{ question.downvote_count }}</span>
				</div>
				<!-- Bookmark area -->
				<div class="d-inline mx-2">
					{% url 'qa_site:academic-bookmark-toggle' as bookmark_url %}
					{% url 'users:profile-qa' as bookmarks_url %}
					{% trans 'Add this question to your favourites. (click again to undo)' as title_text %}
					{% render_bookmark_template question bookmark_url bookmarks_url title_text %}
				</div>
				<!-- Share area -->
				<div class="d-inline mx-2">
					{% trans 'Share a link to this question' as heading %}
					{% include 'core/social_share_tooltip.html' with heading=heading title=question.title url=request.build_absolute_uri %}
				</div>
				<!-- flag area -->
				{# if question belongs to user, dont display flag widget #}
				{% if user != question_poster %}
					<div class="d-inline ms-2">
						{% if user.is_anonymous %}
							<a href="{{ login_url }}?next={{ request.get_full_path }}" class="link-danger text-decoration-none">
								{% trans 'Report post' %}
								<span>
									{% include "flag/flag_icon.html" %}
								</span>
							</a>
						{% else %}
							<span class="link-danger js-flagHelper" role="button">
								{% if user|has_flagged:question %} 
									{% trans 'Remove flag' %}
								{% else %} 
									{% trans 'Report post' %} 
								{% endif %}
							</span> 
							{% render_flag_form question user request %}
						{% endif %}
					</div>
				{% endif %}
			</div>

			<!-- edit and delete area -->
			{% if can_edit_question or can_delete_question %}
				<div class="mb-4">
					{% if can_edit_question %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'qa_site:academic-question-update' pk=question.pk %}">
								<i class="fas fa-edit me-1" aria-hidden="true"></i>
								{% trans 'Edit question' %}
							</a>
						</div>
					{% endif %}
					{% if can_delete_question %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'qa_site:academic-question-delete' pk=question.pk %}">
								<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
								{% trans 'Delete question' %}
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}

			<!-- follow area -->
			{# if question belongs to user, don't display follow area. #}
			{% if user != question_poster %}
				{% trans 'to unfollow this question (stop getting notifications when anyone posts a new answer to this question).' as unfollow_text %}
				{% trans 'to follow this question (get notifications when anyone posts a new answer to this question).' as follow_text %}
				<p>
					<a data-id="{{ question.id }}" role="button" class="btn btn-sm {% if is_following %} btn-secondary js-selected {% else %} btn-outline-secondary {% endif %} js-follow-button">
						{% trans 'Click here' %} 
						<i class="fas fa-bullseye" aria-hidden="true"></i>
					</a> 
					<span class="js-follow-unfollow-text">
						{% if is_following %}
							{{ unfollow_text }}
						{% else %}
							{{ follow_text }}
						{% endif %}
					</span>
				</p>
			{% endif %}
		</section>

		<!-- question comments -->
		<section class="px-3 question-comments">
			{% for comment in comments %}
				{% with comment_poster=comment.poster %}
				<div class="d-flex border-top border-bottom pt-2 pb-1 question-comment">
					<div class="ms-2">
						<span class="text-muted">
							{% if comment.vote_count %}
								{{ comment.vote_count }}
							{% else %}
								&nbsp;&nbsp;
							{% endif %}
						</span>
						{# upvote and flag  #}
						<div class="d-inline-flex flex-column align-items-center">
							<!-- upvote icon button -->
							<a 
								role="button" 
								class="mx-2 pb-1  js-upvote" 
								data-id="{{ comment.id }}" 
								data-poster-id="{{ comment.poster_id }}"
								data-thread="question-comment"
								title="{% trans 'This comment adds something useful to the post' %}"
							>
								{% if user in comment.upvoters.all %}
									<i class="fas fa-thumbs-up js-selected" aria-hidden="true"></i>
									<span class="visually-hidden">{% trans 'Liked' %}</span>
								{% else %}
									<i class="far fa-thumbs-up" aria-hidden="true"></i>
									<span class="visually-hidden">{% trans 'Like' %}</span>
								{% endif %}
							</a>

							<!-- flag form -->
							{% if user != comment_poster %}
								{% if user.is_anonymous %}
									<a href="{{ login_url }}?next={{ request.get_full_path }}" class="link-danger text-decoration-none" aria-label="{% trans 'Report post' %}" title="{% trans 'Report post' %}">
										<span>
											{% include "flag/flag_icon.html" %}
										</span>
									</a>
								{% else %}
									{% render_flag_form comment user request display_title=True %}
								{% endif %}
							{% endif %}

							{# if user can see flag form, he can't edit -- since only non post owner can see flag form and only post owner can potentially edit #}
							{% if user.is_authenticated %}
								<!-- edit icon button -->
								{% if user|can_edit_comment:comment %}
									{# open in new tab so that user can still easily access question info without pressing back button, etc... #}
									<a class="link-danger mx-2 pb-1" href="{% url 'qa_site:academic-question-comment-update' pk=comment.pk %}" target="_blank" title="{% trans 'Edit comment' %}"
									>
										<i class="far fa-edit" aria-hidden="true"></i>
										<span class="visually-hidden">{% trans 'Edit' %}</span>
									</a>
								{% endif %}

								<!-- delete icon button -->
								{% if user|can_delete_comment:comment %}
									<a class="link-danger mx-2 pb-1" href="{% url 'qa_site:academic-question-comment-delete' pk=comment.pk %}" title="{% trans 'Delete comment' %}"
									>
										<i class="fas fa-trash-alt" aria-hidden="true"></i>
										<span class="visually-hidden">{% trans 'Delete' %}</span>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="ms-3 js-comment-wrp">
						{{ comment.content|safe }}
						<span>-</span>
						{% if comment_poster.has_social_profile %}
							<a 
								href="{{ comment_poster.get_absolute_url }}"
								class="ms-1 me-2 px-1 bg-info opacity-75 text-decoration-none border-bottom-dotted"
								{% if comment_poster == question_poster %}
									title="{% trans 'This is the user who asked the question' %}"
								{% endif %}
							> 
								{{ comment_poster.username }}
							</a>
						{% else %}
						<span class="px-1 bg-info opacity-75" title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">{{ comment_poster.username }}</span>
						{% endif %}
						<span class="ms-2 small text-muted">{{ comment.posted_datetime }}</span>
					</div>
				</div>
				{% endwith %}
			{% comment %} {% empty %}
				<p class="border-top border-bottom my-2 py-2">{% trans 'No comment' %}</p> {% endcomment %}
			{% endfor %}
			
			<a 
				role="button" 
				class=" text-decoration-none d-inline-block mb-2 {% if comments.exists %} mt-3  {% else %} mt-2 {% endif %} js-add-question-comment"
				title="{% trans 'Use comments to ask for more information or suggest improvements. Avoid answering questions in comments' %}"
			>
				{% trans 'Add a comment' %}
			</a>
			<!-- don't separate this 2 elements, dependency in script... -->
			<form class="d-none mt-2" method="post">
				{% csrf_token %}
				{{ qstn_comment_form|crispy }}
				
				<input type="hidden" name="question_id" value="{{ question.id }}">
				<input type="submit" class="btn btn-sm btn-purple" name="add_question_comment" value="{% trans 'Add comment' %}">
			</form>
		</section>
		<hr class="mb-2">

		<!-- question answers -->
		<section class="px-3 question-answers">
			<div class="d-flex answers-header">
				<span class="answers-header__count">
					{{ num_answers }} {% trans 'Answer' %}{{ num_answers|pluralize }}
				</span>
				{# TODO insert order_by dropdown form here (like myschool ...) #}
				<div></div>
			</div>
			<div class="answers-list">
				{% for answer in answers %}
					{# answer-layout #}
					<div class="pt-2 pb-3 px-2 mb-3 border">
						{% with original_lang=answer.original_language %}
						<div class="mt-3 mb-4 answer-content" {% if answer|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
							{{ answer.content|safe }}
							{% include 'core/google_attribution.html' with object=answer %}
						</div>
						{% endwith %}
						
						<div class="mt-3 mb-3 answer-reaction">
							<div class="d-inline mx-2 answer-reaction-upvote">
								<a 
									role="button" 
									class="text-decoration-none  js-upvote"
									data-id="{{ answer.id }}" 
									data-poster-id="{{ answer.poster_id }}"
									data-thread="answer" 
									title="{% trans 'Vote this answer UP if it is useful. (click again to undo)' %}"
								>
									{% if user in answer.upvoters.all %}
										<i class="fas fa-thumbs-up js-selected" aria-hidden="true"></i>
										{% trans 'Liked' %}
									{% else %}
										<i class="far fa-thumbs-up" aria-hidden="true"></i>
										{% trans 'Like' %}
									{% endif %}
								</a>
								<span class="ms-1 text-success">{{ answer.upvote_count }}</span>
							</div>
							<div class="d-inline mx-2 answer-reaction-downvote">
								<a 
									role="button" 
									class="text-decoration-none  js-downvote" 
									data-thread="answer"
									data-id="{{ answer.id }}"
									data-poster-id="{{ answer.poster_id }}"
									title="{% trans 'Vote this answer DOWN if it is not useful. (click again to undo)' %}"
								>
									{% if user in answer.downvoters.all %}
										<i class="fas fa-thumbs-down js-selected" aria-hidden="true"></i>
										{% trans 'Disliked' %}
									{% else %}
										<i class="far fa-thumbs-down" aria-hidden="true"></i>
										{% trans 'Dislike' %}
									{% endif %}
								</a>
								<span class="ms-1 text-danger">{{ answer.downvote_count }}</span>
							</div>
							<!-- flag area -->
							<!-- this is the flag parent wrapper -->
							{% if user.id != answer.poster_id %}
							<span class="ms-3">
								{% if user.is_anonymous %}
									<a href="{{ login_url }}?next={{ request.get_full_path }}" class="link-danger text-decoration-none">
										{% trans 'Report post' %}
										<span>
											{% include "flag/flag_icon.html" %}
										</span>
									</a>
								{% else %}
									<span class="link-danger js-flagHelper" role="button">
										{% if user|has_flagged:answer %} 
											{% trans 'Remove flag' %}
										{% else %} 
											{% trans 'Report post' %} 
										{% endif %}
									</span> 
									{% render_flag_form answer user request %}
								{% endif %}
							</span>
							{% endif %}
						</div>	

						<!-- edit and delete area -->
						{% if user|can_edit_answer:answer or user|can_delete_answer:answer %}
							<div class="mb-4">
								{% if user|can_edit_answer:answer %}
									<div class="d-inline mx-2">
										<a class="text-decoration-none link-danger" href="{% url 'qa_site:academic-answer-update' pk=answer.pk %}">
											<i class="fas fa-edit me-1" aria-hidden="true"></i>
											{% trans 'Edit answer' %}
										</a>
									</div>
								{% endif %}
								{% if user|can_delete_answer:answer %}
									<div class="d-inline mx-2">
										<a class="text-decoration-none link-danger" href="{% url 'qa_site:academic-answer-delete' pk=answer.pk %}">
											<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
											{% trans 'Delete answer' %}
										</a>
									</div>
								{% endif %}
							</div>
						{% endif %}

						{# answer comments here #}
						<div class="px-3 answer-comments">
							{% for comment in answer.comments.all %}
								{% with comment_poster=comment.poster %}
								<div class="d-flex border-top border-bottom pt-2 pb-1 answer-comment">
									<span class="text-muted">
										{% if comment.vote_count %}
											{{ comment.vote_count }}
										{% else %}
											&nbsp;&nbsp;
										{% endif %}
									</span>
									<div class="d-inline-flex flex-column align-items-center">
										<a 
											role="button" 
											class="mx-2 pb-1  js-upvote" 
											data-id="{{ comment.id }}" 
											data-poster-id="{{ comment.poster_id }}"
											data-thread="answer-comment"
											title="{% trans 'This comment adds something useful to the post' %}"
										>
											{% if user in comment.upvoters.all %}
												<i class="fas fa-thumbs-up js-selected" aria-hidden="true"></i>
												<span class="visually-hidden">{% trans 'Liked' %}</span>
											{% else %}
												<i class="far fa-thumbs-up" aria-hidden="true"></i>
												<span class="visually-hidden">{% trans 'Like' %}</span>
											{% endif %}
										</a>
										<!-- flag form -->
										{% if user != comment_poster %}
											{% if user.is_anonymous %}
												<a href="{{ login_url }}?next={{ request.get_full_path }}" class="link-danger text-decoration-none" aria-label="{% trans 'Report post' %}" title="{% trans 'Report post' %}">
													<span>
														{% include "flag/flag_icon.html" %}
													</span>
												</a>
											{% else %}
												{% render_flag_form comment user request display_title=True %}
											{% endif %}
										{% endif %}
										
										{# if user can see flag form, he can't edit -- since only non post owner can see flag form and only post owner can potentially edit #}
										{% if user.is_authenticated %}
											<!-- edit icon button -->
											{% if user|can_edit_comment:comment %}
												{# open in new tab so that user can still easily access question info without pressing back button, etc... #}
												<a class="link-danger mx-2 pb-1" href="{% url 'qa_site:academic-answer-comment-update' pk=comment.pk %}" target="_blank" title="{% trans 'Edit comment' %}"
												>
													<i class="far fa-edit" aria-hidden="true"></i>
													<span class="visually-hidden">{% trans 'Edit' %}</span>
												</a>
											{% endif %}

											<!-- delete icon button -->
											{% if user|can_delete_comment:comment %}
												<a class="link-danger mx-2 pb-1" href="{% url 'qa_site:academic-answer-comment-delete' pk=comment.pk %}" title="{% trans 'Delete comment' %}"
												>
													<i class="fas fa-trash-alt" aria-hidden="true"></i>
													<span class="visually-hidden">{% trans 'Delete' %}</span>
												</a>
											{% endif %}
										{% endif %}
									</div>
									<div class="ms-3 js-comment-wrp">
										{{ comment.content|safe }}
										<span>-</span>
										{% if comment_poster.has_social_profile %}
											<a 
												href="{{ comment_poster.get_absolute_url }}"
												class="ms-1 me-2 px-1 bg-info opacity-75 text-decoration-none border-bottom-dotted"
												{% if comment_poster == question_poster %}
													title="{% trans 'This is the user who asked the question' %}"
												{% endif %}
											> 
												{{ comment_poster.username }}
											</a>
										{% else %}
										<span class="px-1 bg-info opacity-75" title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">{{ comment_poster.username }}</span>
										{% endif %}
										<span class="ms-2 small text-muted">{{ comment.posted_datetime }}</span>
									</div>
								</div>
								{% endwith %}
							{% endfor %}
							
							<a 
								role="button" 
								class=" text-decoration-none d-inline-block pt-4 mb-3 js-add-answer-comment"
								title="{% trans 'Use comments to ask for more information or suggest improvements. Avoid answering questions in comments' %}"
							>
								{% trans 'Add a comment' %}
							</a>
							<!-- don't separate these 2 elements, dependency in script... -->
							<form class="d-none mt-2" method="post">
								{% csrf_token %}
								{{ ans_comment_form|crispy }}
								
								<input type="hidden" name="question_id" value="{{ question.id }}">
								<input type="hidden" name="answer_id" value="{{ answer.id }}">
								<input type="submit" class="btn btn-sm btn-purple" name="add_answer_comment" value="{% trans 'Add comment' %}">
							</form>
						</div>
					</div>
				{% endfor %}

				{# add answer section #}
				<a 
					role="button" 
					class=" text-decoration-none d-inline-block mt-3 mb-3 js-add-answer"
				>
					{% trans 'Answer this question' %}
				</a>
				<!-- don't separate this 2 elements, dependency in script... -->
				<form class="d-none mt-2" method="post">
					{% csrf_token %}
					{% comment %} {{ answer_form.media }} {% endcomment %}
					{{ answer_form|crispy }}
					
					<input type="hidden" name="question_id" value="{{ question.id }}">
					<input type="submit" class="btn btn-purple" name="add_answer" value="{% trans 'Post Answer' %}">
				</form>
			</div>
		</section>
		{% endwith %}
	</article>

	
	<!-- Related Questions -->
	{% if related_qstns.exists %}
		<hr class="mb-4">
		<aside class="p-3">
			<h5 class="mb-3">{% trans 'Related Questions' %}</h5>
			{% for question in related_qstns %}
				{% with original_lang=question.original_language question_score=question.score %}
				<div class="mb-2"> <!-- class 'related-question' -->
					<a href="{{ question.get_absolute_url }}" class=" text-decoration-none">
						<span 
							class="
								badge align-middle px-2 py-1 me-2 
								{% if question_score > 0 %} bg-success 
								{% elif question_score < 0 %} bg-danger 
								{% else %} bg-secondary {% endif %}
							"
						>
							{{ question_score }}
						</span>
						<span>
							<span {% if question|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
								{{ question.title }}
							</span> - 
							<strong>
								{{ question.num_answers }} {% trans 'answer' %} 
								{{ question.num_answers|pluralize }}
							</strong>
						</span>
					</a>
					<span class="small text-muted mx-2">{{ question.posted_datetime|naturaltime }}</span>
					{% include 'core/google_attribution.html' with object=question %}
					<a class="link-success" href="{{ question.get_absolute_url }}">{% trans 'Answer this' %}</a>
				</div>
				{% endwith %}
			{% endfor %}
		</aside>
	{% else %}
		<br>
	{% endif %}
</div>
{% endblock content %}


{% block extra_js %}
<!-- <script src="{% static 'js/flag.js' %}"></script> -->
<script>
	// call highlight js to highligt code on page
	hljs.highlightAll();

	// reduce margin of paragraphs so as to use less space..
	$('.js-comment-wrp').children('p').css('margin-bottom', '.2rem');

	/* FLAG FORM */
	// trigger click on flag-report-icon when flag helper is clicked
	$('.js-flagHelper').click(function() {
		var $parentWrp = $(this).parent();
		// console.log($parentWrp);
		$parentWrp.find('.js-flag-report-icon').first().click();
		// $('.js-flag-report-icon').first().click();
	});

	// set unique id on ckeditor instances
	var $ansCommentEditors = $('.js-answerComment');
	for (var i = 0; i < $ansCommentEditors.length; i++) {
		var editor = $ansCommentEditors[i];
		editor.setAttribute('id', uid());
	}

	// possible thread types are {question, answer, question-comment, answer-comment}
	var THREAD_TYPES = ["question", "answer", "question-comment", "answer-comment"];
	var $upvoteTriggerer = $('.js-upvote'), $downvoteTriggerer = $('.js-downvote');

	/* get current user's id.. */
	// if user isn't logged in, user.id and userPoints will be "None"
	var userId = "{{ user.id }}", userPoints = "{{ user.site_points }}";
	var requiredDownvotePoints = {{ required_downvote_points }};
	userId = (userId == "None" ? null : userId);
	var csrfToken = "{{ csrf_token }}";


	/** for general checks to do before proceeding to upvoting or downvoting */
	function onVote(event) {
		// if user isn't logged in
		if (!userId) {
			// prevent other handlers from being called(prevent sending request to backend)
			event.stopImmediatePropagation();
			displayLoginRequiredToast();
			return false;
		}

		// if thread type is invalid
		var threadType = event.currentTarget.dataset.thread;
		if (!THREAD_TYPES.includes(threadType)) {
			event.stopImmediatePropagation();
			displayErrorOccurredToast();
			return false;
		}

		// if user is voting for their post
		if (userId === this.dataset.posterId) {
			event.stopImmediatePropagation();
			displaySelfVoteToast();
			return false;
		}
	}

	$upvoteTriggerer.click(onVote);
	$downvoteTriggerer.click(onVote);

	// hide button and display forms when button is clicked
	$('.js-add-question-comment, .js-add-answer-comment, .js-add-answer').click(function(event) {
		// console.log(event.target == this);  true !

		// if current user isn't logged in
		if (!userId) {
			event.stopImmediatePropagation();
			displayLoginRequiredToast();
			return false;
		}

		var $this = $(this);
		// remove bootstrap class from element(class is used with the !important keyword 
		// so we need to remove it for the hide() method for it to work)
		$this.removeClass('d-inline-block');  
		$this.hide();
		var $form = $this.next();
		$form.removeClass('d-none');
	});

	/* UPVOTES */
	$upvoteTriggerer.click(function() {
		var $this = $(this);
		var $icon = $this.children('i'), id = parseInt(this.dataset.id, 10);
		
		// possible thread types are {question, answer, question-comment, answer-comment}
		var voteType = 'up', threadType = this.dataset.thread;
		var url = "{% url 'qa_site:academic-thread-vote' %}";

		// if user is trying to undo the vote(the upvote)
		if ($icon.hasClass('js-selected')) {
			var voteAction = 'recall-vote';

			$.ajax({
				url: url,
				type: 'POST',
				dataType: 'json',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					if (response['success']) {
						// remove fas(font-awesome solid) class and set to far(font-awesome regular)
						$icon.removeClass('fas js-selected').addClass('far');

						// update number of votes
						if (threadType == 'question-comment' || threadType == 'answer-comment') {
							// update vote count
							// span comes before vote icon for comments
							var $voteCounter = $this.parent().prev();
							var prevCount = parseInt($voteCounter.text(), 10);

							// if no vote was on comment(if the voteCounter is empty)
							if (Number.isNaN(prevCount)) {
								$voteCounter.text('1');
							} else {
								$voteCounter.text(prevCount - 1);
							}
							
						} else {
							var $voteCounter = $this.next();
							var prevCount = parseInt($voteCounter.text(), 10);
							$voteCounter.text(prevCount - 1);
							
							// update text
							var textNode = $icon[0].nextSibling;
							textNode.textContent = " {% trans 'Like' %}";
						}
					} else {
						// console.log(response);
						displayCustomErrorToast(response['message']);
					}
				}
			});

		} else {
			// if user is adding a new vote
			var voteAction = 'vote';

			$.ajax({
				url: url,
				type: 'POST',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					if (response['success']) {
						// remove far class and set to fas
						$icon.removeClass('far').addClass('fas js-selected');

						if (threadType == 'question-comment' || threadType == 'answer-comment') {
							// update vote count
							// span comes before vote icon for comments
							var $voteCounter = $this.parent().prev();
							var prevCount = parseInt($voteCounter.text(), 10);

							// if no vote was on comment(if the voteCounter is empty)
							// set vote count to 1
							if (Number.isNaN(prevCount)) {
								$voteCounter.text('1');
							} else {
								$voteCounter.text(prevCount + 1);
							}
						} else {
							// update count
							var $voteCounter = $this.next();
							var prevCount = parseInt($voteCounter.text(), 10);
							$voteCounter.text(prevCount + 1);

							// update text
							var textNode = $icon[0].nextSibling;
							textNode.textContent = " {% trans 'Liked' %}";
						}
					} else {
						// console.log(response);
						var msg = response['message'];
						// console.log({{ msg|linebreaksbr }}); 
						displayCustomErrorToast(response['message']);
					}
				},
				error: function() {
					console.error("Error");
				}
			});
		}
	});

	/* DOWNVOTES */
	$downvoteTriggerer.click(function() {
		var $this = $(this);
		var $icon = $this.children('i'), id = parseInt(this.dataset.id, 10);
		var voteType = 'down', threadType = this.dataset.thread;
		var url = "{% url 'qa_site:academic-thread-vote' %}";

		// if user is trying to undo the vote(the upvote)
		if ($icon.hasClass('js-selected')) {
			var voteAction = 'recall-vote';

			$.ajax({
				url: url,
				type: 'POST',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					if (response['success']) {
						// remove fas(font-awesome solid) class and set to far(font-awesome regular)
						$icon.removeClass('fas js-selected').addClass('far');

						// update count
						var $voteCounter = $this.next();
						var prevCount = parseInt($voteCounter.text(), 10);
						$voteCounter.text(prevCount - 1);

						// update text
						var textNode = $icon[0].nextSibling;
						textNode.textContent = " {% trans 'Dislike' %}";
					} else {
						// console.log(response);
						displayCustomErrorToast(response['message']);
					}
				}
			});

		} else {
			// if user is adding a new downvote
			var voteAction = 'vote';

			// user should have number of points required
			// the isNumeric func is in the js file
			console.log(isNumeric(userPoints));
			if (isNumeric(userPoints) && userPoints < requiredDownvotePoints) {
				var toastMsg = {% blocktrans %} "You need at least <strong>{{ required_downvote_points }} points</strong> to be able to add a dislike." {% endblocktrans %};
				displayCustomErrorToast(toastMsg);
				return false;
			}

			$.ajax({
				url: url,
				type: 'POST',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					if (response['success']) {
						// remove far class and set to fas
						$icon.removeClass('far').addClass('fas js-selected');

						// update count
						var $voteCounter = $this.next();
						var prevCount = parseInt($voteCounter.text(), 10);
						$voteCounter.text(prevCount + 1);

						// update text
						var textNode = $icon[0].nextSibling;
						textNode.textContent = " {% trans 'Disliked' %}";
					} else {
						// console.log(response);
						displayCustomErrorToast(response['message']);
					}
				}
			});
		}

	});


	/** FOLLOWING **/
	// do this only if user isn't owner of question
	{% if user.id != question.poster_id %}
		// no need to complicate following by creating another template and script
		// besides it is used in only two templates; (both questions detail templates)
		$('.js-follow-button').click(function(event) {
			// if user isn't logged in
			if (!userId) {
				displayLoginRequiredToast();
				return false;
			}

			var $this = $(this);
			var id = parseInt(this.dataset.id, 10);
			var url = "{% url 'qa_site:academic-follow-toggle' %}";
			var $followUnfollowSpan = $('.js-follow-unfollow-text').first();
			
			// if user is trying to undo the follow
			if ($this.hasClass('js-selected')) {
				var voteAction = 'recall-follow';

				$.ajax({
					url: url,
					type: 'POST',
					data: {id: id, action: voteAction},
					dataType: 'json',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("X-CSRFToken", csrfToken);
					},
					success: function(result) {
						if (result['unfollowed']) {
							$this.removeClass('js-selected btn-secondary').addClass('btn-outline-secondary');
							$followUnfollowSpan.text({{ follow_text }});
							displayFollowToggleToast(false);

						} else {
							console.error(result);
							displayErrorOccurredToast();
						}
					}
				});

			} else {
				// if user is following question
				var voteAction = 'follow';

				$.ajax({
					url: url,
					type: 'POST',
					data: {id: id, action: voteAction},
					dataType: 'json',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("X-CSRFToken", csrfToken);
					},
					success: function(result) {
						if (result['followed']) {
							$this.removeClass('btn-outline-secondary').addClass('js-selected btn-secondary');
							$followUnfollowSpan.text({{ unfollow_text }});
							displayFollowToggleToast(true);
						} else {
							console.error(result);
							displayErrorOccurredToast();
						}
					}
				});
			}
		});
	{% endif %}
</script>
{% endblock %}