{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load flag_tags %}
{% load app_extras %}  

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	<title>{{ question|safe }} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/jquery-comments.css' %}">
{% endblock %}

{% block extra_script_pre %}
{% comment %} <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/adapters/jquery.js' %}"></script> {% endcomment %}

{# https://github.com/naugtur/insertionQuery #}
<script src="{% static 'js/insQ.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/jquery.textcomplete.js' %}"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script> {% endcomment %}
<script src="{% static 'js/jquery-comments.js' %}"></script>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- toasts -->
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-custom-error-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body js-toast-message">
			{# custom message will be inserted here via js #}
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-login-required-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			{% trans 'You need to be logged in to perform this action.' %} 
			<p class="text-dark mt-1 mb-0">
				{% trans 'Click' %} 
				<a href="{% url 'users:login' %}?next={{ request.get_full_path }}">
					{% trans 'here' %}
				</a> 
				{% trans 'to login to your account or' %} 
				<a href="{% url 'users:register' %}" target="_blank">
					{% trans 'here' %}
				</a> 
				{% trans "to sign up if you don't yet have an account." %}
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-self-vote-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			{% trans "You can't vote for your own post" %} 
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-error-occurred-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			<p>
				{% trans 'An error occured, please refresh the page then try again.' %} <br>
				{% trans 'If it persists, contact us.' %}
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-purple align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-followed-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			<p>	
				{% blocktrans %}
					You are now following this question. You'll receive notifications when there's activity on this post.
				{% endblocktrans %} <br>
				{% trans 'Click' %}
				<a href="{% url 'users:profile-qa' %}">{% trans 'here' %}</a>
				{% trans 'to see the questions you are following' %}.
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<div class="toast hide alert alert-purple align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-unfollowed-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			<p>	
				{% blocktrans %}
					You are no longer following this question. 
					You'll not receive notifications when there's activity on this post.
				{% endblocktrans %} <br>
				{% trans 'Click' %}
				<a href="{% url 'users:profile-qa' %}">{% trans 'here' %}</a>
				{% trans 'to see the questions you are following' %}.
			</p>
		</div>
		<button 
			type="button" 
			class="btn-close me-2 m-auto" 
			data-bs-dismiss="toast" 
			aria-label="{% trans 'Close' %}"
		>
		</button>
	</div>
</div>

{% get_login_url as login_url %}

<div class="border py-3 mb-5 container-lg">
	<article class="js-question" data-id="{{ question.id }}">
		{% with question_poster=question.poster %}
		<div class="text-end mb-3 mb-md-0 me-4">
			<a href="{% url 'qa_site:discuss-question-create' %}" class="btn btn-warning">
				{% trans 'Ask a Question' %}
			</a>
		</div>
		{# question info #}
		<p class="mb-lg-1">
			<span class="mx-1">
				{% trans 'Asked' %}
				<strong title="{{ question.posted_datetime }}">
					{{ question.posted_datetime|naturaltime }}
				</strong> 
			</span>
			<span class="mx-1">
				{% trans 'By' %}
				{% if question_poster.has_social_profile %}
					<a 
						class="px-1 bg-info opacity-75 text-decoration-none border-bottom-dotted" 
						href="{{ question_poster.get_absolute_url }}"
					>
						{{ question_poster.username }}
					</a>
				{% else %}
					<span 
						class="px-1 bg-info" 
						title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}"
					>
						{{ question_poster.username }}
					</span>
				{% endif %}
			</span>
			{% if question.school_id %}
				<span class="mx-1">
					{% trans 'Concerning' %}
					<a 
						href="{% url 'qa_site:discuss-question-list' %}?school={{ question.school_id }}" 
						class="text-decoration-none"
					>
						{{ question.school }}
					</a>
				</span>
			{% endif %}
			{% with view_count=question.view_count %}
			<p class="mx-1">
				{% trans 'Views' %}:
				<span class="ms-2">
					{{ view_count }}
					<i class="far fa-eye ms-1" aria-hidden="true"></i>
				</span>
			</p>
			{% endwith %}
		</p>

		<hr class="mb-3">
		<section class="mb-4 px-3 question-layout">
			{% with original_lang=question.original_language %}
			<div 
				class="mt-3 mb-4 question-content" 
				{% if question|should_attribute:LANGUAGE_CODE %} 
				lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" 
				{% endif %}
			>
				{{ question.content|safe }}
				{% include 'core/google_attribution.html' with object=question %}
			</div>
			{% endwith %}
			{% if question_tags.exists %}
				<div class="question-taglist">
					{% for tag in question_tags %}
						<span class="badge rounded-pill bg-secondary p-2">
							{{ tag.name }}
						</span>
					{% endfor %}
				</div>
			{% endif %}
			
			<!-- Question reactions -->
			<div class="mt-3 mb-3">
				<!-- upvote -->
				<div class="d-inline mx-2">
					<a 
						role="button" 
						class="text-decoration-none js-upvote" 
						data-id="{{ question.id }}"
						data-poster-id="{{ question.poster_id }}"
						data-thread="question"
						title="{% trans 'Vote this question UP if it is useful and clear. (click again to undo)' %}"
					>
						{% if user in question.upvoters.all %}
							<i class="fas fa-thumbs-up js-selected" aria-hidden="true"></i>
							{% trans 'Liked' %}
						{% else %}
							<i class="far fa-thumbs-up" aria-hidden="true"></i>
							{% trans 'Like' %}
						{% endif %}
					</a>
					<span class="ms-1 text-success">{{ question.upvote_count }}</span>
				</div>
				<!-- downvote -->
				<div class="d-inline mx-2">
					<a 
						role="button" 
						class="text-decoration-none js-downvote" 
						data-thread="question" 
						data-id="{{ question.id }}"
						data-poster-id="{{ question.poster_id }}"
						title="{% trans 'Vote this question DOWN if it is unclear or not useful. (click again to undo)' %}"
					>
						{% if user in question.downvoters.all %}
							<i class="fas fa-thumbs-down js-selected" aria-hidden="true"></i>
							{% trans 'Disliked' %}
						{% else %}
							<i class="far fa-thumbs-down" aria-hidden="true"></i>
							{% trans 'Dislike' %}
						{% endif %}
					</a>
					<span class="ms-1 text-danger">{{ question.downvote_count }}</span>
				</div>

				<!-- Bookmark area -->
				<div class="d-inline mx-2">
					{% url 'qa_site:discuss-bookmark-toggle' as bookmark_url %}
					{% url 'users:profile-qa' as bookmarks_url %}
					{% trans 'Add this question to your favourites. (click again to undo)' as title_text %}
					{% render_bookmark_template question bookmark_url bookmarks_url title_text %}
				</div>
				<!-- Share area -->
				<div class="d-inline mx-2">
					{% trans 'Share a link to this question' as heading %}
					{% include 'core/social_share_tooltip.html' with heading=heading title='' url=request.build_absolute_uri %}
				</div>
				<!-- flag area -->
				{# if question belongs to user, don't display follow widget. #}
				{% if user != question_poster %}
					<div class="d-inline float-end">
						{% if user.is_anonymous %}
							<a href="{{ login_url }}?next={{ request.get_full_path }}" class="link-danger text-decoration-none opacity-75">
								{% trans 'Report post' %}
								<span>
									{% include "flag/flag_icon.html" %}
								</span>
							</a>
						{% else %}
							{# js-flagHelper will be used in scripts to modify the flag text after flagging or unflagging #}
							<span class="link-danger opacity-75 js-flagHelper" role="button">
								{% if user|has_flagged:question %} 
									{% trans 'Remove flag' %}
								{% else %} 
									{% trans 'Report post' %} 
								{% endif %}
							</span> 
							<div class="d-inline-block">
								{% render_flag_form question user request %}
							</div>
						{% endif %}
					</div>
				{% else %}
					{% comment %} 
					Normally flag form shouldn't be displayed if current user is poster, but we need
					to in this case due to the comment section... (flagging form need to be rendered on the page).
					{% endcomment %}
					<span class="ms-2">
						| {% render_flag_form question user request False %}
					</span>
				{% endif %}
			</div>
			
			<!-- edit and delete area -->
			{% comment %} do this check only if user is authenticated; 
			since we need to determine if user can edit or delete the question {% endcomment %}
			{% if can_edit_question or can_delete_question %}
				<div class="mb-4">
					{% if can_edit_question %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'qa_site:discuss-question-update' pk=question.pk %}">
								<i class="fas fa-edit me-1" aria-hidden="true"></i>
								{% trans 'Edit question' %}
							</a>
						</div>
					{% endif %}
					{% if can_delete_question %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'qa_site:discuss-question-delete' pk=question.pk %}">
								<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
								{% trans 'Delete question' %}
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}

			<!-- follow area -->
			{# if question belongs to user, don't display follow widget. #}
			{% if user != question_poster %}				
				<p class="mt-4 mb-5">
					<button data-id="{{ question.id }}" class="btn btn-sm {% if is_following %} btn-secondary js-selected {% else %} btn-outline-secondary {% endif %} js-follow-button">
						{% trans 'Click here' %} 
						<i class="fas fa-bullseye" aria-hidden="true"></i>
					</button> 
					<span class="js-follow-unfollow-text">
						{% if is_following %}
							{{ unfollow_text }}
						{% else %}
							{{ follow_text }}
						{% endif %}
					</span>
				</p>
			{% endif %}
		</section>

		{# container for jquery-comments #}
		<section id="question-comments"></section>

		{% endwith %}
	</article>

	<!-- Related Questions -->
	{% if related_qstns.exists %}
		<hr class="mb-4">
		<aside class="p-3">
			<h5 class="mb-3">{% trans 'Related Questions' %}</h5>
			{% for question in related_qstns %}
				{% with original_lang=question.original_language question_score=question.score %}
				<div class="mb-2"> <!-- class 'related-question' -->
					<a href="{{ question.get_absolute_url }}" class=" text-decoration-none">
						<span 
							class="
								badge align-middle px-2 py-1 me-2 
								{% if question_score > 0 %} bg-success 
								{% elif question_score < 0 %} bg-danger 
								{% else %} bg-secondary {% endif %}
							"
						>
							{{ question_score }}
						</span>
						<span>
							<span {% if question|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
								{{ question.content|remove_tags|truncatewords:50|safe }}
							</span> - 
							<strong>
								{{ question.num_answers }} 
								{% trans 'answer' %}{{ question.num_answers|pluralize }}
							</strong>
						</span>
					</a>
					<span class="small text-muted mx-2">{{ question.posted_datetime|naturaltime }}</span>
					{% include 'core/google_attribution.html' with object=question %}
					<a class="link-success" href="{{ question.get_absolute_url }}">{% trans 'Answer this' %}</a>
				</div>
				{% endwith %}
			{% endfor %}
		</aside>
	{% else %}
		<br>
	{% endif %}
</div>
{% endblock content %}


{% block extra_js %}
<script>
	/* Get current user's id.. */
	// if user isn't logged in, user.id and userPoints will be "None"
	var userId = "{{ user.id }}", userPoints = "{{ user.site_points }}";
	var requiredDownvotePoints = {{ required_downvote_points }}, posterId = {{ question.poster_id }};
	userId = (userId == "None" ? null : userId);
	var csrfToken = "{{ csrf_token }}";
	// reduce margin of paragraphs so as to use less space..
	$('.js-comment-wrp').children('p').css('margin-bottom', '.2rem');

	/* FLAG FORM */
	// trigger click on flag-report-icon when flag helper is clicked
	$('.js-flagHelper').click(function() {
		var $parentWrp = $(this).parent();
		// console.log($parentWrp);
		$parentWrp.find('.js-flag-report-icon').first().click();
		// $('.js-flag-report-icon').first().click();
	});

	// possible thread types are {question, comment}
	var THREAD_TYPES = ["question", "comment"];
	var $upvoteTriggerer = $('.js-upvote'), $downvoteTriggerer = $('.js-downvote');

	function onVote(event) {
		// if user isn't logged in
		if (!userId) {
			// prevent other handlers from being called(prevent sending request to backend)
			event.stopImmediatePropagation();
			displayToast('LOGIN_REQUIRED');
			return false;
		}

		// if thread type is invalid
		var threadType = event.currentTarget.dataset.thread;
		if (!THREAD_TYPES.includes(threadType)) {
			event.stopImmediatePropagation();
			displayToast('ERROR_OCCURRED');
			return false;
		}

		// if user is voting for their post
		if (userId === this.dataset.posterId) {
			event.stopImmediatePropagation();
			displayToast('SELF_VOTE');
			return false;
		}
	}

	$upvoteTriggerer.click(onVote);
	$downvoteTriggerer.click(onVote);

	/* UPVOTES */
	$upvoteTriggerer.click(function() {
		var $this = $(this);
		var $icon = $this.children('i'), id = parseInt(this.dataset.id, 10);
		
		// possible thread types are {question, comment}
		var voteType = 'up', threadType = this.dataset.thread;
		var url = "{% url 'qa_site:discuss-thread-vote' %}";

		// if user is trying to undo the vote(the upvote)
		if ($icon.hasClass('js-selected')) {
			var voteAction = 'recall-vote';

			$.ajax({
				url: url,
				type: 'POST',
				dataType: 'json',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response, status, jqXHR) {
					// remove fas(font-awesome solid) class and set to far(font-awesome regular)
					$icon.removeClass('fas js-selected').addClass('far');

					// update number of votes
					var $voteCounter = $this.next();
					var prevCount = parseInt($voteCounter.text(), 10);
					$voteCounter.text(prevCount - 1);
					
					// update text
					var textNode = $icon[0].nextSibling;
					textNode.textContent = " {% trans 'Like' %}";
				},
				error: function(jqXHR, status, error) {
					displayToast('CUSTOM_ERROR', jqXHR.responseJSON['message']);
				}
			});
		} else {
			// if user is adding a new vote
			var voteAction = 'vote';

			$.ajax({
				url: url,
				type: 'POST',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					// remove far class and set to fas
					$icon.removeClass('far').addClass('fas js-selected');

					// update count
					var $voteCounter = $this.next();
					var prevCount = parseInt($voteCounter.text(), 10);
					$voteCounter.text(prevCount + 1);

					// update text
					var textNode = $icon[0].nextSibling;
					textNode.textContent = " {% trans 'Liked' %}";
				},
				error: function(jqXHR, status, error) {
					displayToast('CUSTOM_ERROR', jqXHR.responseJSON['message']);
				}
			});
		}
	});

	/* DOWNVOTES */
	$downvoteTriggerer.click(function() {
		var $this = $(this);
		var $icon = $this.children('i'), id = parseInt(this.dataset.id, 10);
		var voteType = 'down', threadType = this.dataset.thread;
		var url = "{% url 'qa_site:discuss-thread-vote' %}";

		// if user is trying to undo the vote(the upvote)
		if ($icon.hasClass('js-selected')) {
			var voteAction = 'recall-vote';

			$.ajax({
				url: url,
				type: 'POST',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					// remove fas(font-awesome solid) class and set to far(font-awesome regular)
					$icon.removeClass('fas js-selected').addClass('far');

					// update count
					var $voteCounter = $this.next();
					var prevCount = parseInt($voteCounter.text(), 10);
					$voteCounter.text(prevCount - 1);

					// update text
					var textNode = $icon[0].nextSibling;
					textNode.textContent = " {% trans 'Dislike' %}";
				},
				error: function(jqXHR, status, error) {
					displayToast('CUSTOM_ERROR', jqXHR.responseJSON['message']);
				}
			});
		} else {
			// if user is adding a new vote
			var voteAction = 'vote';

			// user should have number of points required
			// isNumeric function is in the base.min.js file
			if (isNumeric(userPoints) && userPoints < requiredDownvotePoints) {
				var toastMsg = {% blocktrans %} "You need at least <strong>{{ required_downvote_points }} points</strong> to be able to add a dislike." {% endblocktrans %};
				displayToast('CUSTOM_ERROR', toastMsg);
				return false;
			}

			$.ajax({
				url: url,
				type: 'POST',
				data: {id: id, vote_type: voteType, thread_type: threadType, action: voteAction},
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(response) {
					// remove far class and set to fas
					$icon.removeClass('far').addClass('fas js-selected');

					// update count
					var $voteCounter = $this.next();
					var prevCount = parseInt($voteCounter.text(), 10);
					$voteCounter.text(prevCount + 1);

					// update text
					var textNode = $icon[0].nextSibling;
					textNode.textContent = " {% trans 'Disliked' %}";
				},
				error: function(jqXHR, status, error) {
					displayToast('CUSTOM_ERROR', jqXHR.responseJSON['message']);
				}
			});
		}
	});

	/** FOLLOWING **/
	// do this only if user isn't owner of question
	{% if user.id != question.poster_id %}
		// no need to complicate following by creating another template and script
		// besides it is used in only two templates; (both questions detail templates)
		$('.js-follow-button').click(function(event) {
			// if user isn't logged in
			if (!userId) {
				displayToast('LOGIN_REQUIRED');
				return false;
			}

			var $this = $(this);
			var id = parseInt(this.dataset.id, 10);
			var url = "{% url 'qa_site:discuss-follow-toggle' %}";
			var $followUnfollowSpan = $('.js-follow-unfollow-text').first();
			
			// if user is trying to undo the follow
			if ($this.hasClass('js-selected')) {
				var voteAction = 'recall-follow';

				$.ajax({
					url: url,
					type: 'POST',
					data: {id: id, action: voteAction},
					dataType: 'json',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("X-CSRFToken", csrfToken);
					},
					success: function(result) {
						$this.removeClass('js-selected btn-secondary').addClass('btn-outline-secondary');
						$followUnfollowSpan.text('{{ follow_text }}');
						displayToast('FOLLOW_TOGGLE', false);
					},
					error: function(jqXHR, status, error) {
						displayToast('CUSTOM_ERROR', jqXHR.responseJSON['message']);
					}
				});

			} else {
				// if user is following question
				var voteAction = 'follow';

				$.ajax({
					url: url,
					type: 'POST',
					data: {id: id, action: voteAction},
					dataType: 'json',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("X-CSRFToken", csrfToken);
					},
					success: function(result) {
						$this.removeClass('btn-outline-secondary').addClass('js-selected btn-secondary');
						$followUnfollowSpan.text('{{ unfollow_text }}');
						displayToast('FOLLOW_TOGGLE', true);
					},
					error: function(jqXHR, status, error) {
						displayToast('CUSTOM_ERROR', jqXHR.responseJSON['message']);
					}
				});
			}
		});
	{% endif %}
</script>
<script>
	const PAGE_URL = "{{ request.build_absolute_uri }}";

	{% if LANGUAGE_CODE != 'en' %}
	moment.locale('{{ LANGUAGE_CODE }}');
	{% endif %}

	var jqc;  // variable to store jquery-comment object
	var usersMentioned = [];
	$.ajax({
		type: 'GET',
		url: "{% url 'qa_site:users-mentioned' question.id %}?model_name=DiscussComment&for_jquery=1",
		success: function(result, status, jqXHR) {
			console.log(result);
			usersMentioned = result.data;
		},
		error: function(jqXHR, status, error) {
			console.error(error);
		}
	});

	/* Prepare flagging */
	const COMMENT_MODEL_NAME = 'DiscussComment';

	// Question poster & anonymous users can't flag
	if (userId) {
		var flagModal = document.querySelector('.js-flag-report-modal');
		var reportIcon = document.querySelector('.js-flag-report-icon');
		var modalClose = document.querySelector('.report-modal-close');
		var initModelName = reportIcon.dataset.modelName, initModelId = reportIcon.dataset.modelId;

		var flagSuccessToast = document.querySelector('.js-flag-success-toast');

		/** Reset data attributes of flag modal after modal is closed */
		function resetFlagModal(ev) {
			// ev.target will equal ev.currentTarget when the click is done outside the modal content
			if (ev.target == modalClose || ev.target == ev.currentTarget) {
				reportIcon.dataset.modelName = initModelName;
				reportIcon.dataset.modelId = initModelId;
			}
		}

		flagModal.addEventListener('click', resetFlagModal);
		modalClose.addEventListener('click', resetFlagModal);
	}

	{# jquery-comments config, https://viima.github.io/jquery-comments #}
	$('#question-comments').comments({
		textareaPlaceholderText: "{% trans 'Add a comment' %}",
		newestText: "{% trans 'Newest' %}",
		oldestText: "{% trans 'Oldest' %}",
		popularText: "{% trans 'Popular' %}",
		attachmentsText: "{% trans 'Attachments' %}",
		sendText: "{% trans 'Comment' %}",
		replyText: "{% trans 'Reply' %}",
		editText: "{% trans 'Edit' %}",
		editedText: "{% trans 'Edited' %}",
		youText: "{% trans 'You' %}",
		saveText: "{% trans 'Save' %}",
		deleteText: "{% trans 'Delete' %}",
		viewAllRepliesText: "{% trans 'View all' %} " + "__replyCount__" + " {% trans 'replies' %} ",
		hideRepliesText: "{% trans 'Hide replies' %}",
		noCommentsText: "{% trans 'No comments' %}",
		noAttachmentsText: "{% trans 'No attachments' %}",
		attachmentDropText: "{% trans 'Drop files here' %}",
		roundProfilePictures: true,
		enableDeletingCommentWithReplies: true,
		profilePictureUrl: (function() {
			{% with profile_image=user.social_profile.profile_image %}
			var url = "{% if profile_image %}{{ profile_image.url }}{% endif %}";
			{% endwith %}
			return url;
		})(),
		currentUserIsAdmin: false,
		enablePinging: true,
		fieldMappings: {
			// Add new fields(not known by jquery-comments) so that they will be included
			// in commentJSON
			has_flagged: 'has_flagged',
		},
		_comments: [],
		_permissions: {},
		_parseComment: function(comment) {
			// Convert pings to appropriate format
			$(Object.keys(comment.pings)).each(function(index, userId) {
				var username = comment.pings[userId];
				var pingText = '@' + username;
				comment.content = comment.content.replace(new RegExp('@' + userId, 'g'), pingText);
			}); 
			
			return comment;
		},
		searchUsers: function(term, success, error) {
			success(usersMentioned.filter(function(user) {
				// This library expects the attribute to be named 'fullname',
				// however, the fullname in this case refers to the user's username; 
				// which is what we want
				var containsSearchTerm = user.fullname.toLowerCase().indexOf(term.toLowerCase()) != -1;
				var isNotSelf = user.id != userId;
				return containsSearchTerm && isNotSelf;
			}));
		},
		_onFlagComment: function(comment) {
			var that = this, ev = event;
			
			// Display modal and update reportIcon attributes & flag button
			flagModal.style.display = 'block';
			reportIcon.dataset.modelId = comment.id;
			reportIcon.dataset.modelName = COMMENT_MODEL_NAME;

			function onSuccess() {
				var target = ev.target, btn, icon;
				if (target.tagName.toLowerCase() === 'button') {
					btn = target;
					icon = btn.querySelector('i');
				} else if (target.tagName.toLowerCase() === 'i') {
					icon = target;
					btn = icon.parentElement;
				} else {
					// throw "Invalid event target";
					return;
				}
				
				icon.setAttribute('class', 'fa-flag fas ms-2');
				btn.setAttribute('title', "{% trans 'Remove flag' %}");
				btn.firstChild.nodeValue = "{% trans 'Remove flag' %}";
				// Normally, we just have to remove the flagComment event listener.
				// But since we used bind() to add the event, there is no simple way to remove the binded
				// function since bind() creates a new function. 
				// So lets just clone the previous button (event listeners won't be attached) then replace it
				var newBtn = btn.cloneNode(true);  // true for deep cloning (with child nodes)
				btn.replaceWith(newBtn);
				newBtn.addEventListener('click', that._onUnflagComment.bind(that, comment));

				// Remove the event listener after executing it.
				flagSuccessToast.removeEventListener('shown.bs.toast', onSuccess);
			}
				
			flagSuccessToast.addEventListener('shown.bs.toast', onSuccess);
		},
		_onUnflagComment: function(comment) {
			var that = this, ev = event;
			// Update reportIcon attributes
			reportIcon.dataset.modelId = comment.id;
			reportIcon.dataset.modelName = COMMENT_MODEL_NAME;

			submitFlagForm(reportIcon, 'remove');

			function onSuccess() {
				var target = ev.target, btn, icon;
				if (target.tagName.toLowerCase() === 'button') {
					btn = target;
					icon = btn.querySelector('i');
				} else if (target.tagName.toLowerCase() === 'i') {
					icon = target;
					btn = icon.parentElement;
				} else {
					// throw "Invalid event target";
					return;
				}

				// Set reportIcon attributes back to original & update flag button
				reportIcon.dataset.modelName = initModelName;
				reportIcon.dataset.modelId = initModelId;

				icon.setAttribute('class', 'fa-flag far ms-2');
				btn.setAttribute('title', "{% trans 'Report comment' %}");
				btn.firstChild.nodeValue = "{% trans 'Report comment' %}";

				var newBtn = btn.cloneNode(true);  
				btn.replaceWith(newBtn);
				newBtn.addEventListener('click', that._onFlagComment.bind(that, comment));
				
				flagSuccessToast.removeEventListener('shown.bs.toast', onSuccess);
			}

			flagSuccessToast.addEventListener('shown.bs.toast', onSuccess);
		},
		refresh: function() {
			jqc = this;
			var $comments = $('#question-comments li.comment');
			var that = this;

			/** Function to Highlight parent comment when share icon is hovered */
			function enableHighlightParent(comment, replyToSpan) {
				if (comment && replyToSpan) {
					// console.log(comment) shows that comment.parent is sometimes null 
					// i.e in cases like the first reply, this sometimes print the parent comment...
					// so in cases where the parent comment is present, we add the event listener
					var parentId = comment.parent;
					if (parentId !== null) {
						replyToSpan.addEventListener('mouseover', function(ev) {
							var parentCommentWrp = document.querySelector(`#question-comments li.comment[data-id='${parentId}'] .comment-wrapper`);
							parentCommentWrp.style.backgroundColor = 'lightgray';

							// After some time, set color back to initial
							setTimeout(function() {
								parentCommentWrp.style.backgroundColor = 'initial';
							}, 1500);
						});
					}
				}
			}

			/** Create & insert dropdown menu for comment */
			function generateMenu(comment) {
				// `this` refers to the li.comment

				// Prepare share item(tooltip)
				var linkHref = `comment-${comment.id}`
				var commentLink = PAGE_URL + '#' + linkHref;
				const WHATSAPP_SHARER = 'https://wa.me/', FACEBOOK_SHARER = 'https://www.facebook.com/sharer/sharer.php';
				const TWITTER_SHARER ='https://www.twitter.com/intent/tweet', TWITTER_HANDLE = 'camerschools';
				var shareBtn = document.createElement('button');
				shareBtn.innerHTML = '{% trans "Share comment" %} <i class="fas fa-share ms-1" aria-hidden="true"></i>';
				setAttributes(shareBtn, {
					'class': "w-100 mt-2 link-secondary no-style-button js-share-tooltip js-comment-share-tooltip",
					'data-bs-toggle': 'tooltip',
					'data-bs-trigger': 'click',
					'data-bs-custom-class': "share-tooltip",
					'data-bs-html': "true",
					'data-bs-container': "body",
					'title': `
						<h6 class="text-nowrap mt-2">{% trans "Share a link to this comment" %}</h6>
						<input class="form-control mb-3 py-1 js-link-input" type="text" value="${commentLink}" title="${commentLink}" readonly>
						<div class="text-start mb-2">
							<button class="no-style-button text-purple js-copy-button">{% trans 'Copy link' %}</button>
							<a class="text-decoration-none link-secondary mx-3" href="${FACEBOOK_SHARER}?u=${commentLink}&t={{ title }}" target="_blank">
								<span class="visually-hidden">{% trans 'Share on Facebook' %}</span>
								<i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i>
							</a>
							<a class="text-decoration-none me-3" href="${TWITTER_SHARER}?url=${commentLink}&via={{ TWITTER_HANDLE }}&text={{ title }}" target="_blank">
								<span class="visually-hidden">{% trans 'Share on Twitter' %}</span>
								<i class="fab fa-twitter-square fa-lg" aria-hidden="true"></i>
							</a>
							<a class="text-decoration-none link-success" href="${WHATSAPP_SHARER}?text=${commentLink}" target="_blank">
								<span class="visually-hidden">{% trans 'Share on WhatsApp' %}</span>
								<i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i>
							</a>
						</div>
						<button type="button" class="btn-close btn-close-white" onclick="shareCloseBtnClick()" aria-label="{% trans 'Close' %}"></button>					
					`
				});

				// Create dropdown menu.
				// Normally a 'dropdown' class is also needed(for positioning), but apparently 
				// in this case adding it will cause problems...
				var dropdown = document.createElement("div");
				dropdown.setAttribute('class', 'd-inline');
				dropdown.innerHTML = `
					<button type="button" class="float-end" id="comment-${comment.id}-menu-btn" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-ellipsis-v"></i>	
					</button>
					<ul class="dropdown-menu py-1" role="menu" aria-labelledby="comment-${comment.id}-menu-btn">
					</ul>
				`;

				var menu = dropdown.querySelector('ul');

				// Add share to menu
				var shareLi = document.createElement('li');
				shareLi.appendChild(shareBtn);
				menu.appendChild(shareLi);

				// Enable flagging only if comment is not poster's (Edit button is not present)
				var $actions;
				if (this.classList.contains('actions')) {
					$actions = $(this);
				} else {
					$actions = $(this).find('.actions').first();
				}
				
				if ($actions.find('.action.edit').length == 0) { 
					var flagTitle = comment.has_flagged ? "{% trans 'Remove flag' %}" : "{% trans 'Report comment' %}";
					var flagClass = 'fa-flag ' + (comment.has_flagged ? 'fas' : 'far');
					var separatorStr = `
						<span class="separator" style="vertical-align: text-bottom;">.</span> 
					`;
					var flagBtn = document.createElement("button");
					flagBtn.setAttribute("class", "mt-3 mb-2 text-danger w-100");
					flagBtn.innerHTML = `${flagTitle} <i class="ms-2 ${flagClass}"></i>`;	

					if (userId) {
						if (comment.has_flagged) {
							// set the `that` object as the this object in that handler, and pass the comment
							// as an argument.
							// Binding is necessary since we want to pass an argument(comment) to the handler
							flagBtn.addEventListener('click', that._onUnflagComment.bind(that, comment));
						} else {
							flagBtn.addEventListener('click', that._onFlagComment.bind(that, comment));
						}
					} else {
						// If user is unauthed, display login required toast.
						flagBtn.addEventListener('click', displayToast.bind(null, 'LOGIN_REQUIRED'));
					}

					// Add flag to menu
					var flagLi = document.createElement('li');
					flagLi.appendChild(flagBtn);
					menu.appendChild(flagLi);
				} else {
					// Else prevent or make upvote button for current user invalid.
					// (If Edit button is present, that means comment belongs to the current user)
					// var $upvoteBtn = $action.children('.action.upvote').first();
					// var $thumbsUpIcon = $upvoteBtn.children('i').first();
					// $thumbsUpIcon.css('cursor', 'default');

					// No need to remove error toast telling user that he can't vote for his post;
					// the user should know what is happening.
					// Also, apparently, after clicking the upvote button, the cursor turns back to
					// pointer. No need to bother changing it back to default.
				}

				$actions.append(dropdown);
			}

			$comments.each(function (idx) {
				var commentId = parseInt(this.dataset.id, 10);
				var comment = that._comments.find(obj => obj.id === commentId);

				// Add comment hyperlink (appending #comment-<id> to the url should go to comment)
				var linkEl = document.createElement("a");
				var linkHref = `comment-${comment.id}`;
				linkEl.setAttribute("name", linkHref);
				this.firstChild.before(linkEl);

				// Highlight parent comment when share icon is hovered
				var replySpan = this.querySelector('.reply-to');
				enableHighlightParent(comment, replySpan);

				generateMenu.call(this, comment);
			});

			/** Make pings with social profile's cursor pointer */
			document.querySelectorAll('input.tag.ping').forEach(function (ele) {
				var user = usersMentioned.find(user => '@' + user.fullname === ele.value);
				if (user.social_profile_url) {
					ele.style.cursor = 'pointer';
				}
			});

			// Initialize new comment share button tooltips,
			// use default allowList to allow button elements ()
			bootstrap.Tooltip.Default.allowList.button = ['onclick'];
			initTooltips();

			// Add listeners for copy button
			var commentTooltips = document.querySelectorAll('.js-comment-share-tooltip'); 
			for (var i = 0; i < commentTooltips.length; i++) {
				commentTooltips[i].addEventListener('inserted.bs.tooltip', function() {
					// `this` refers to the element containing the tooltip (Share button in this case)
					var tooltip = bootstrap.Tooltip.getInstance(this);
					var copyBtn = tooltip.tip.querySelector('.js-copy-button');
					copyBtn.addEventListener('click', onCopyLink);
				});
			}

			// Regenerate menu for comment after it disappears.
			// Apparently, after editing comment or replying, the comment-wrapper is recreated.
			insertionQ('.comment-wrapper .actions').every(function(ele) {
				var commentId = parseInt(ele.closest('li.comment').dataset.id, 10);
				generateMenu.call(ele, that._comments.find(obj => obj.id === commentId));
		  });

			// Listen to when new comment is added, so as to enable highlighting its parent
			insertionQ('li.comment.by-current-user').every(function (ele) {
				var commentId = parseInt(ele.dataset.id, 10);
				var comment = that._comments.find(obj => obj.id === commentId);
				var replySpan = ele.querySelector('.reply-to');
				enableHighlightParent(comment, replySpan);
			});

			// Listen to when reply is about to be added; so as to appropriately place 
			// commenting field on page.
			// ALGORITHM: After commenting field is added, if it isn't in viewport, find the hyperlink
			// before it and go to the link. If no link is present, create one then link to it.
			insertionQ('.data-container .commenting-field').every(function (ele) {
				if (!isElementInViewport(ele)) {
					var prevElement = ele.previousSibling, href;
					if (prevElement.nodeName.toLowerCase() !== 'a') {
						href = uid().replace('id', '');  // uid() function is in base.js
						var link = document.createElement('a');
						link.setAttribute("name", href);
						ele.insertAdjacentElement('beforebegin', link);
					} else {
						href = prevElement.getAttribute('name');
					}

					// If the hash has already been set, resetting it to the same value won't have
					// any effect (won't scroll to the link). So we clear it then set it to the link. 
					// To clear it without scrolling, we use the replaceState(or pushState) function...
					if (location.hash.replace('#', '') == href) {
						history.replaceState({}, '', location.pathname);
					}

					location.hash = href;
					ele.querySelector('.textarea').focus();
				}
			});
		},	
		getComments: function(success, error) {
			var that = this;
			$.ajax({
				type: 'GET',
				url: "{% url 'qa_site:comments-cl' 'DiscussComment' %}",
				success: function(result) {
					console.log(result);
					var data = result.data;

					for (var comment of data) {
						that._permissions[comment.id] = {
							cannotUpdate: false,
							cannotUpdateMessage: '',
							cannotDelete: false,
							cannotDeleteMessage: '',
						};
					}
					that._comments = data;
					success(data);
				},
				error: error
			});
		},
		postComment: function(commentJSON, success, error) {
			if (!userId) {
				displayToast('LOGIN_REQUIRED');
				return error();
			}

			var that = this;
			$.ajax({
				type: 'POST',
				url: "{% url 'qa_site:comments-cl' 'DiscussComment' %}",
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				data: {
					parent_id: commentJSON.parent,
					question_id: {{ question.id }},
					content: that._parseComment(commentJSON).content
				},
				success: function(result) {
					var data = result.data;

					// Add comment to list of comments & permission to list of permissions
					that._comments.push(data);
					that._permissions[data.id] = {
						cannotUpdate: false,
						cannotUpdateMessage: '',
						cannotDelete: false,
						cannotDeleteMessage: ''
					};

					success(that._parseComment(data));
				},
				error: error
			});
		},
		putComment: function(commentJSON, success, error) {
			// After trying a PUT request, if it fails, we store the result in the
			// permissions array so as to prevent subsequent requests.
			var that = this, id = commentJSON.id;
			var permission = that._permissions[id];
			
			// Verify if comment can be changed
			if (permission.cannotUpdate) {
				displayToast('CUSTOM_ERROR', permission.cannotUpdateMessage);
				return error();
			} 

			$.ajax({
				type: 'PUT',
				// use cl instead of cud then append id...
				// since javascript vars do not work in python
				url: "{% url 'qa_site:comments-cl' 'DiscussComment' %}" + id + '/',
				data: JSON.stringify({
					content: that._parseComment(commentJSON).content
				}),
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: function(result) {
					success(that._parseComment(result.data));
				},
				error: function(jqXHR, status, ajaxError) {
					if (jqXHR.status === 403) {
						var response = jqXHR.responseJSON;
						displayToast('CUSTOM_ERROR', response.message);
						// Mark that comment can't be edited
						permission.cannotUpdate = true;
						permission.cannotUpdateMessage = response.message;
					}
					error();
				}
			});
		},
		deleteComment: function(commentJSON, success, error) {
			var that = this, id = commentJSON.id;
			var permission = that._permissions[id];

			// Verify if comment can be deleted
			if (permission.cannotDelete) {
				displayToast('CUSTOM_ERROR', permission.cannotDeleteMessage);
				return error();
			} 

			$.ajax({
				type: 'DELETE',
				url: "{% url 'qa_site:comments-cl' 'DiscussComment' %}" + id + '/',
				beforeSend: function (xhr) {
					xhr.setRequestHeader("X-CSRFToken", csrfToken);
				},
				success: success, // No need to bother removing the comment from list of permissions...
				error: function (jqXHR, status, ajaxError) {
					if (jqXHR.status === 403) {
						var response = jqXHR.responseJSON;
						displayToast('CUSTOM_ERROR', response.message);
						// Mark that comment can't be deleted
						permission.cannotDelete = true;
						permission.cannotDeleteMessage = response.message;
					}
					error();
				}
			});
		},
		upvoteComment: function(commentJSON, success, error) {
			if (!userId) {
				displayToast('LOGIN_REQUIRED');
				return error();
			}

			// In this function, commentJSON.user_has_upvoted is set to its opposite. 
			// i.e. if the original commentJSON had it to false, in this function, it is set to true
			// and vice versa. 
			var hadUpvoted = !(commentJSON.user_has_upvoted);
			var upvotesURL = "{% url 'qa_site:discuss-thread-vote' %}";

			// If user is creator of comment, he can't vote
			if (userId == commentJSON.creator) {
				displayToast('SELF_VOTE');
				return error();
			} else {
				// Recalling upvote
				if(hadUpvoted) {
					$.ajax({
						type: 'POST',
						url: upvotesURL,
						data: {
							id: commentJSON.id, 
							vote_type: 'up', 
							thread_type: 'comment', 
							action: 'recall-vote'
						},
						beforeSend: function (xhr) {
							xhr.setRequestHeader("X-CSRFToken", csrfToken);
						},
						success: function() {
							success(commentJSON);
						},
						error: function() {
							displayToast('ERROR_OCCURRED');
							error();
						}
					});
				} else {
					$.ajax({
						type: 'POST',
						url: upvotesURL,
						data: {
							id: commentJSON.id, 
							vote_type: 'up', 
							thread_type: 'comment', 
							action: 'vote'
						},
						beforeSend: function (xhr) {
							xhr.setRequestHeader("X-CSRFToken", csrfToken);
						},
						success: function() {
							success(commentJSON);
						},
						error: function() {
							displayToast('ERROR_OCCURRED');
							error();
						}
					});
				}
			}
		},
		pingClicked: function(userId) {
			// For all users(users mentioned), if userId is of user that has social profile
			// go to social profile.
			userId = parseInt(userId, 10);
			var user = usersMentioned.find(user => user.id === userId);
			if (user.social_profile_url) {
				location.href = user.social_profile_url;
			}
		},
		timeFormatter: function(time) {
			return moment(time).fromNow();
		},

	});
</script>
{% endblock %}
