{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Ask a Question for Discussion' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 discuss-question-form-container">
	<form name="discuss-question-form" method="post" class="shadow mt-5 discuss-question-form">
		<h2 class="mb-4 text-success text-center">{% trans 'Ask a Question or Topic for Discussion' %}</h2>
		{% csrf_token %}
		{# when using `{% crispy form %}`, the submit button leaves the form #}
		{{ form.media }}
		{{ form|crispy }}
		<input type="submit" class="btn btn-success mt-3 mb-2 px-3" value="{% trans 'Ask Question' %}">
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script>
	// place help text directly after label instead of below the ckeditor widget
	var $contentLabel = $("[for='id_content']");
	$contentLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $contentHelpText = $('#hint_id_content');
	$contentHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$contentLabel.after($contentHelpText);

	// hide html tags on footer of ckeditor widget 
	$('#cke_1_path').hide();
	
	// style tags selection section
	// var $checkboxDivs = $('#div_id_tags .form-check');
	// $checkboxDivs.parent().attr('class', 'row');
	// $checkboxDivs.attr('class', 'col-3');
	// $checkboxDivs.css({
	// 	'display': 'inline-block',
	// 	'margin-left': '.5rem',
	// 	'margin-right': '.5rem'
	// });
	// $('#hint_id_tags').css('display', 'block');
</script>
{% endblock %}