{% extends "core/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
	<title>{% trans 'Delete question' %}</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-md p-sm-3 px-4 my-5">
	<form method="post">
		{% csrf_token %}
		{% if user == object.poster %}
			<p class="mb-4">
				<span class="fs-5">
					{% trans 'Are you sure you want to delete the question' %} "{{ object }}"?
				</span> <br>
				{% blocktrans %}
					You will lose the {{ ask_question_points_change }} points you obtained from asking this question.
					However, points obtained from likes and points lost from dislikes won't be withdrawn.
				{% endblocktrans %}
			</p>
		{% else %}
			{# in case user is moderator that is about to delete the question #}
			<p class="fs-5 mb-4">
				{% trans 'Are you sure you want to delete the question' %} "{{ object }}"?
			</p>
		{% endif %}
		<input type="submit" class="btn btn-danger" value="{% trans 'Yes, delete' %}">
	</form>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}
