{% extends "core/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
	<title>{% trans 'Ask a Question' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<!-- <link rel="stylesheet" href="{% static 'minified/css/qa_site.min.css' %}"> -->
{% endblock extra_css %}

{% block content %}
<article class="container-lg mb-5 pt-3">
	<h2 class="text-success">{% trans 'Ask a Question' %}</h2>
	<section class="border pt-4 p-2">
		<div class="row mb-5">
			<div class="col-lg-4">
				{# since this image is purely decorative, set alt="" so screen readers won't read it #}
				<img src="{% static 'images/stacked-open-books.jpeg' %}" alt="" class="w-100 mb-2 mb-lg-0 pe-4 pe-lg-0 qstn-descr-img">
			</div>
			<div class="col-lg-8">
				<h4>{% trans 'Academic Questions' %}</h4>
				<p>
					{% blocktrans %}
						Post questions, or see solutions to questions relating to academic matters. Questions posted here are basically related to a particular subject (Maths, English, etc) or course (Science, Engineering, Arts, etc). Questions here are for students who would like to improve on their studies and help other students. Anyone can post and answer a question.
					{% endblocktrans %}
				</p>
				<a href="{% url 'qa_site:academic-question-list' %}" class="btn btn-outline-success me-2">
					{% trans 'View Questions' %}
				</a>
				<a href="{% url 'qa_site:academic-question-create' %}" class="btn btn-outline-success">
					{% trans 'Ask a Question' %}
				</a>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-4">
				<img src="{% static 'images/some students.jpeg' %}" alt="" class="w-100 mb-2 mb-lg-0 pe-4 pe-lg-0 qstn-descr-img">
			</div>
			<div class="col-lg-8">
				<h4>{% trans 'School-Based Questions' %}</h4>
				<p>
					{% blocktrans %}
						Questions posted or answered here are those related to particular schools. So you can find questions that have been answered on issues relating to Departments, Courses or Change of Course, Resumption Period, School Cut-Off, Admissions or Criteria for Admission into a particular institution. <br>
						Enter here to answer questions or post questions relating to a particular school.
					{% endblocktrans %}
				</p>
				<a href="{% url 'qa_site:school-question-list' %}" class="btn btn-outline-success me-2">
					{% trans 'View Questions' %}
				</a>
				<a href="{% url 'qa_site:school-question-create' %}" class="btn btn-outline-success">
					{% trans 'Ask a Question' %}
				</a>
			</div>
		</div>
	</section>
</article>
{% endblock %}

{% block extra_js %}
{% endblock %} 