{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Advertize something' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 listing-form-container">
	<form name='ad-listing-form' class="shadow listing-form" method="post">
		<h2 class="text-center mb-4 text-success">{% trans 'Advertize something'|title %}</h2>
		{% crispy form %}
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script>
	var getCitiesUrl = "{% url 'core:get-country-cities' %}";

	{% if not form.errors %}
		// Fill cities options with initial value of city
		$window.on(
			'load',
			{ url: getCitiesUrl },
			insertCities
		);
	{% endif %}

	// attach change event listener to country
	var $country = $('.js-country');
	$country.on(
		'change',
		{ url: getCitiesUrl },
		insertCities
	);

	// place listing description help text directly after label instead of below the ckeditor widget
	var $descriptionLabel = $("[for='id_description']");
	$descriptionLabel.css({'margin-bottom': '0', 'display': 'block'});
	var $descriptionHelpText = $('#hint_id_description');
	$descriptionHelpText.css({'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem'});
	$descriptionLabel.after($descriptionHelpText);
</script>
{% endblock %}