{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
	<title>{% trans 'Create your item listing' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<!-- <link rel="stylesheet" href="{% static 'minified/css/marketplace.min.css' %}"> -->
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<span class="d-none js-descrLabelText">{% trans 'Condition description' %}</span>

<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 listing-form-container">
	<form name="item-listing-form" class="shadow listing-form" method="post">
		<h2 class="text-center mb-4 text-success">{% trans 'Post an Item for Sale' %}</h2>
		{# with this tag, the csrf token will be automatically included #}
		{% crispy form %}
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'minified/js/jquery.dirty.min.js' %}"></script>
<script>
	var $window = $(window);
	var $form = $("[name='item-listing-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});

	// var NEW = 'N', USED = 'U', DEFECTIVE = 'D';
	var CONDITIONS_AND_HELP_TEXTS = {
		'N': "{% trans 'A brand-new, unused, unopened, undamaged item in its original packaging (where packaging is applicable). The item may have a custom package but it should be new. ' %}",
		'U': "{% trans 'An item that has been used previously. The item may have some signs of cosmetic wear, but it is fully operational and functions as intended.' %}",
		'D': "{% trans 'An item that does not function as intended and is not fully operational. This includes items that are defective in ways that render them difficult to use, items that require service or repair, or items missing essential components.' %}"
	};
	// get help text of initial listing condition
	$window.on('load', { conditions: CONDITIONS_AND_HELP_TEXTS }, insertConditionHelpText);

	var $condition = $('.js-condition');
	$condition.on('change', { conditions: CONDITIONS_AND_HELP_TEXTS }, insertConditionHelpText);
	$condition.on('change', {}, onConditionChange);

	// Fill sub category options with initial value of category
	var getSubCategoriesUrl = "{% url 'marketplace:get-item-subcategories' %}";
	$window.on(
		'load', 
		// pass url to js instead of hardcoding
		{ url: getSubCategoriesUrl }, 
		insertItemSubCategories
	);

	// attach change event listener to item category(main category)
	var $category = $('.js-category');
	$category.on(
		'change', 
		{ url: getSubCategoriesUrl }, 
		insertItemSubCategories
	);

	// attach submit event listener to form
	var $form = $("[name='item-listing-form']");
	$form.on(
		'submit', 
		{
			photoError: "{% trans 'Upload at least 3 photos' %}",
			priceError: "{% trans 'Price may contain only digits and/or spaces.' %}",
			alertContent: "{% trans 'The form contains some errors, correct them to continue.' %}"
		}, 
		itemListingFormSubmit
	); 

	// insert price errors container after price label(it would be very difficult trying to do this in the backend form class instead)
	var $priceLabel = $("[for='id_price']");
	$priceLabel.after("<div class='js-price-errors'></div>");

	// place listing description help text directly after label instead of below the ckeditor widget
	var $descriptionLabel = $("[for='id_description']");
	$descriptionLabel.css({ 'margin-bottom': '0', 'display': 'block' });
	var $descriptionHelpText = $('#hint_id_description');
	$descriptionHelpText.css({ 'display': 'block', 'margin-top': '0', 'margin-bottom': '.8rem' });
	$descriptionLabel.after($descriptionHelpText);

	// place general condition help text directly after label instead of below select menu
	var $conditionLabel = $("[for='id_condition']");
	$conditionLabel.css({ 'margin-bottom': '0', 'display': 'block' });
	var $conditionHelpText = $('#hint_id_condition');
	$conditionHelpText.css({ 'display': 'block', 'margin-top': '0', 'margin-bottom': '1rem' });
	$conditionLabel.after($conditionHelpText);
</script>
{% endblock %}