{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Request an item' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<!-- <link rel="stylesheet" href="{% static 'minified/css/requested_items.min.css' %}"> -->
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 requested-item-form-container">
	<form name="requested-item-form" class="shadow requested-item-form" method="post">
		<h2 class="text-center mb-4 text-success">{% trans 'Request an Item' %}</h2>
		{% crispy form %}
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'minified/js/jquery.dirty.min.js' %}"></script>
<script>
	// show message when user is about to leave "dirty" form
	var $form = $("[name='requested-item-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});
</script>
{% endblock extra_js %}