{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load app_extras %}

{% block title %}
	<title>{% trans 'Profile - Dashboard' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5">
	<div class="d-lg-flex align-items-start border p-3">
		{% include './tab-section.html' %}

		<div class="tab-content flex-grow-1 mt-2 py-2 ms-lg-4 ps-lg-4 pe-lg-3 px-3 px-lg-0 border" id="nav-tabContent">
			<div class="tab-pane active" id="nav-dashboard" aria-labelledby="nav-dashboard-tab">
				<h2 class="text-success mb-4">{% trans 'Dashboard' %}</h2>
				<p>
					{% trans "You currently have" %} <strong>{{ user.site_points|intcomma }} {% trans 'point' %}{{ user.site_points|pluralize }}</strong>. <br>
					{% trans "Rewards will be announced at the appointed time (usually during the month of December of each year)" %}. <br><br>
					{% trans 'Ensure to be active on the site to win great rewards!' %}
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

