{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}
	<title>{% trans 'Profile - Lost/Found Items' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<div class="container-lg mb-5">
	<div class="d-lg-flex align-items-start border p-3">
		{% include './tab-section.html' with active_item='lostfound' %}

		<div class="tab-content flex-grow-1 mt-2 ms-lg-4 py-2 ps-lg-4 pe-lg-3 px-3 px-lg-0 border" id="nav-tabContent">
			<div class="tab-pane active" id="nav-lostfound" aria-labelledby="nav-lostfound-tab">
				<h2 class="text-success text-center mb-3">{% trans 'Lost & Found Items' %}</h2>

				<!-- user's lost items -->
				<section class="mb-4">
					<div class="mb-4">
						<h4 class="text-success">
							{% trans 'My Lost Items' %}
							<span class="text-muted">({{ lost_items.count }})</span>
						</h4>
						{% for lost_item in lost_items %}
							<div class="mb-2">
								<a href="{{ lost_item.get_absolute_url }}" class="text-decoration-none">
									{{ lost_item.item_lost }}
								</a>
								<span class="small text-muted mx-2">{% trans 'Reported' %} {{ lost_item.posted_datetime|naturaltime }}</span>
							</div>
						{% empty %}
							<div class="alert alert-primary" role="alert">
								{% trans 'You have not reportedany lost item yet.' %}
							</div>
						{% endfor %}
					</div>

					{# bookmarks #}
					<div>	
						<h4 class="text-success">
							{% trans 'Bookmarked Lost Items' %}
							<span class="text-muted">({{ bookmarked_lost_items.count }})</span>
						</h4>
						{% for lost_item in bookmarked_lost_items %}
							<div class="mb-2">
								<a href="{{ lost_item.get_absolute_url }}" class="text-decoration-none">
									{{ lost_item.item_lost }}
								</a>
								<span class="small text-muted mx-2">
									{% trans 'Reported' %} {{ lost_item.posted_datetime|naturaltime }}
								</span>
							</div>
						{% empty %}
							<div class="alert alert-primary" role="alert">
								{% trans 'You have not bookmarked any lost item yet.' %}
							</div>
						{% endfor %}
					</div>
				</section>	

				<!-- user's found items -->
				<section class="mb-4">
					<div class="mb-4">
						<h4 class="text-success">
							{% trans "Items I've Found" %}
							<span class="text-muted">({{ found_items.count }})</span>
						</h4>
						{% if not found_items.exists %}
							<div class="alert alert-primary" role="alert">
								{% trans 'You have not reported any item you have found yet.' %}
							</div>
						{% else %}
							{% for found_item in found_items %}
								<div class="mb-2">
									<a href="{{ found_item.get_absolute_url }}" class="text-decoration-none">
										{{ found_item.item_found }}
									</a>
									<span class="small text-muted mx-2">{% trans 'Reported' %} {{ found_item.posted_datetime|naturaltime }}</span>
								</div>
							{% endfor %}
						{% endif %}		
					</div>

					{# bookmarks #}
					<div>	
						<h4 class="text-success">
							{% trans 'Bookmarked Found Items' %}
							<span class="text-muted">({{ bookmarked_found_items.count }})</span>
						</h4>
						{% for found_item in bookmarked_found_items %}
							<div class="mb-2">
								<a href="{{ found_item.get_absolute_url }}" class="text-decoration-none">
									{{ found_item.item_found }}
								</a>
								<span class="small text-muted mx-2">
									{% trans 'Published' %} {{ found_item.posted_datetime|naturaltime }}
								</span>
							</div>
						{% empty %}
							<div class="alert alert-primary" role="alert">
								{% trans 'You have not bookmarked any found item yet.' %}
							</div>
						{% endfor %}
					</div>
				</section>	
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_js %}
{% endblock %} 