{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}
	<title>{% trans 'Profile - Past Papers' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<div class="container-lg mb-5">
	<div class="d-lg-flex align-items-start border p-3">
		{% include './tab-section.html' with active_item='pastpapers' %}

		<div class="tab-content flex-grow-1 mt-2 py-2 ms-lg-4 ps-lg-4 pe-lg-3 px-3 px-lg-0 border" id="nav-tabContent">
			<div class="tab-pane active" id="nav-pastpapers" aria-labelledby="nav-pastpapers-tab">
				<h2 class="text-success text-center mb-3">{% trans 'Past Papers' %}</h2>

				<!-- user's past papers -->
				<section class="mb-4">
					<h4 class="text-success">
						{% trans 'Uploaded Past Papers' %}
						<span class="text-muted">({{ user.past_papers.count }})</span>
					</h4> 
					{% if not user.past_papers.exists %}
						<div class="alert alert-info" role="alert">
							{% trans 'You have not uploaded any past paper yet.' %} <br>
							{% trans 'Click' %}
							<a href="{% url 'past_papers:past-paper-upload' %}">{% trans 'here' %}</a>
							{% trans 'to upload a past paper.' %}
						</div>
					{% else %}
						{% for past_paper in user.past_papers.all %}
							<div class="mb-2">
								<a href="{{ past_paper.get_absolute_url }}" class="text-decoration-none">
									{{ past_paper.title }}
								</a>
								<span class="small text-muted mx-2">{% trans 'Uploaded' %} {{ past_paper.posted_datetime|naturaltime }}</span>
							</div>
						{% endfor %}
					{% endif %}		
				</section>	

			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_js %}
{% endblock %} 