{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load app_extras %} {# custom dir #}

{% block title %}
	<title>{% trans 'Profile - Questions/Answers' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<div class="container-lg mb-5">
	<div class="d-lg-flex align-items-start border p-3">
		{% include './tab-section.html' with active_item='qa' %}

		<div class="tab-content flex-grow-1 mt-2 py-2 ms-lg-4 ps-lg-4 pe-lg-3 px-3 px-lg-0 border" id="nav-tabContent">
			<div class="tab-pane active" id="nav-qa" aria-labelledby="nav-qa-tab">
				<h2 class="text-success text-center mb-3">{% trans 'Questions & Answers' %}</h2>

				<!-- user's academic questions -->
				<section class="mb-4">
					<h4 class="text-success">
						{% trans 'My Academic Questions' %}
						<span class="text-muted">({{ academic_questions.count }})</span>
					</h4>
					{% if not academic_questions.exists %}
						<div class="alert alert-info" role="alert">
							{% trans 'You have not asked any academic question yet.' %} <br>
							{% trans 'Click' %}
							<a href="{% url 'qa_site:academic-question-create' %}">{% trans 'here' %}</a>
							{% trans 'to ask an academic question.' %}
						</div>
					{% else %}
						{% for question in academic_questions %}
							<div class="mb-2">
								<a href="{{ question.get_absolute_url }}" class="text-decoration-none">
									<span 
										class="badge align-middle px-2 py-1 me-2 {% if question.score > 0 %} bg-success {% elif question.score < 0 %}  bg-danger {% else %} bg-secondary {% endif %}"
									>{{ question.score }}</span>
									<span>
										{{ question.title }} - <strong>{{ question.num_answers }} {% trans 'answer' %}{{ question.num_answers|pluralize }}</strong>
									</span>
								</a>
								<span class="small text-muted mx-2">{{ question.posted_datetime|naturaltime }}</span>
								<a class="link-success" href="{{ question.get_absolute_url }}">{% trans 'Answer this' %}</a>
							</div>
						{% endfor %}
					{% endif %}		
				</section>	

				<!-- user's academic answers -->
				{# todo #}

				<!-- user's school-based questions -->
				<section class="mb-4">
					<h4 class="text-success">
						{% trans 'My School-Based Questions' %}
						<span class="text-muted">({{ school_questions.count }})</span>
					</h4>
					{% if not school_questions.exists %}
						<div class="alert alert-info" role="alert">
							{% trans 'You have not asked any school-based question yet.' %} <br>
							{% trans 'Click' %}
							<a href="{% url 'qa_site:school-question-create' %}">{% trans 'here' %}</a>
							{% trans 'to ask a question concerning a particular school.' %}
						</div>
					{% else %}
						{% for question in school_questions %}
							<div class="mb-2">
								<a href="{{ question.get_absolute_url }}" class="text-decoration-none">
									<span 
										class="badge align-middle px-2 py-1 me-2 {% if question.score > 0 %} bg-success {% elif question.score < 0 %} bg-danger {% else %} bg-secondary {% endif %}"
									>{{ question.score }}</span>
									<span>
										{# `safe` is used at the end to also remove html entities #}
										{{ question.content|remove_tags|truncatewords:50|safe }}
										<span class="small">({{ question.school }})</span>
										- <strong>{{ question.num_answers }} {% trans 'answer' %}{{ question.num_answers|pluralize }}</strong>
									</span>
								</a>
								<span class="small text-muted mx-2">{{ question.posted_datetime|naturaltime }}</span>
								<a class="link-success" href="{{ question.get_absolute_url }}">{% trans 'Answer this' %}</a>
							</div>
						{% endfor %}
					{% endif %}		
				</section>	
			</div>
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_js %}
<script>

</script>
{% endblock %} 