{# Template to permit bookmarking and unbookmarking of objects #}
{# NOTE only one instance of this template should exist per page. #}
{# to enable multiple instances, revise javascript. #}
{# template is loaded using inclusion_tag (django) #}

{% load i18n %}
{% load static %}


<a 
	role="button" 
	data-id="{{ object_id }}"
	class="text-decoration-none d-inline-block my-2 js-bookmark-button" 
	title="{{ title_text }}"
>
	{% if user in bookmarkers %}
		<i class="fas fa-star js-selected" aria-hidden="true"></i>
		{% trans 'Bookmarked' %}
	{% else %}
		<i class="far fa-star" aria-hidden="true"></i>
		{% trans 'Bookmark' %}
	{% endif %}
</a>
{% if num_bookmarkers is not None %}
	<span class="text-purple">
		&nbsp;
		<span class="js-bookmarkCount">{{ num_bookmarkers }}</span>
	</span>
{% endif %}

<script>
	// {# these variables will be used by the base.js file #}
	{# see stackoverflow.com/q/36689075/how-to-use-django-variable-in-javascript-file #}
	// get current user's id.. 
	// if user isn't logged in, user.id will be `None`
	var userId = "{{ user.id }}", csrfToken = "{{ csrf_token }}";
	userId = (userId == "None" ? null : userId);
	var bookmarkUrl = "{{ bookmark_url }}";
	var bookmarkText = "{% trans 'Bookmark' %}", bookmarkedText = "{% trans 'Bookmarked' %}";

	{% if num_bookmarkers is not None %}
	var bookmarkCount = {{ num_bookmarkers }}, $bookmarkCounter = $('.js-bookmarkCount').first(); 
	{% endif %}
</script>