{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load app_extras %}

{% block title %}
	<title>{% trans 'Inbox - Notifications' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}

<div class="container-lg mb-5">
	<div class="border p-3">	
		<h2 class="text-success text-center mb-3">{% trans 'Notifications' %}</h2>

		<!-- general notifications-->
		<section class="mb-5">
			<h4 class="pb-1 border-bottom border-success text-success">
				{% trans 'Inbox' %}
			</h4>
			{% for notif in general_notifs %}
				{% if forloop.first %}
				<p class="mb-4">
					{% if general_has_unread %}
						<a href="{% url 'notifications:mark_category_as_read' 'G' %}?next={{ request.path }}" class="btn btn-sm btn-secondary me-2">
							{% trans 'Mark all as read' %}
						</a>
					{% endif %}
					<a href="{% url 'notifications:delete_category_notifs' 'G' %}?next={{ request.path }}" class="btn btn-sm btn-danger">
						{% trans 'Delete all' %}
					</a>
				</p>
				<p class="mt-3">
					{% trans 'The following messages were sent from CamerSchools' %}:
				</p>
				<ul style="list-style-type: square;">
				{% endif %}
					<li class="mb-2 p-1 {% if notif.unread %} bg-secondary opacity-50 {% endif %}">
						{% if notif.follow_url %}
							{% if notif.unread %}
								<a href="{% url 'notifications:mark_as_read' notif.id %}?next={{ notif.follow_url }}" class="text-decoration-none border-light link-light notif-item-link">
									{{ notif.verb }}
								</a>
							{% else %}
								<a href="{{ notif.follow_url }}" class="text-decoration-none  notif-item-link">
									{{ notif.verb }}
								</a>
							{% endif %}
						{% else %}
							{{ notif.verb }}
						{% endif %} 
					</li>
					{# mark as read and delete buttons here #}
					{% if notif.unread %}
						<a role="button" href="{% url 'notifications:mark_as_read' notif.id %}?next={{ request.path }}" class="text-decoration-none link-secondary">{% trans 'Mark as read' %}</a>
					{% endif %}
					<a role="button" href="{% url 'notifications:delete' notif.id %}?next={{ request.path }}" class="text-decoration-none link-danger ms-3">{% trans 'Delete' %}</a>
					<br><br>
				{% if forloop.last %}
				</ul>
				{% endif %}
			{% empty %}
				<div class="alert alert-purple py-2" role="alert">
					{% trans 'You have no message in your inbox.' %} <br>
					{% trans 'Messages from CamerSchools to you will be displayed here.' %}
				</div>
			{% endfor %}	
		</section>	

		<!-- users flagged posts -->
		{% if flags_notifs %}
		<section class="mb-5">
			<h4 class="pb-1 border-bottom border-danger text-danger">
				{% trans 'Reported Posts' %}
			</h4>
			{# intentionally; do not display mark all as read and delete-all buttons for flagged posts.. #}
			{# make e suffer small :) #}
			<p class="mt-3">{% trans 'The following posts have been reported' %}:</p>
			<ul style="list-style-type: square;">
			{% for notif in flags_notifs %}
				<li class="mb-2 p-1 {% if notif.unread %} bg-secondary opacity-50 {% endif %}">
					{{ notif.verb }} 
				</li>
				{% if notif.target.get_absolute_url %} 
					<a href="{% url 'notifications:mark_as_read' notif.id %}?next={{ notif.target.get_absolute_url }}" class="text-decoration-none  notif-item-link">{% trans 'view post' %}</a>
				{% else %}
					{# if eg post is a comment or answer #}
					<a href="{% url 'notifications:mark_as_read' notif.id %}?next={{ notif.target.parent_object.get_absolute_url }}" class="text-decoration-none  notif-item-link">
						{% trans 'view containing post' %}
					</a>
				{% endif %}
				{% if notif.unread %}
					<a role="button" href="{% url 'notifications:mark_as_read' notif.id %}?next={{ request.path }}" class="text-decoration-none ms-3 link-secondary">{% trans 'Mark as read' %}</a>
				{% endif %}
				<a role="button" href="{% url 'notifications:delete' notif.id %}?next={{ request.path }}" class="text-decoration-none link-danger ms-3">{% trans 'Delete' %}</a>
				<br><br>
			{% endfor %}
			</ul>
		</section>
		{% endif %}

		<!-- display reported posts (moderators only) -->
		{% comment %} {% if user.is_mod %}
			<section class="mb-5">
				<h4 class="pb-1 border-bottom border-success text-success">
					{% trans 'Reported posts' %}
				</h4>
				{% if reported_notifs %}
					<ul style="list-style-type: square;">
					{% for notif in reported_notifs %}
						{# if post hasn't yet been deleted #}
						{% if notif.target %}
							<li class="mb-2 p-1 {% if notif.unread %} bg-secondary opacity-50 {% endif %}">
								{% if notif.target.get_absolute_url %}
									<a href="{{ notif.target.get_absolute_url }}" class="text-decoration-none ">
										{{ notif.target }}
									</a>
								{% else %}
									{# if post doesn't have a url (such as comments and answers) #}
									{# display complete post with delete and absolve buttons #}
									{# ensure these fields have a content attribute #}
									{{ notif.target.content }} <br>
									<a href="" class="link-danger">{% trans 'Delete' %}</a>
									<a href="" class="d-inline-block ">{% trans 'Absolve' %}</a> 
									<br>
									<a href="{{ notif.target.parent_object.get_absolute_url }}">
										{% trans 'Containing post' %}
									</a>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-purple py-2" role="alert">
						{% trans 'Posts flagged by users will be displayed here.' %} <br>
						{% trans 'You can delete or absolve these posts.' %}
					</div>
				{% endif %}
			</section>
		{% endif %} {% endcomment %}

		<!-- activities on user's posts -->
		<section class="mb-5">
			<h4 class="pb-1 border-bottom border-success text-success">
				{% trans "Posts Activities" %}
			</h4>
			{% if activities_notifs_targets %}
				<p class="mb-4">
					{% if activities_has_unread %}
						<a href="{% url 'notifications:mark_all_posts_as_read' 'A' %}?next={{ request.path }}" class="btn btn-sm btn-secondary me-2">
							{% trans 'Mark all as read' %}
						</a>
					{% endif %}
					<a href="{% url 'notifications:delete_all_post_notifs' 'A' %}?next={{ request.path }}" class="btn btn-sm btn-danger">
						{% trans 'Delete all' %}
					</a>
				</p>
				<p class="mt-3">{% trans 'There are new activities on the following posts:' %}</p>
				<ul style="list-style-type: square;">
				{% for post in activities_notifs_targets %}
					{% with post_unread=activities_notifs|post_is_unread:post %}
					<li class="mb-2 p-1 {% if post_unread %} bg-secondary opacity-50 {% endif %}">
						{% if post.get_absolute_url %}
							{# if post is unread, upon clicking on list item, firt mark post as read before redirecting to post url. if post is read, go directly to post url #}
							<a href="{% if post_unread %} {% url 'notifications:mark_post_as_read' category='A' obj_id=post.id app_name=post|get_app_name model_name=post|get_model_name %}?next={{ post.get_absolute_url }} {% else %} {{ post.get_absolute_url }} {% endif %}" class="text-decoration-none {% if post_unread %} border-light link-light {% else %} border-purple  {% endif %} notif-item-link">
								{# remember that school questions are sanitized before been printed. #}
								{# safe is used to remove the leftover html entities like &nbsp; that aren't stripped #}
								{% if post|get_model_name == 'SchoolQuestion' %}
									{{ post|safe }}
								{% else %}
									{{ post }}
								{% endif %}
							</a>
						{% else %}
							{# if post is answer #}
							{# remember activities can only be on questions and answers #}
							{# safe is used to remove the unsanitized html entities. #}
							<span>{{ post|safe }}</span>
						{% endif %}
					</li>
					{% if not post.get_absolute_url %}
						<a href="{{ post.question.get_absolute_url }}" class="text-decoration-none ">
							{% trans 'view question' %}
						</a>
					{% endif %}
					{% if post_unread %}
					<a role="button" href="{% url 'notifications:mark_post_as_read' category='A' obj_id=post.id app_name=post|get_app_name model_name=post|get_model_name %}?next={{ request.path }}" class="text-decoration-none link-secondary">
						{% trans 'Mark as read' %}
					</a>
					{% endif %}
					<a role="button" href="{% url 'notifications:delete_post_notifs' category='A' obj_id=post.id app_name=post|get_app_name model_name=post|get_model_name %}?next={{ request.path }}" class="ms-3 text-decoration-none link-danger">
						{% trans 'Delete' %}
					</a>
					<br><br>
					{% endwith %}
				{% endfor %}	
				</ul>
			{% else %}
				<div class="alert alert-purple py-2" role="alert">
					{% trans 'Notifications on your questions and answers will be displayed here.' %}
				</div>
			{% endif %}
		</section>	

		<!-- activities on following posts -->
		<section class="mb-3">
			<h4 class="pb-1 border-bottom border-success text-success">
				{% trans "Following Posts" %}
			</h4>
			{% if followings_notifs_targets %}
				<p class="mb-4">
					{% if followings_has_unread %}
						<a href="{% url 'notifications:mark_all_posts_as_read' 'FF' %}?next={{ request.path }}" class="btn btn-sm btn-secondary me-2">
							{% trans 'Mark all as read' %}
						</a>
					{% endif %}
					<a href="{% url 'notifications:delete_all_post_notifs' 'FF' %}?next={{ request.path }}" class="btn btn-sm btn-danger">
						{% trans 'Delete all' %}
					</a>
				</p>
				<p class="mt-3">{% trans 'There are new activities on some posts you are following:' %}</p>
				<ul style="list-style-type: square;">
				{% for post in followings_notifs_targets %}
					{% with post_unread=followings_notifs|post_is_unread:post %}
					<li class="mb-2 p-1 {% if post_unread %} bg-secondary opacity-50 {% endif %}">
						<a href="{% if post_unread %} {% url 'notifications:mark_post_as_read' category='FF' obj_id=post.id app_name=post|get_app_name model_name=post|get_model_name %}?next={{ post.get_absolute_url }} {% else %} {{ post.get_absolute_url }} {% endif %}" class="text-decoration-none {% if post_unread %} border-light link-light {% else %} border-purple  {% endif %} notif-item-link">
							{% if post|get_model_name == 'SchoolQuestion' %}
								{{ post|safe }}
							{% else %}
								{{ post }}
							{% endif %}
						</a>
					</li>
					{% if post_unread %}
					<a role="button" href="{% url 'notifications:mark_post_as_read' category='FF' obj_id=post.id app_name=post|get_app_name model_name=post|get_model_name %}?next={{ request.path }}" class="text-decoration-none link-secondary">
						{% trans 'Mark as read' %}
					</a>
					{% endif %}
					<a role="button" href="{% url 'notifications:delete_post_notifs' category='FF' obj_id=post.id app_name=post|get_app_name model_name=post|get_model_name %}?next={{ request.path }}" class="ms-3 text-decoration-none link-danger">
						{% trans 'Delete' %}
					</a>
					<br><br>
					{% endwith %}
				{% endfor %}	
				</ul>
			{% else %}
				<div class="alert alert-purple py-2" role="alert">
					{% trans 'Notifications on questions that you are following will be displayed here.' %}
				</div>
			{% endif %}
		</section>	


		<!-- mentions on user's posts -->
		{% comment %} 
		<section class="mb-3">
			<h4 class="pb-1 border-bottom border-success text-success">
				{% trans "Mentions" %}
			</h4>
			
			{% for notif in mentions_notifs %}
				<li class="mb-2">
					<a href="{{ found_item.get_absolute_url }}" class="text-decoration-none ">
						{{ found_item.item_found }}
					</a>
				</li>
			{% empty %}
				<div class="alert alert-purple py-2" role="alert">
					
				</div>
			{% endfor %}
		</section>	

		{% trans 'When users mention you in comments, notifications will be displayed here.' %} 
		{% endcomment %}
	</div>
</div>
{% endblock content %}


{% block extra_js %}
{% endblock %} 