{% load static %} 
{% load i18n %} 
{% load app_extras %}

<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-login-required-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body">
			{% trans 'You are not logged in.' %} 
			<p class="text-dark mt-1 mb-0">
				{% trans 'Click' %} 
				<a href="{% url 'users:login' %}?next={{ request.get_full_path }}">
					{% trans 'here' %}
				</a> 
				{% trans 'to login to your account' %} 
			</p>
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>

<div class="mt-2 mb-4 gallery-container">
	{# button to trigger click event on input type=file button (.js-file-upload button) #}
	<button type="button" class="d-block btn btn-secondary js-upload-photos">
		<i class="fas fa-cloud-upload-alt" aria-hidden="true"></i> 
		{% trans 'Upload photos' %}
	</button>
	<span class="form-text text-muted d-inline-block mb-2 js-helpTextSpan">
		{{ upload_help_text }}
	</span>

	{# input type="file" to be used by the file upload plugin, dispay set to none so as to hide it but it will be triggered via another button. #}
	{# note that the name attribute should be the same name used in the backend form #}
	{# these data attributes are used by the plugin. #}
	<input 
		class="js-file-upload" 
		type="file" 
		name="file"
		accept="image/png, image/jpeg"
		style="display: none;" 
		data-url="{% url 'core:photo-upload' form_for=form_for %}"
		data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
		multiple 
	>
	<hr class="my-2">
	<!-- container for photos, generally obtained from get_form_kwargs() -->
	<div class="row m-auto js-gallery">
		{% for photo_info in initial_photos %}
		<div class="col-4 col-lg-3 my-2 photo-wrp js-photo-wrp">
			{# also encode encrypted filename as safe-url so that signs such as + sign get correctly parsed(by querydict) in backend #}
			{# see stackoverflow.com/q/66167067/querydict-in-django #}
			<img 
				src="{{ photo_info.url }}"
				class="photo-wrp__img"
				data-filename="{{ photo_info.filename|urlencode }}"
			>
			<button  
				type="button"
				class="btn-close js-remove-photo"
				aria-label="{% trans 'Delete' %}"
			></button> 
		</div>
		{% endfor %}
	</div>
	<hr class="my-2">

	<!-- container for any errors(notably if user doesn't upload the minimum number of photos) -->
	<div class="js-photo-errors"></div>
</div>

<!-- progress bar modal. PS modals are hidden by default -->
<div 
	class="modal fade js-modal-progress" 
	data-bs-backdrop="static" 
	data-bs-keyboard="false"
	tabindex="-1"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{% trans 'Uploading' %}...</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div 
						class="progress-bar js-progress-bar" 
						role="progressbar" 
						style="width: 0%;"
					>
						0%
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{# jquery file upload scripts #}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<script>
	// if device is desktop, tell user he can drop photos.
	{% if not request|is_mobile %}
		var $photoHelpTextSpan = $('.js-helpTextSpan').first();
		var appendText = "{% trans 'You can also drag photos and drop them here.' %}";
		$photoHelpTextSpan.append('<br>' + appendText);
	{% endif %}

	/* 1. OPEN THE FILE EXPLORER WINDOW */
	$(".js-upload-photos").click(function () {
		$('.js-file-upload').click();
	});

	/* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
	var $modalProgress = $('.js-modal-progress').first(), $progressBar = $('.js-progress-bar');
	var $gallery = $('.js-gallery');

	// don't cache $('.js-file-upload'). if u do so, this plugin won't work (photos won't be uploaded)
	$('.js-file-upload').fileupload({
		dataType: 'json',
		sequentialUploads: true,  /* send and get the files one by one. if this is set to false, each upload resets the django session variable that stores photos apparently  */
		start: function (e) {  
			// user should be authenticated
			/* 
				in reality, this will never be the case: say user loads this page.
				if user isn't authenticated, he will first be redirected by the parent template.
				if he is authenticated, he will have an id. let's assume user logs out on another
				tab. if he comes back to this tab and tries to upload a photo, this test will fail and
				the photo upload process will begin. However, he will be blocked by the backend verification.
				We'll just allow this verification here lol
			*/
			var userId = "{{ user.id }}";
			if (userId == "None") {
				// NOTE: the js file (base.min.js) should also be included.
				// its already included in the base template ...
				displayToast('LOGIN_REQUIRED');
				return false;
			}

			// show modal when uploading process starts
			$modalProgress.modal("show");
		},
		stop: function (e) {  
			// when uploading has terminated, hide the modal */
			$modalProgress.modal("hide");
		},
		progressall: function (e, data) { 
			// update the progress bar
			var progress = parseInt(data.loaded / data.total * 100, 10);
			var strProgress = progress + "%";
			$progressBar.css({"width": strProgress}).text(strProgress);
		},
		done: function (e, data) {
			// data received from backend is stored in "data.result"
			var result = data.result;

			if (result.is_anonymous) {
				// javascript file should be present !
				displayToast('LOGIN_REQUIRED');
				return false;
			}
			
			$gallery.append(
				"<div class='col-4 col-lg-3 my-2 photo-wrp js-photo-wrp'> \
					<img \
						src='" + result.url + "' \
						class='photo-wrp__img' \
						data-filename='" + encodeURIComponent(result.filename) + "' \
					> \
					<button  \
						type='button' \
						class='btn-close js-remove-photo' \
						aria-label='" + "{% trans 'Delete' %}" + "' \
					></button> \
				</div>"
			);
		},
		fail: function (e, data) {
			console.log(data);
			$modalProgress.modal("hide");
			alert(data.jqXHR.responseJSON.error);
		}
	});


	$('.js-gallery').on('click', '.js-remove-photo', function() {
		var $this = $(this);
		
		// get photo corresponding to clicked close button
		var $photo = $this.closest('.js-photo-wrp').children('img:first-child');
		// [0] is used to get the dom element from the jQuery object
		var photoFileName = $photo[0].dataset['filename'];
		
		var errorMessage = {% blocktrans %} "An error occurred, try refreshing the page then try again. If it persists, contact us." {% endblocktrans %};

		// call ajax to delete photo from backend
		$.ajax({
			url: "{% url 'core:photo-delete' %}" + '?photo_filename=' + photoFileName + '&form_for=' + '{{ form_for }}',
			type: 'DELETE',  // send DELETE request to backend
			dataType: 'json',
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');

				// user should be authenticated
				// see explanation above in file upload...
				var userId = "{{ user.id }}";
				if (userId == "None") {
					displayToast('LOGIN_REQUIRED');
					return false;
				}
			},
			success: function(result) {
				if (result.deleted) {
					// remove photo from frontend
					// remember $this refers to the close button..
					$this.closest('.js-photo-wrp').remove();
				}
			},
			error: function(err) {
				if (err.is_anonymous) {
					displayToast('LOGIN_REQUIRED');
					return false;
				} else {
					alert(errorMessage);
				}
			}
		});
	});

</script>
