{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
	<title>{% trans 'Site Info' %} | CamerSchools</title>
{% endblock %}


{% block content %}
<article class="container-lg mb-5 pt-3">
	<h2 class="text-success text-center mb-4">{% trans 'Site Usage Info' %}</h2>
	<p class="ps-3">
		{% blocktrans %}
		Here, you'll find information about the various sections of this website.
		{% endblocktrans %}
	</p>
	<section class="shadow p-3">
		<dl>
			<dt>{% trans 'GENERAL INFO' %}</dt>
			<dd class="mb-4">
				<p>{% trans 'Each section is listed below' %}:</p>
				<ul>
					<li class="mb-2">
						<a href="{% url 'marketplace:item-listing-list' %}" class="text-decoration-none">
							{% trans 'Buying & Selling' %}
						</a>:
						<span>
							{% blocktrans %}
							You can buy items posted by other users and you can also sell your stuff.
							{% endblocktrans %}
						</span>
					</li>
					<li class="mb-2">
						<a href="{% url 'marketplace:ad-listing-list' %}" class="text-decoration-none">
							{% trans 'Adverts' %}
						</a>:
						<span>
							{% blocktrans %}
							You can advertize anything here and also see adverts posted by other users
							{% endblocktrans %}
						</span>
					</li>
					<li class="mb-2">
						<a href="{% url 'requested_items:requested-item-list' %}" class="text-decoration-none">
							{% trans 'Requested Items' %}
						</a>:
						<span>
							{% blocktrans %}
							You can see items that users are in need of and are willing to buy. You may also post whatever 
							you're in need of; ome one surely has it and might be willing to sell it to you.
							{% endblocktrans %}
						</span>
					</li>
					<li class="mb-2">
						<a href="{% url 'qa_site:questions-explain' %}" class="text-decoration-none">
							{% trans 'Ask Questions' %}
						</a>:
						<span>
							{% blocktrans %}
							You can ask questions concerning a particular subject or school and also
							answer questions asked by other users.
							{% endblocktrans %}
						</span>
					</li>
					<li class="mb-2">
						<a href="{% url 'lost_or_found:lost-item-list' %}" class="text-decoration-none">
							{% trans 'Lost Items' %} / 
						</a>
						<a href="{% url 'lost_or_found:found-item-list' %}" class="text-decoration-none">
							{% trans 'Found Items' %}
						</a>:
						<span>
							{% blocktrans %}
							You can report any item you've lost or found. Also see items published
							by other users.
							{% endblocktrans %}
						</span>
					</li>
					<li class="mb-2">
						<a href="{% url 'past_papers:past-paper-list' %}" class="text-decoration-none">
							{% trans 'Past Papers' %}
						</a>:
						<span>
							{% blocktrans %}
							View and download past papers in various subjects and from various schools; 
							for all levels (such as o'levels, a'levels, probatoire, ...).
							Yes, you are also permitted to upload past papers.
							{% endblocktrans %}
						</span>
					</li>
					<li class="mb-2">
						<a href="{% url 'socialize:find-friend' %}" class="text-decoration-none">
							{% trans 'Socialize' %}
						</a>:
						<span>
							{% blocktrans %}
							Find other users of this website through their social profile 
							and get in touch with them. 
							Note that you must also connect your social profile in order to be
							able to view other users' social profile.
							{% endblocktrans %}
						</span>
					</li>
				</ul>

				<p>
					{# TODO (money earning programme page ..) #}
					{% blocktrans %}
					Anything you post on this website is rewarded in points that will earn you money! 
					<span class="text-purple">(see money earning programme)</span>
					<br>
					For all the sections listed above <b>excluding the Ask Questions section</b>, 
					the points rewarded are as follows:
					{% endblocktrans %}

					<ul>
						<li>
							{% blocktrans %}
							You get <b>{{ new_user_points }}</b> points when you sign up to the website and 
							confirm your email address. This is your starting number of points.
							{% endblocktrans %}
						</li>
						<li>
							{% blocktrans %}
							You get no point when you post an advert or item for sell.
							{% endblocktrans %}
						</li>
						<li>
							{% blocktrans %}
							You get <b>{{ post_points }} points</b> when you do any of the following:
							{% endblocktrans %}
							<ul>
								<li>{% trans 'Connect your social profile' %}</li>
								<li>
									{% blocktrans %}
									Upload a past paper. If however, the past paper already exists on
									the website, your points will be reverted. <br>
									So only upload papers that haven't yet been uploaded.
									{% endblocktrans %}
								</li>
								<li>
									{% trans 'Report a lost item' %}
								</li>
								<li>
									{% trans 'Report a found item' %}
								</li>
							</ul>
						</li>
					</ul>

					<p>
						{% blocktrans %}
						However, you will also be penalised if you go against some rules of our website,
						most notably posting or promoting inappropriate content (such as spam, hate speech, tribalism, etc.). 
						If your post is reported by users, some of your points will be deducted. You will have the opportunity to edit the 
						post. <br>
						Failure to do so will result in the deletion of the post in question. 
						If this persists for multiple posts, your account will ultimately be deactivated. <br>
						In any case, you will be notified when any of your post is deemed inappropriate by other users so you know what action to take yourself before we take matters in our own hands.
						<br>
						We can remove any post we deem inappropriate, with or without the poster's consent. You can edit or delete anything you post, except in the <b>questions and past papers</b> sections. <br>
						For the <b>past papers</b> section, you can no longer delete an uploaded paper after {{ cannot_del_paper_time }} minutes, and any comment made under a past paper can't be edited after {{ cannot_edit_paper_comment_time }} minutes. <br>
						For the <b>questions</b> section, see below.
						{% endblocktrans %}
					</p>
				</p>
			</dd>

			<dt>{% trans 'QA-SITE INFO' %}</dt>
			<dd>
				<p>
					{% blocktrans %}
					This section concerns the questions part of the website (academic and 
					discussion questions). 
					{% endblocktrans %}
				</p>

				<dl>
					<dt>{% trans 'Questions and Answers' %}</dt>
					<dd class="mb-3">
						{% blocktrans %}
						By <b>post</b>, we refer to a question or answer. <br>
						You get {{ ask_qstn_points }} points when you ask a question. 
						When your post is <b>liked(upvoted)</b>, you get {{ upvote_points }} points. 
						You are deducted {{ downvote_points }} points when your post is downvoted(disliked). <br>
						Anyone can upvote a post, but to downvote a post, the user needs to have {{ downvote_req_points }}; this is to ensure a post can be downvoted only by users that have used the website
						for some time. <br>
						You get {{ aca_ans_points }} points when you answer an academic question and 
						{{ school_ans_points }} when you answer a school question. You are not rewarded any point for answering your own questions. However you will be rewarded points when these answers are upvoted. Your answers should be valuable else these points will not be worth much. You may have at most {{ max_answers }} answers per question.
						{% endblocktrans %}
					</dd>

					<dt>{% trans 'Comments' %}</dt>
					<dd class="mb-3">
						{% blocktrans %}
						Comments are used to ask for clarification and extra info concerning a question or answer, or to add information you think others may find useful.
						You get no points when you comment on posts. However, the number of upvotes on your comments means a lot. So ensure to contribute positively to questions and answers.
						{% endblocktrans %}
					</dd>

					<dt>{% trans 'Editing' %}</dt>
					<dd class="mb-3">
						<ul>
							<li>
								{% blocktrans %}
								Questions: <b>Only</b> the poster of a question can edit it. However, questions with more than {{ cannot_edit_qstn_vote }} votes (upvotes - downvotes) or more than {{ cannot_edit_qstn_ans_count }} answer can't be edited. 
								{% endblocktrans %}
							</li>
							<li>
								{% blocktrans %}
								Answers: <b>Only</b> the poster of an answer can edit it. However, answers with more than {{ cannot_edit_ans_vote }} votes can't be edited. 
								{% endblocktrans %}
							</li>
							<li>
								{% blocktrans %}
								Comments: <b>Only</b> the poster of a comment can edit it. However, comments with more than {{ cannot_edit_comment_vote }} votes can't be edited. 
								{% endblocktrans %}
							</li>
						</ul>
					</dd>

					<dt>{% trans 'Deleting' %}</dt>
					<dd>
						<ul>
							<li>
								{% blocktrans %}
								Questions: Questions with more than {{ cannot_del_qstn_vote }} votes or more than {{ cannot_del_qstn_ans_count }} answer cannot be deleted by the poster. This is because we consider such questions to be valuable and they may help future users that share similar questions.
								{% endblocktrans %}
							</li>
							<li>
								{% blocktrans %}
								Answers: Answers with more than {{ cannot_del_ans_vote }} votes can't be deleted for the same reason as above.
								{% endblocktrans %}
							</li>
							<li>
								{% blocktrans %}
								Comments: Comments with more than {{ cannot_del_comment_vote }} votes can't be deleted because they may contain information valuable to future users.
								{% endblocktrans %}
							</li>
						</ul>
					</dd>
				</dl>
			</dd>
		</dl>
	</section>
</article>
{% endblock %}

