<!-- Display social share tooltip box -->
{# Receives request, heading,title, object_url #}

{% load i18n %}

<!-- success message toast -->
<div class="toast hide alert alert-success align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-custom-success-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body js-toast-message">
			{# message will be inserted here via js #}
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>
<!-- error message toast -->
<div class="toast hide alert alert-danger align-items-center mt-3 py-0 position-fixed top-0 start-50 translate-middle-x js-custom-error-toast" role="alert" data-bs-animation="false" aria-live="assertive" aria-atomic="true">
	<div class="d-flex">
		<div class="toast-body js-toast-message">
			{# message will be inserted here via js #}
		</div>
		<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans 'Close' %}"></button>
	</div>
</div>

{% trans 'Copy link' as copy %}
{% trans 'Share on Facebook' as facebook_text %}
{% trans 'Share on Twitter' as twitter_text %}
{% trans 'Share on Whatsapp' as whatsapp_text%}

{% with link=request.build_absolute_uri WHATSAPP_SHARER='https://wa.me/' FACEBOOK_SHARER='https://www.facebook.com/sharer/sharer.php' TWITTER_SHARER='https://www.twitter.com/intent/tweet' TWITTER_HANDLE='camerschools' %}
<a 
	role="button" 
	class="link-secondary fw-bold text-decoration-none js-share-tooltip"
	data-bs-toggle="tooltip"
	data-bs-trigger="click"
	data-bs-custom-class="share-tooltip"
	data-bs-placement="bottom"
	data-bs-html="true"
	data-bs-container="body"
	title='
		<div>
			<h6 class="text-nowrap mt-2">{{ heading }}</h6>
			<input class="form-control mb-3 py-1 js-link-input" type="text" value="{{ link }}" title="{{ link }}" readonly>
			<div class="text-start">
				<a class="text-decoration-none js-copy-button" role="button">{{ copy }}</a>
				<a class="text-decoration-none link-secondary mx-3" href="{{ FACEBOOK_SHARER }}?u={{ url }}&t={{ title }}" target="_blank">
					<span class="visually-hidden">{{ facebook_text }}</span>
					<i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i>
				</a>
				<a class="text-decoration-none me-3" href="{{ TWITTER_SHARER }}?url={{ url }}&via={{ TWITTER_HANDLE }}&text={{ title }}" target="_blank">
					<span class="visually-hidden">{{ twitter_text }}</span>
					<i class="fab fa-twitter-square fa-lg" aria-hidden="true"></i>
				</a>
				<a class="text-decoration-none link-success" href="{{ WHATSAPP_SHARER }}?text={{ url }}" target="_blank">
					<span class="visually-hidden">{{ whatsapp_text }}</span>
					<i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	'
>
	<i class="fas fa-share" aria-hidden="true"></i>
	{% trans 'Share' %}
</a>
{% endwith %}

<script>
	var shareToolTips = document.querySelectorAll('.js-share-tooltip');
	
	// change default tags to sanitize for bootstrap tooltips with html content
	// see getbootstrap.com/docs/5.0/getting-started/javascript/#sanitizer
	var defaultAllowList = bootstrap.Tooltip.Default.allowList;
	// to allow input elements with some attrs
	defaultAllowList.input = ['class', 'type', 'value', 'title', 'readonly'];

	// tooltip needs to first be inserted in page, so do this after tooltip is inserted.
	/* Copying to clipboard functionality */
	function onCopyLink(event) {
		// get and select the text field
		var linkInput = document.querySelector('.js-link-input');
		linkInput.select();
		linkInput.setSelectionRange(0, 99999);  // for mobile devices

		// copy the text inside the text field
		navigator.clipboard.writeText(linkInput.value).then(function() {
			var successMsg = "{% trans 'Link copied to clipboard.' %}";
			displayCustomSuccessToast(successMsg);
		}, function() {
			var errMsg = "{% blocktrans %} An error occured when copying the link. <br> Try to copy it manually by selecting the text and copying. {% endblocktrans %}";
			displayCustomErrorToast(errMsg);
		});
	}

	// bootstrap tooltips are asyncronously initialised,
	// so wait until tooltip html template is inserted before adding click event.
	// var myToolTipEl = shareToolTip;
	for (var i = 0; i < shareToolTips.length; i++) {
		shareToolTips[i].addEventListener('inserted.bs.tooltip', function() {
			$('.js-copy-button').first().click(onCopyLink);
		});
	}
	

</script>