/*
 * xs --- Extra small devices (portrait phones, < 576px)
    * No media query since this is the default in Bootstrap
 * sm --- Small devices (landscape phones, >= 576px  [576px and up])
 * md --- Medium devices (tablets, >= 768px)
 * lg --- Large devices (desktops, >= 992px)
 * xl --- Extra large devices (large desktops, >= 1200px)
 * xxl -- Extra extra large devices (larger desktops, >=1400px)
 */

.header-top {
	background-color: #555454;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	text-align: center;
}

.header-top__text {
	color: white;
}

.nav-menu__link {
    font-size: 15px;
    color: white;
}

.nav-menu__link:active,
.nav-menu__link:hover {
		color: #434343;
		/* text-decoration-line: underline; */
}

.header-bottom {
		background-color: #2b88de;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2.4rem;
}

.header-notifs-link__svg:hover,
.header-profile-link__svg:hover {
	filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 2px 5px);
}


.header-profile-link__svg:hover {
	width: 38px;
	height: 38px;
}

.header-notifs-link__svg {
    margin-top: 13px;
    padding-top: 2px;
}

.notifs-and-profile {
    text-align: right;
		padding-right: 0;
		margin: 0;
}

/* Layout for desktop sizes and greater */
@media (min-width: 992px) {

}

/* xs, sm, md. (lg is from >= 992px) */
@media (max-width: 991.98px) {

}
