/*
* xs --- Extra small devices (portrait phones, < 576px)
* No media query since this is the default in Bootstrap
* sm --- Small devices (landscape phones, >= 576px  [576px and up])
* md --- Medium devices (tablets, >= 768px)
* lg --- Large devices (desktops, >= 992px)
* xl --- Extra large devices (large desktops, >= 1200px)
* xxl -- Extra extra large devices (larger desktops, >=1400px)
*/


.header-top {
	padding-top: .3rem;
	padding-bottom: .3rem;
	background-color: #086a3d;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	text-align: center;
}

.header-top__text {
	color: white;
}

/* .nav-meun__link:not(:hover),
.nav-meun__link:not(:active), */
.nav-menu__link {
	font-size: 15px;
	color: white;
}

.nav-menu__link:focus,
.nav-menu__link:hover {
	color: #0e1e0a;  /* dark */
	/* color: #f0cb46; */
}


/* style dropdown arrow */
.nav-menu__link::after {
	vertical-align: 0.1em;
}

.notifs-and-profile {
	text-align: right;
	padding-right: 0;
	margin: 0;
	display: flex;
	justify-content: end;
}

.header-notifs-svg {
	position: relative;
	top: .4rem;
	padding-left: 1px;
}

.header-notifs-link:hover,
.header-profile-menu:hover {
	filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 2px 5px);
}

.header-notifs-link,
.header-profile-menu,
.header-notifs-link:hover,
.header-profile-menu:hover {
	color: #fff;
	text-decoration: none;
	font-size: .65em;
}

.header-profile-svg {
	margin-top: 3px;
	margin-bottom: 1px;
}

.header-profile-info {
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	display: block;
}

.nav-bar-toggler {
	border-color: #ffe484;
	background: none;
	opacity: 0.8;
}

.nav-bar-toggler:hover,
.nav-bar-toggler:focus,
.nav-bar-toggler:active {
	box-shadow: none;
	opacity: 1;
}

.nav-bar-toggler__icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.institution-searchbox {
	background-color: #21935e;
	border-radius: 5px;
}


/* if i decide to change the style of the top search form button, just remove this class '.form-submit-button' */
.form-submit-button,
.institution-search-form__submit-button {
	font-weight: 600;
	color: #ffe484;
	border-color: #ffe484;
}

.form-submit-button:active,
.form-submit-button:hover,
.institution-search-form__submit-button:active,
.institution-search-form__submit-button:hover {
	/* color: #2a2730; */
	color: #ffe484;
	background-color: #3f996f;
	border-color: #ffe484;
}

.section-title {
	font-size: 1.62rem;
	border-bottom: 1px solid #198754;
	/* padding-bottom: 10px; */
	/* border-bottom: 1px solid #93999F; */
}

.section-title__text {
	border-bottom: 2px solid #198754;
}


/* Footer section */
.footer {
	color: rgba(0, 0, 0, 0.7);
}

.footer__subheading {
	padding-bottom: 3px;
	border-bottom: 1px solid #505e4c;
	font-size: 1.7rem;
	letter-spacing: 0.05rem;
	color: #88d985;
	font-weight: bold;
}

.footer__link {
	padding-left: 0;
	padding-bottom: 4px;
	color: #69bd66;
}

.footer__link:hover {
	/* color: #444; */
	/* color: #eee; */
	color: #69bd66; /* maintain same color */
	text-decoration: underline;
}

.footer-channels__svg {
	vertical-align: -2px;
	margin-left: 5px;
}


/* Layout for desktop sizes and greater */
/* make dropdown menus hoverable */
@media (min-width: 992px) {
	/* the nav links */
	/* .nav-item .dropdown-menu{ display: none; }
	.nav-item:hover .nav-link{   }
	.nav-item:hover .dropdown-menu{ display: block; }
	.nav-item .dropdown-menu{ margin-top:0; }

	/* the My Account dropdown
	.list-inline-item .dropdown-menu{ display: none;}
	.list-inline-item:hover .dropdown-menu{ display: block; }
	.list-inline-item .dropdown-menu{ margin-top:0; } */
	.dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0;
	}

}


/* xs, sm, md. (lg is from >= 992px) */
@media (max-width: 991.98px) {

}
