/** EXTRA CSS FOR THE MARKETPLACE SITE */

/** Listing creation forms (advert and item listings) */
.listing-form-container {
    width: 70%;
}

.listing-form {
    padding: 1.5rem 1rem 1.5rem 2rem;  /* pt-4, pb-4 */
}

.gallery-container {
    width: 90%;
}

.photo-wrp__img {
    width: 130px;
    height: 70px;
}

/** Item listing detail */
/* .listing-wrp {
    flex-direction: column;
} */

.listing-title {
    font-variant: small-caps;
}

.warning-wrp {
    font-size: 0.92rem;
    width: 75%;
}

.number-box-wrp {
    width: 30%;
}

.number-box__tel,
.number-box__whatsapp {
    cursor: pointer;
}

.similar-listing__img {
    width: 10rem;
    height: 4rem;
}

.similar-listing__img--ad {
    /* (width, height) = (80px, 80px) is the pair corresponding to fa-5x on font-awesom icon */
    width: 80px;
    height: 80px; 
}

/** Item listing list */
.listing-list-container {
    width: 70%;
}

.listing-search-form-wrp {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
}

/* .listing-search-form {
    width: 85%;
} */

.post {
    border-bottom: 1px solid #ddd;
}

.post__img {
    width: 10rem;
    height: 100%;
}

/** Listing explain page */
.listing-descr-img {
    height: 12rem;
}


/*** MEDIA QUERIES ***/
/* Layout for desktop sizes and greater (>= lg) */
@media (min-width: 992px) {
    .ad-info,
    .item-info {
        width: 35%;
    }
}

/* xs, sm, md. (lg is from >= 992px) */
@media (max-width: 991.98px) {
    .listing-search-form,
    .listing-list-container,
    .listing-form-container {
        width: 100%;
    }

	.listing-form {
        padding-left: 1rem; /* ps-3 */
        padding-right: 1rem; 
    }

    .warning-wrp {
        width: 100%;
    }
}