/** EXTRA CSS FOR THE PAST_PAPERS SITE */

/** Past paper creation form */
.pastpaper-form-container {
    width: 70%;
    padding-left: 2rem;  
    padding-right: 1rem; 
}

.pastpaper-form {
    padding-top: 1.5rem;  /* pt-4 */
    padding-bottom: 1.5rem;  /* pb-4 */
}

/** Past papers list */
.pastpapers-list-container {
	width: 75%;
}

/** Past papers detail page */
.pastpaper-comments {
    width: 70%;
}

.pastpaper-comment-form {
    width: 55%;
}


/*** MEDIA QUERIES ***/
/* xs, sm, md. (lg is from >= 992px) */
@media (max-width: 991.98px) {
    .pastpaper-form-container {
        width: 100%;
    }

	.pastpaper-form {
        padding-left: 1rem; /* ps-3 */
        padding-right: 1rem; 
    }

	.pastpapers-list-container {
		width: 100%;
	} 

    .pastpaper-comments {
        width: 100%;
    }

    .pastpaper-comment-form {
        width: 100%;
    }

}