/** EXTRA CSS FOR THE REQUESTED_ITEMS SITE */

/* Forms (create templates) */
.requested-item-form-container {
    width: 70%;
}

.requested-item-form {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 1.5rem 1rem 1.5rem 2rem;  /* pt-4, pb-4 */
}

/* Listings */
.requested-items-list-container {
    width: 70%;
}

/* .requested-items-search-form-wrp {
    background-color: #f6f6f6;
    /* border: 1px solid #ccc; 
} */

.requested-items-search-form {
    background-color: #f6f6f6;
    /* width: 85%; */
}

.requested-items-list-art {
	width: 85%;
}

.requested-item-item {
    border-bottom: 1px solid #ddd;
}

.requested-item-item__img {
    width: 10rem;
    height: 100%;
}

/** Detail */
/* .requested-item-art {
    width: 85%;
} */

.number-box-wrp {
    width: 30%;
}

.number-box__tel,
.number-box__whatsapp {
    cursor: pointer;
}

/* .similar-item__img {
    width: 10rem;
    height: 4rem;
} */

.similar-req-item__img {
    /* (width, height) = (80px, 80px) is the pair corresponding to fa-5x on font-awesome icon */
    width: 80px;
    height: 80px; 
}

/*** MEDIA QUERIES ***/
/* Layout for desktop sizes and greater (>= lg) */
@media (min-width: 992px) {
    .requested-item-info {
        width: 35%;
    }
    /* .requested-item-photo-section {
        padding-right: 3rem; /* pe-5 
    } */
}

/* xs, sm, md. (lg is from >= 992px) */
@media (max-width: 991.98px) {
    /* .requested-item-art { */
    .requested-item-form-container,
    .requested-items-list-container,
	.requested-items-list-art {
        width: 100%;
    }

	.requested-item-form {
        padding-left: 1rem; /* ps-3 */
        padding-right: 1rem; 
    }

}