{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load flag_tags %}
{% load app_extras %}  

{% block title %}
	<title>{% trans 'Found' %} {{ found_item.item_found }} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/flag.css' %}">
	<link rel="stylesheet" href="{% static 'css/lost_and_found.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5">
	<article class="d-flex flex-column shadow rounded p-3 mb-5 founditem-art">
		<h2>{% trans 'Found' %} {{ found_item.item_found }}</h2>
		<div class="d-inline-block">
			{% trans 'School' %}:
			<a 
				href="{% url 'lost_and_found:found-item-list' %}?school={{ found_item.school_id }}" 
				class="text-decoration-none"
			> 
				{{ found_item.school }}
			</a>
			{% with view_count=found_item.view_count %}
			<span class="ms-3" title="{{ view_count }} {% trans 'view' %}{{ view_count|pluralize }}">
				<i class="far fa-eye me-1" aria-hidden="true"></i>
				<span class="visually-hidden">{% trans 'Number of views' %}</span>
				{{ view_count }}
			</span>
			{% endwith %}
		</div>
		<div class="inline-block mb-4">
			{% trans 'Reported' %} 
			<span class="text-muted me-2" title="{{ found_item.posted_datetime }}">
				{{ found_item.posted_datetime|naturaltime }}
			</span>
			{% trans 'By' %} 
			{% with poster=found_item.poster %}
			{% if poster.has_social_profile %}
				<a 
					class="text-decoration-none" 
					href="{{ poster.get_absolute_url }}"
				>
					{{ poster.full_name }}
				</a>
			{% else %}
				<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">{{ poster.full_name }}</span>
			{% endif %}
			{% endwith %}
		</div>

		<div class="mb-3 how-found-wrp">
			{{ found_item.how_found }}
		</div>

		{# post actions #}
		<div class="mb-5">
			{# bookmark, sharing, flagging #}
			<div class="mb-3">
				<!-- Bookmark area -->
				<div class="d-inline me-2">
					{% url 'lost_and_found:lost-item-bookmark-toggle' as bookmark_url %}
					{% trans 'Add this post to your favourites. (click again to undo)' as title_text %}
					{% render_bookmark_template lost_item bookmark_url title_text %}
				</div>
				<!-- Share area -->
				<div class="d-inline mx-2">
					{% trans 'Share a link to this post' as heading %}
					{% include 'core/social_share_tooltip.html' with heading=heading %}
				</div>
				<!-- flag area -->
				{# if post belongs to user, dont display flag widget #}
				{% if user.id != lost_item.poster_id %}
					<div class="d-inline ms-2">
						{% if user.is_anonymous %}
							{% get_login_url as login_url %}
							<a href="{{ login_url }}?next={{ request.build_absolute_uri }}" class="link-danger text-decoration-none">
								{% trans 'Report post' %}
								<span>
									{% include "flag/flag_icon.html" %}
								</span>
							</a>
						{% else %}
							{# this span shouldn't be removed ! #}
							{# js needs an element with class js-flagHelper #}
							<span class="link-danger js-flagHelper" role="button">
								{% if has_flagged %} 
									{% trans 'Remove flag' %}
								{% else %} 
									{% trans 'Report post' %} 
								{% endif %}
							</span> 
							{% render_flag_form lost_item user request %}
						{% endif %}
					</div>
				{% endif %}
			</div>
			{# editing and deleting #}
			{% if can_edit_item or can_delete_item %}
				<div class="mb-3">
					{% if can_edit_item %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'lost_and_found:lost-item-update' pk=lost_item.pk %}">
								<i class="fas fa-edit me-1" aria-hidden="true"></i>
								{% trans 'Edit post' %}
							</a>
						</div>
					{% endif %}
					{% if can_delete_item %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'lost_and_found:lost-item-delete' pk=lost_item.pk %}">
								<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
								{% trans 'Delete post' %}
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>	

		<!-- don't separate these 3 elements, dependency in js. -->
		<button class="btn btn-warning mb-3 w-25 js-claim-item-btn">
			{% trans 'Claim item' %}
		</button>
		<p class="alert alert-warning pb-3 mb-4 claim-msg-wrp" role="alert">
			{% blocktrans %}
				We hope this item actually belongs to you. <br>
				If it belongs to you, contact the poster using the details below.
			{% endblocktrans %}
		</p>	

		<!-- contact details -->
		<section class="contact-details">
			<h4 class="text-success">{% trans 'Contact' %} {{ found_item.poster.full_name }}</h4>
			<ul class="fs-4 px-3 mb-3 shadow-sm rounded number-box-wrp">
				{% for phone_number in contact_numbers %}
					{% with phone_number.number as number %}
					<li class="py-2 d-flex justify-content-between number-box">
						<a 
							href="tel: {{ number }}" 
							class="text-dark text-decoration-none number-box__tel"
						>
							{# properly print tel using custom template filter #}
							{{ number|parse_tel }}
						</a>
						{% if phone_number.can_whatsapp %}
							{# see this SO question about the title and aria-label attributes #}
							{# https://stackoverflow.com/questions/27953425/ #}
							<a 
								href="https://wa.me/237{{ number }}" 
								class="text-success number-box__whatsapp js-whatsapp-tooltip"
								data-bs-toggle="tooltip"
								title="{% trans 'Contact via WhatsApp' %}"
								aria-label="{% trans 'Contact via WhatsApp' %}"
							>
								<i class="fab fa-whatsapp" aria-hidden="true"></i>
							</a>
						{% endif %}
					</li>
					{% endwith %}
				{% endfor %}
				</ul>
		</section>
	</article>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/flag.js' %}"></script>
<script>
	// initialize contact tooltips on page
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('.js-whatsapp-tooltip'));
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl);
	});

	var $claimBtn = $('.js-claim-item-btn').first();
	$claimBtn.click(function() {
		var $this = $(this);
		var $claimMsgBlock = $this.next();
		$claimMsgBlock.show();
		$claimMsgBlock.next().show();
		$this.hide();
	});

	/* FLAG FORM */
	// trigger click on flag-report-icon when flag helper is clicked
	$('.js-flagHelper').click(function() {
		var $parentWrp = $(this).parent();
		console.log($parentWrp);
		$parentWrp.find('.js-flag-report-icon').first().click();
		// $('.js-flag-report-icon').first().click();
	});

</script>
{% endblock %}