{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load app_extras %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	<title>{% trans 'Reported Found Items' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'minified/css/lost_and_found.min.css' %}"> 
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 founditems-list-container">
	<h2 class="text-success">{% trans 'Items Found' %}</h2>
	<article class="border mx-lg-auto">
		<section class="px-3 pt-4">
			<p>
				{% blocktrans %}
				Statistics say nearly 3,300 items are lost per year. 
				Have you found a missing item in your school ? <br>
				Publish items you've found here.
				{% endblocktrans %}
			</p>
			<a href="{% url 'lost_and_found:found-item-create' %}" class="btn btn-warning mb-3">
				{% trans 'Publish an item you found' %}
			</a>
		</section>
		<section class="mb-3">
			<form method="get" class="p-3 m-3 border founditems-search-form">
				<h4>{% trans 'Filter' %}</h4>
				{% with filter.form as form %}
					<div class="row">
						<div class="form-group col-md-5">
							{{ form.school|as_crispy_field }}
						</div>
						<div class="form-group col-md-7">
							{{ form.item_found|as_crispy_field }}
						</div>
					</div>
				{% endwith %}
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search" aria-hidden="true"></i>
					{% trans 'Search' %}
				</button>
			</form>
		</section>

		<section>
			<ul class="list-group list-group-flush ms-5 pe-4">
				{% for found_item in page_obj %}
					{% with poster=found_item.poster view_count=found_item.view_count original_lang=found_item.original_language %}
					<li class="list-group-item pb-3 mb-3 ms-2 {% if forloop.first %} pt-3 {% endif %}">
						<a 
							href="{{ found_item.get_absolute_url }}" 
							class="fw-bold text-decoration-none"
						>
							<span {% if found_item|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
								{{ found_item.item_found }}
							</span>
						</a>
						{% include 'core/google_attribution.html' with object=found_item %}

						<!-- found item meta -->
						<div class="mt-2">
							<a 
								class="small text-decoration-none" 
								href="{% url 'lost_and_found:found-item-list' %}?school={{ found_item.school_id }}"
							>
								({{ found_item.school }})
							</a>
							<div class="d-inline ms-3">
								<span class="text-muted">{% trans 'Published by' %}</span>
								{% if poster.has_social_profile %}
									<a 
										class="text-decoration-none" 
										href="{{ poster.get_absolute_url }}"
									>
										{{ poster.full_name }}
									</a>
								{% else %}
									<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">
										{{ poster.full_name }}
									</span>
								{% endif %}
								<span class="text-muted">&nbsp; - &nbsp;{{ found_item.posted_datetime|naturaltime }}</span>
								<span class="ms-3" title="{{ view_count }} {% trans 'view' %}{{ view_count|pluralize }}">
									<i class="far fa-eye me-1" aria-hidden="true"></i>
									<span class="visually-hidden">{% trans 'Number of views' %}</span>
									{{ view_count }}
								</span>
							</div>
						</div>
					</li> 
					{% endwith %}
				{% endfor %}
					
				{% if is_paginated %}
					{% include 'core/pagination.html' with page_obj=page_obj %}
				{% endif %}
			</ul>
		</section>
	</article>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock %} 