{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load app_extras %}

{% block title %}
	<title>{% trans 'Reported Found Items' %}</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/lost_and_found.css' %}"> 
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5">
	<h2 class="text-success">{% trans 'Items Found' %}</h2>
	<article class="border founditems-list-art">
		<section class="px-3 pt-4">
			<p>
				{% blocktrans %}
					Statistics say 80% of missing items are in good hands. Have you found a missing item in your school ? <br>
					Publish items you've found here.
				{% endblocktrans %}
			</p>
			<a href="{% url 'lost_and_found:found-item-create' %}" class="btn btn-warning mb-3">
				{% trans 'Publish an item you found' %}
			</a>
		</section>
		<section class="mb-3">
			<form method="get" class="p-3 m-3 border">
				<h4>{% trans 'Filter' %}</h4>
				{% with filter.form as form %}
					<div class="row">
						<div class="form-group col-12 col-md-5">
							{{ form.school|as_crispy_field }}
						</div>
						<div class="form-group col-12 col-md-5">
							{{ form.item_found|as_crispy_field }}
						</div>
					</div>
				{% endwith %}
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search" aria-hidden="true"></i>
					{% trans 'Search' %}
				</button>
			</form>
		</section>

		<section>
			<ul class="list-group list-group-flush ms-5 pe-4">
				{% for found_item in page_obj %}
					{% with poster_username=found_item.poster.username %}
						<li class="list-group-item pb-3 mb-3 ms-2 {% if forloop.first %} pt-3 {% endif %}">
							<a 
								href="{{ found_item.get_absolute_url }}" 
								class="fw-bold text-decoration-none"
							>
								{{ found_item.item_found }}
							</a>
							<!-- found item meta -->
							<div class="mt-2">
								<a 
									class="small text-decoration-none" 
									href="#"
								>
									({{ found_item.school }})
								</a>
								<div class="d-inline ms-3">
									<span class="text-muted">{% trans 'Published by' %}</span>
									<a 
										href="{% url 'users:view-profile' username=poster_username %}"
										class="text-decoration-none"
									>
										{{ poster_username }}
									</a>
									<span class="text-muted">&nbsp; - &nbsp;{{ found_item.posted_datetime|naturaltime }}</span>
								</div>
							</div>
						</li> 
					{% endwith %}
				{% endfor %}
					
				{% if is_paginated %}
					<ul class="pagination ms-3 mb-3 mt-4">
						{% if page_obj.has_previous %}
							<li class="page-item">
								<a 
									aria-label="{% trans 'Previous' %}"
									class="page-link" 
									href="?{% query_transform request page=page_obj.previous_page_number %}"
								>
									<span aria-hidden="true">
										<i class="fas fa-chevron-left"></i>
									</span>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span class="page-link">
									<i class="fas fa-chevron-left"></i>
								</span>
							</li>
						{% endif %}

						{% if page_obj.number|add:'-4' > 1 %}
							<li class="page-item">
								<a 
									class="page-link"
									href="?{% query_transform request page=page_obj.number|add:'-5' %}"
								>
									&hellip;
								</a>
							</li>
						{% endif %}

						{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="page-item active">
									<span class="page-link">
										{{ i }} <span class="visually-hidden">{% trans 'Current' %}</span>
									</span>
								</li>
							{% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
								<li class="page-item">
									<a 
										class="page-link"
										href="?{% query_transform request page=i %}"
									>
										{{ i }}
									</a>
								</li>
							{% endif %}
						{% endfor %}

						{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
							<li class="page-item">
								<a 
									class="page-link"
									href="?{% query_transform request page=page_obj.number|add:'5' %}"
								>
									&hellip;
								</a>
							</li>
						{% endif %}

						{% if page_obj.has_next %}
							<li class="page-item">
								<a 
									aria-label="{% trans 'Next' %}"
									class="page-link" 
									href="?{% query_transform request page=page_obj.next_page_number %}"
								>
									<span aria-hidden="true">
										<i class="fas fa-chevron-right"></i>
									</span>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span class="page-link">
									<i class="fas fa-chevron-right" aria-hidden="true"></i>
								</span>
							</li>
						{% endif %}
					</ul>
				{% endif %}
			</ul>
		</section>
	</article>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock %} 