{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!-- {% load app_extras %} -->

{% block title %}
	<title>{% trans 'Report a lost item' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/lost_and_found.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}


{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 lostitem-form-container">
	<form name='lost-item-form' class="shadow lostitem-form" method="post">
		{% csrf_token %}
		<h2 class="text-center mb-4 text-success">{% trans 'Report a lost item'|title %}</h2>
		
		{% crispy form %}
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/jquery.dirty.js' %}"></script>
<script>
	var $form = $("[name='lost-item-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});
</script>
{% endblock %}