bleach                   3.3.1                 
boto3                    1.18.60                  
crispy-bootstrap5        0.4                 
cryptocode               0.1         
Django                   3.1.3               
django-allauth           0.44.0                         
django-archive           0.2.0               
django-ckeditor          6.1.0               
django-crispy-forms      1.12.0              
django-debug-toolbar     3.1.1               
django-extensions        3.1.0               
django-extra-views       0.14.0              
django-filter            2.4.0                
django-hosts             4.0                 
django-imagekit          4.0.2               
django-jfu               2.0.9               
django-js-asset          1.2.2               
django-model-utils       4.1.1               
django-modeltranslation  0.17.1                         
django-reversion         3.0.8               
django-simple-captcha    0.5.14              
django-storages          1.11.1                       
django-taggit            1.5.1               
easy-thumbnails          2.7.1               
fpdf                     1.7.2                 
google-cloud-storage     1.42.3              
google-cloud-translate   2.0.1                    
Pillow                   8.0.1               
pip                      20.0.2               
psycopg2                 2.8.6               
psycopg2-binary          2.8.6                
requests                 2.22.0              
sorl-thumbnail           12.7.0               
swapper                  1.1.2.post1             
urllib3                  1.25.8                
whitenoise               5.3.0                
