<!-- This is the last password-reset template, which is displayed to notify you when the password reset has succeeded -->

{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
<title>{% trans 'Password changed' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h2 class="text-success mb-2">{% trans 'Your password has been successfully changed!' %}</h2>
    	<p>{% trans "You will be logged out and redirected to the login page in a few seconds..." %}</p>
    </div>
	
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		// log user out then redirect to login page after 5 seconds
		setTimeout(function() {
			window.location.href = "{% url 'users:logout-then-login' %}";
		}, 5000)
	</script>
{% endblock %}
