<!-- This page is where you enter your new password after clicking the link in the password reset email. -->
{% extends "core/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
<title>{% trans 'Confirm password reset' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
	<div class="container mb-5">
		{% if validlink %}
			<p>{% trans 'Please enter (and confirm) your new password.' %}</p>

			<form action="" method="post">
				{% csrf_token %}
				{{ form|crispy }}
				
				<input type="submit" class="btn btn-success mt-2" value="{% trans 'Change my password' %}" />
			</form>
		{% else %}
			<h2>{% trans 'Password reset failed' %}</h2>
			<p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
		{% endif %}
	</div>
{% endblock %}