<!-- This form is displayed after your email address has been collected and password reset link has been sent. -->
{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
<title>{% trans 'Password reset email sent' %}</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
	<div class="container mb-5">
		<p class="fs-5">{% trans "We've emailed you instructions for setting your password." %} <br>
			{% trans "If they haven't arrived in a few minutes, check your spam folder." %}
		</p>
	</div>
	
{% endblock %}

{% block footer %}
{% endblock %}