{% extends "core/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
<title>{% trans 'Change Password' %}</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container mb-5">
	<div class="d-flex justify-content-center">
		<form 
            class="w-50 p-3 user-form user-form--password-change" 
            action="{% url 'users:password-change' %}" 
            method="post"
        >
			{% csrf_token %}
			<h2 class="text-center text-success mb-4">
                {% trans 'Change Password' %}
            </h2>
			{{ form|crispy }}

			<button type="submit" class="mt-1 mb-3 py-2 btn btn-success">
				{% trans 'Change password' %}
			</button>
		</form>
	</div>
</div>
{% endblock content %}
