{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load app_extras %}

{% block title %}
	<title>{% trans 'Past Papers' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 pastpapers-list-container">
	<h2 class="text-success">{% trans 'Past Papers' %}</h2>
	<article class="border mx-lg-auto">
		<section class="px-3 pt-4">
			<p>
				{% blocktrans %}
					Upload your revision papers and past papers from your school, 
					and view and download past papers from other schools.
				{% endblocktrans %}
				
				{# dropdown menu #}
				<div class="btn-group d-block">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="levelsMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
						{% trans 'Levels' %}
					</button>
					<div class="dropdown-menu ps-3 pt-3" aria-labelledby="levelsMenuButton">
						<p>{% trans 'The codes for the levels are as follows: ' %}</p>
						<ul class="row">
							{% for entry in levels %}
								<li class="col-lg-2 mx-lg-1 mb-2">{{ entry.0 }} - {{ entry.1 }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</p>
			<a href="{% url 'past_papers:past-paper-upload' %}" class="btn btn-warning mb-3">
				{% trans 'Upload a past paper' context 'link' %}
			</a>
		</section>
		<section class="mb-3">
			<form method="get" class="p-3 m-3 border filter-form">
				<h4>{% trans 'Filter' %}</h4>
				{% with filter.form as form %}
					<div class="row">
						<div class="form-group col-md-6">
							{{ form.school|as_crispy_field }}
						</div>
						<div class="form-group col-md-6">
							{{ form.level|as_crispy_field }}
						</div>
						<div class="form-group col-md-6">
							{{ form.subject|as_crispy_field }}
						</div>
						<div class="form-group col-md-6">
							{{ form.title|as_crispy_field }}
						</div>
					</div>
				{% endwith %}
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search" aria-hidden="true"></i>
					{% trans 'Search' %}
				</button>
			</form>
		</section>

		<section class="">
			<ul class="list-group list-group-flush ms-5 pe-4">
				{% for past_paper in page_obj %}
					<li class="list-group-item pb-4 mb-3 ms-2 {% if forloop.first %} pt-3 {% endif %}">
						<a 
							href="{{ past_paper.get_absolute_url }}" 
							class="fw-bold text-decoration-none"
						>
							{{ past_paper.title }}
						</a>
						<!-- past paper meta -->
						<div class="mt-2">
							<a 
								class="badge bg-info link-light opacity-75 text-decoration-none" 
								href="{% url 'past_papers:past-paper-list' %}?level={{ past_paper.level }}"
								title="{{ past_paper.get_level_display }}"
							>
								{{ past_paper.level }}
							</a>
							<a 
								class="badge bg-secondary ms-2 link-light opacity-75 text-decoration-none" 
								href="{% url 'past_papers:past-paper-list' %}?subject={{ past_paper.subject_id }}"
							>
								{{ past_paper.subject }}
							</a>
							{% if past_paper.school %}
								<a 
									class="small text-decoration-none" 
									href="{% url 'past_papers:past-paper-list' %}?school={{ past_paper.school_id }}"
								>
									&nbsp; ({{ past_paper.school }})
								</a>
							{% endif %}
							{% with view_count=past_paper.view_count %}
							<span class="align-middle ms-4" title="{{ view_count }} {% trans 'view' %}{{ view_count|pluralize }}">
								<i class="far fa-eye me-1" aria-hidden="true"></i>
								<span class="visually-hidden">{% trans 'Number of views' %}</span>
								{{ view_count }}
							</span>
							{% endwith %}
							<div class="d-block small mt-2">
								<span class="text-muted">{% trans 'uploaded by' %}</span>
								{% with poster=past_paper.poster %}
								{% if poster.has_social_profile %}
									<a 
										class="text-decoration-none" 
										href="{{ poster.get_absolute_url }}"
									>
										{{ poster.username }}
									</a>
								{% else %}
									<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">
										{{ poster.username }}
									</span>
								{% endif %}
								{% endwith %}
								<span class="small text-muted">
									&nbsp; - &nbsp;{{ past_paper.posted_datetime|naturaltime }}
								</span>
							</div>
						</div>
					</li> 
				{% endfor %}
					
				{% if is_paginated %}
					{% include 'core/pagination.html' with page_obj=page_obj %}
				{% endif %}
				<!-- to create empty space ...-->
				<div class="mb-3"></div>
			</ul>
		</section>
	</article>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock %} 