{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Upload a past question paper' %} | CamerSchools</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'minified/css/past_papers.min.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 pastpaper-form-container">
	<form name="past-paper-form" class="ps-3 pe-2 py-4 shadow" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h2 class="text-center mb-4 text-success">
			{% trans 'Upload a Question Paper' %}
		</h2>
		{% crispy form %}
	</form>
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'minified/js/jquery.dirty.min.js' %}"></script>
<script>
	// show message when user is about to leave "dirty" form
	var $form = $("[name='past-paper-form']");
	$form.dirty({
		preventLeaving: true,
		// message to display when user is about to leave page..
		// note that some(most) browsers will display their own message.
		leavingMessage: "{% trans 'There are unsaved changes on this page which will be discarded if you leave.' %}"
	});
</script>
{% endblock extra_js %}