{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load flag_tags %}
{% load app_extras %}

{% block title %}
	{% get_current_language as LANGUAGE_CODE %}
	<title>
		{% if LANGUAGE_CODE == 'fr' %}
			{% trans 'Epreuve de' %} {{ past_paper.title }}
		{% else  %}
			{{ past_paper.title }} {% trans 'paper' %}
		{% endif %}
		| CamerSchools
	</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'minified/css/flag.min.css' %}">
	<link rel="stylesheet" href="{% static 'minified/css/past_papers.min.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg">
	<article class="border mb-4 p-3 ">
		<div class="d-flex justify-content-between">
			<h2 class="mb-2">{{ past_paper.title }}</h2>
			<a class="btn btn-warning" href="{% url 'past_papers:past-paper-upload' %}">
				{% trans 'Upload a past paper' %}
			</a>
		</div>
		<section class="text-muted mb-4">
			<span class="text-muted">{% trans 'Uploaded on' %}</span>
			{{ past_paper.posted_datetime|date:'d M, Y' }}
			{% trans 'by' %}
			{% with poster=past_paper.poster %}
			{% if poster.has_social_profile %}
				<a 
					class="text-decoration-none" 
					href="{{ poster.get_absolute_url }}"
				>
					{{ poster.full_name }}
				</a>
			{% else %}
				<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">
					{{ poster.full_name }}
				</span>
			{% endif %}
			{% endwith %}
			{% if past_paper.school %}
				{% trans 'for' %}
				<a href="{% url 'past_papers:past-paper-list' %}?school={{ past_paper.school_id }}" class="text-decoration-none">{{ past_paper.school }}</a>
			{% endif %}
			{% with view_count=past_paper.view_count %}
			<div>
				{% trans 'Views' %}:
				<span class="ms-2">
					{{ view_count }}
					<i class="far fa-eye ms-1" aria-hidden="true"></i>
				</span>
			</div>
			{% endwith %}
		</section>

		{# file viewer #}
		<section class="mb-5">
			<!-- <iframe 
				src="https://docs.google.com/gview?url={{ past_paper.file.url }}&embedded=true" 
				style="width:600px; height: 500px;" 
				frameborder="0"
			>
			</iframe> -->

			<object 
				data="{{ past_paper.file.url }}" 
				type="application/pdf" 
				width="90%" 
				height="500px">
			</object>
		</section>

		{% with file=past_paper.file %}
		<a href="{{ file.url }}" class="btn btn-primary mb-4" download>
			<i class="fas fa-file-download me-1" aria-hidden="true"></i>
			{% trans 'Download file' %} 
			({{ file.size|filesizeformat }})
		</a>
		{% endwith %}

		{# post actions #}
		<div class="mb-5">
			{# bookmark, sharing, flagging #}
			<div class="mb-3">
				<!-- Bookmark area -->
				<div class="d-inline me-2">
					{% url 'past_papers:past-paper-bookmark-toggle' as bookmark_url %}
					{% url 'users:profile-pastpapers' as bookmarks_url %}
					{% trans 'Add this post to your favourites. (click again to undo)' as title_text %}
					{% render_bookmark_template past_paper bookmark_url bookmarks_url title_text %}
				</div>
				<!-- Share area -->
				<div class="d-inline mx-2">
					{% trans 'Share a link to this post' as heading %}
					{% include 'core/social_share_tooltip.html' with heading=heading title=past_paper.title url=request.build_absolute_uri %}
				</div>
				<!-- flag area -->
				{# if post belongs to user, don't display flag widget #}
				{% if user.id != past_paper.poster_id %}
					<div class="d-inline me-2">
						{% if user.is_anonymous %}
							{% get_login_url as login_url %}
							<a href="{{ login_url }}?next={{ request.build_absolute_uri }}" class="link-danger text-decoration-none">
								{% trans 'Report post' %}
								<span>
									{% include "flag/flag_icon.html" %}
								</span>
							</a>
						{% else %}
							{# this span shouldn't be removed ! #}
							{# js needs an element with class js-flagHelper #}
							<span class="link-danger js-flagHelper" role="button">
								{% if has_flagged %} 
									{% trans 'Remove flag' %}
								{% else %} 
									{% trans 'Report post' %} 
								{% endif %}
							</span> 
							{% render_flag_form past_paper user request %}
						{% endif %}
					</div>
				{% endif %}
			</div>
			
			{# deleting (rem past papers can't be edited) #}
			{% if can_delete_paper %}
				<div class="d-inline">
					<a class="text-decoration-none link-danger" href="{% url 'past_papers:past-paper-delete' pk=past_paper.pk %}">
						<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
						{% trans 'Delete post' %}
					</a>
				</div>
			{% endif %}
		</div>

		{# comments section #}
		<section class="mb-2">
			{% if comments.exists %}
				<h5>
					{% blocktrans count num_comments=comments.count with title=past_paper.title %}
						{{ num_comments }} comment on <strong class="small">{{ title }}</strong>
						{% plural %}
						{{ num_comments }} comments on <strong class="small">{{ title }}</strong>
					{% endblocktrans %}
				</h5>
				<ul class="list-group list-group-flush pe-4 mb-3">
					{% for comment in page_obj %}
						{% with poster=comment.poster %}
						<li class="list-group-item pb-3 mb-2 ms-2 {% if forloop.first %} pt-3 {% endif %}">
							<p class="text-break m-0">{{ comment.content }}</p>
							{% if poster.has_social_profile %}
								<a 
									class="text-decoration-none" 
									href="{{ poster.get_absolute_url }}"
								>
									{{ poster.username }}
								</a>
							{% else %}
								<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">
									{{ poster.username }}
								</span>
							{% endif %}
							<span class="text-muted" title="{{ comment.posted_datetime }}">
								&nbsp; - &nbsp; {{ comment.posted_datetime|date:'d M, Y' }}
							</span>
							{# flag, edit / delete #}
							<div class="mt-2">
								<!-- flag area -->
								{# if post belongs to user, don't display flag widget #}
								{% if user.id != comment.poster_id %}
									<div class="d-inline-block me-2">
										{% if user.is_anonymous %}
											{% get_login_url as login_url %}
											<a href="{{ login_url }}?next={{ request.build_absolute_uri }}" class="link-danger text-decoration-none">
												{% trans 'Report post' %}
												<span>
													{% include "flag/flag_icon.html" %}
												</span>
											</a>
										{% else %}
											{# this span shouldn't be removed ! #}
											{# js needs an element with class js-flagHelper #}
											<span class="link-danger js-flagHelper" role="button">
												{% if has_flagged %} 
													{% trans 'Remove flag' %}
												{% else %} 
													{% trans 'Report post' %} 
												{% endif %}
											</span> 
											{% render_flag_form comment user request %}
										{% endif %}
									</div>
								{% endif %}

								<!-- edit and delete area -->
								{% if user|can_edit_comment:comment %}
									<div class="d-inline me-2">
										<a 
											class="text-decoration-none link-danger" 
											href="{% url 'past_papers:past-paper-comment-update' pk=comment.pk %}"
										>
											<i class="fas fa-edit me-1" aria-hidden="true"></i>
											{% trans 'Edit comment' %}
										</a>
									</div>
								{% endif %}
								{% if user|can_delete_comment:comment %}
									<div class="d-inline">
										<a class="text-decoration-none link-danger" href="{% url 'past_papers:past-paper-comment-delete' pk=comment.pk %}">
											<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
											{% trans 'Delete comment' %}
										</a>
									</div>
								{% endif %}
							</div>
						</li> 
						{% endwith %}
					{% endfor %}
				</ul>
						
				{% if is_paginated %}
					{% include 'core/pagination.html' with page_obj=page_obj %}
				{% endif %}
			{% endif %}
			
			<hr class="mb-4">
			{# form to add comment #}
			<form method="post" class="pastpaper-comment-form">
				<h4>{% trans 'Leave a comment' %}</h4>
				{% csrf_token %}		
				{{ comment_form|crispy }}
				{{ comment_form.fields.poster }}
				{{ comment_form.fields.past_paper }}

				<input type="hidden" name="past_paper_id" value="{{ past_paper.id }}">
				<input type="submit" class="btn btn-sm btn-secondary" value="{% trans 'Add comment' %}">
			</form>
		</section>
	</article>

	{% if similar_papers.exists %}
		<section class="border p-3">
			<h4 class="mb-3 opacity-75">
				{% blocktrans with subject=past_paper.subject level_name=past_paper.get_level_display %}
					Some similar <span class="fw-bold">{{ subject.name }}</span> 
					papers for <span class="fw-bold">{{ level_name }}</span>
				{% endblocktrans %}
			</h4>
			<ul class="list-group list-group-flush">
				{% for similar_paper in similar_papers %}
					<li class="list-group-item pb-3 mb-2">
						<a 
							href="{{ similar_paper.get_absolute_url }}" 
							class="text-decoration-none"
						>
							{{ similar_paper.title }}
						</a>
					</li> 
				{% endfor %}
			</ul>
		</section>
	{% endif %}
	<div class="mb-5">
</div>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'minified/js/flag.min.js' %}"></script>
<script>

	// flagging 
	// trigger click on flag-report-icon when flag helper is clicked
	$('.js-flagHelper').click(function() {
		var $parentWrp = $(this).parent();
		console.log($parentWrp);
		$parentWrp.find('.js-flag-report-icon').first().click();
		// $('.js-flag-report-icon').first().click();
	});
</script>
{% endblock %}