{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% comment %} {% load humanize %} {% endcomment %}
{% comment %} {% load app_extras %}  {# custom tag #} {% endcomment %}

{% block title %}
	<title>{{ past_paper.title }}</title>
{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/past_papers.css' %}">
{% endblock extra_css %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg px-0">
	<article class="border mb-4 p-3 ">
		<div class="d-flex justify-content-between">
			<h2 class="mb-2">{{ past_paper.title }}</h2>
			<a class="btn btn-warning" href="{% url 'past_papers:past-paper-upload' %}">
				{% trans 'Upload a past paper' %}
			</a>
		</div>
		<section class="text-muted mb-4">
			<span class="text-muted">{% trans 'Uploaded on' %}</span>
			{{ past_paper.posted_datetime|date:'d M, Y' }}
			{% trans 'by' %}
			<a href="{% url 'users:view-profile' username=user.username %}" class="text-decoration-none">
				{{ user.username }}
			</a>
		</section>

		{# file viewer #}
		<section>
			{# use googledocs viewer after deployment #}
			{% comment %} <iframe src="https://docs.google.com/gview?url=http://path.com/to/your/pdf.pdf&embedded=true" style="width:600px; height: 500px;" frameborder="0">
			</iframe> {% endcomment %}

			<object data="{{ past_paper.file.url }}" type="application/pdf" width="100%" height="700px">
			</object>
		</section>
		<a href="{{ past_paper.file.url }}" class="btn btn-primary mb-5" download>
			<i class="fas fa-file-download" aria-hidden="true"></i>
			{% trans 'Download file' %}
		</a>

		{# comments section #}
		<section class="mb-2">
			{% if comments.count %}
				<h5>
					{% blocktrans count num_comments=comments.count with title=past_paper.title %}
						{{ num_comments }} comment on <strong>{{ title }}</strong>
						{% plural %}
						{{ num_comments }} comments on <strong>{{ title }}</strong>
					{% endblocktrans %}
				</h5>
				<ul class="list-group list-group-flush pe-4">
					{% for comment in page_obj %}
						<li class="list-group-item pb-3 mb-2 ms-2 {% if forloop.first %} pt-3 {% endif %}">
							<p class="text-break m-0">{{ comment.content }}</p>
							{% comment %} <span class="text-muted">&nbsp; - &nbsp;</span> {% endcomment %}
							<a 
								href="{% url 'users:view-profile' username=comment.poster.username %}" 
								class="text-decoration-none"
							>
								{{ comment.poster.username }}
							</a>
							<span class="text-muted" title="{{ comment.posted_datetime }}">&nbsp; - &nbsp; {{ comment.posted_datetime|date:'d M, Y' }}</span>
						</li> 
					{% endfor %}
						
					{% if is_paginated %}
						<ul class="pagination ms-3 mb-3 mt-4">
							{% if page_obj.has_previous %}
								<li class="page-item">
									<a 
										aria-label="{% trans 'Previous' %}"
										class="page-link" 
										href="?page={{ page_obj.previous_page_number }}"
									>
										<span aria-hidden="true">
											<i class="fas fa-chevron-left"></i>
										</span>
									</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="page-link">
										<i class="fas fa-chevron-left"></i>
									</span>
								</li>
							{% endif %}

							{% if page_obj.number|add:'-4' > 1 %}
								<li class="page-item">
									<a 
										class="page-link"
										href="?page={{ page_obj.number|add:'-5' }}"
									>
										&hellip;
									</a>
								</li>
							{% endif %}

							{% for i in page_obj.paginator.page_range %}
								{% if page_obj.number == i %}
									<li class="page-item active">
										<span class="page-link">
											{{ i }} <span class="visually-hidden">{% trans 'Current' %}</span>
										</span>
									</li>
								{% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
									<li class="page-item">
										<a 
											class="page-link"
											href="?page={{ i }}"
										>
											{{ i }}
										</a>
									</li>
								{% endif %}
							{% endfor %}

							{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
								<li class="page-item">
									<a 
										class="page-link"
										href="?page={{ page_obj.number|add:'5' }}"
									>
										&hellip;
									</a>
								</li>
							{% endif %}

							{% if page_obj.has_next %}
								<li class="page-item">
									<a 
										aria-label="{% trans 'Next' %}"
										class="page-link" 
										href="?page={{ page_obj.next_page_number }}"
									>
										<span aria-hidden="true">
											<i class="fas fa-chevron-right"></i>
										</span>
									</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="page-link">
										<i class="fas fa-chevron-right" aria-hidden="true"></i>
									</span>
								</li>
							{% endif %}
						</ul>
					{% endif %}
				</ul>
			{% endif %}
			
			<hr class="mb-4">
			{# form to add comment #}
			<form method="post" action='.' class="">
				<h4>{% trans 'Leave a comment' %}</h4>
				{% csrf_token %}		
				{{ comment_form|crispy }}

				<input type="hidden" name="past_paper_id" value="{{ past_paper.id }}">
				<input type="submit" class="btn btn-sm btn-secondary" value="{% trans 'Add comment' %}">
			</form>
		</section>
	</article>

	{% if similar_papers.exists %}
		<section class="border mb-5 p-3">
			<h4 class="mb-3 opacity-75">
				{% blocktrans with subject=past_paper.subject.name level=past_paper.get_level_display %}
					Some similar <span class="fw-bold">{{ subject }}</span> papers for <span class="fw-bold">{{ level }}</span>
				{% endblocktrans %}
			</h4>
			<ul class="list-group list-group-flush">
				{% for similar_paper in similar_papers %}
					<li class="list-group-item pb-3 mb-2">
						<a 
							href="{{ similar_paper.get_absolute_url }}" 
							class="text-decoration-none"
						>
							{{ similar_paper.title }}
						</a>
					</li> 
				{% endfor %}
			</ul>
		</section>
	{% else %}
		<div class="mb-5">
	{% endif %}
</div>
{% endblock content %}

{% block extra_js %}
{% endblock %}