{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Edit comment' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5 pastpaper-edit-comment-form-container">
	<form class="shadow mt-5 pastpaper-edit-comment-form" method="post">
		<h3 class="mb-4 text-success">{% trans 'Edit Comment' %}</h3>
		{% csrf_token %}
		{# when using `{% crispy form %}`, the submit button leaves the form #}
		{{ form|crispy }}
		<input type="submit" class="btn btn-success mt-3 mb-2 px-3" value="{% trans 'Update comment' %}">
	</form>
</div>
{% endblock content %}


{% block extra_js %}
{% endblock %}