{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<title>{% trans 'Upload a past question paper' %} | CamerSchools</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container-lg mb-5 pastpaper-form-container">
	<form name="past-paper-form" class="ps-3 pe-2 py-4 shadow" method="post" enctype="multipart/form-data">
		<h2 class="text-center mb-4 text-success">
			{% trans 'Upload a Question Paper' %}
		</h2>
		{% crispy form %}
	</form>
</div>
{% endblock content %}

