<!-- {# Modal shown when user clicks edit phone numbers button, telling him he will go to an external page #}
{# No longer used, the window.unload event is triggered instead and a custom message displayed #}

{% load i18n %}

<div class="modal" id="leavePageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="leavePageModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="leavePageModalLabel">{% trans 'Leave page' %}</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}"></button>
		</div>
		<div class="modal-body">
			{% blocktrans %}
				You are about to go to another page, you'll lose any info you've already entered.
			{% endblocktrans %}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
		<a 
			class="btn btn-danger"
			href="{% url 'users:edit-profile' username=user.username %}#phoneSection"
		>
			{% trans 'Leave page' %}
		</a>
		</div>
	</div>
	</div>
</div> -->