{% extends "core/base.html" %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load app_extras %}

{% block title %}
	<title>{% trans 'Home' %} | CamerSchools</title>
{% endblock %}

{% block content %}
	<article class="container">
		{# Questions section #}
		<section class="py-3 mb-4">
			<!-- each span in section-title can be called section-title__span or section-title__text -->
			<!-- can replace `section-title__text` with `border-2 border-success border-bottom` -->
			<h2 class="text-success mb-3 pb-lg-3 section-title">
				<span class="pb-lg-3 section-title__text">{% trans 'Questions' %}</span>
			</h2>
			<div class="row ms-0 mb-3">
				<div class="col-lg-6 mb-4 mb-lg-0">
					<div class="d-flex mb-3">
						<div class="flex-shrink-0 me-3">
							<a href="{% url 'qa_site:academic-question-list' %}">
								{# use alt="" since this image is purely decorative #}
								{# see https://w3.org/WAI/tutorials/images/decorative #}
								{# also see other image categories while you're at it. #}
								<img src="{% static 'images/stacked-open-books.jpeg' %}" alt="" class="rounded extra-info-img">
								<span class="visually-hidden">{% trans 'Academic questions' %}</span>
							</a>
						</div>
						<div>
							<h5>
								<a href="{% url 'qa_site:academic-question-list' %}" class="text-decoration-none d-inline-block mb-1">
									{% trans 'Academic Questions' %}
								</a>
							</h5>
							<a href="{% url 'qa_site:academic-question-list' %}" class="btn btn-outline-success me-2 mb-1 mb-lg-0">
								{% trans 'View Questions' %}
							</a>
							<a href="{% url 'qa_site:academic-question-create' %}" class="btn btn-outline-success">
								{% trans 'Ask a Question' %}
							</a>
						</div>
					</div>
					{% for question in academic_questions %}
						<div class="mb-2">
							<a href="{{ question.get_absolute_url }}" class="text-decoration-none">
								<span>
									{{ question.title }} - <strong>{{ question.num_answers }} {% trans 'answer' %}{{ question.num_answers|pluralize }}</strong>
								</span>
							</a>
							<span class="small text-muted mx-2">{% trans 'Asked' %} {{ question.posted_datetime|naturaltime }}</span>
							<a class="link-success" href="{{ question.get_absolute_url }}">{% trans 'Answer this' %}</a>
						</div>
					{% endfor %}
				</div>
				<div class="col-lg-6">
					<div class="d-flex mb-3">
						<div class="flex-shrink-0 me-3">
							<a href="{% url 'qa_site:school-question-list' %}">
								<img src="{% static 'images/some students.jpeg' %}" alt="" class="rounded extra-info-img">
								<span class="visually-hidden">{% trans 'School-based questions' %}</span>
							</a>
						</div>
						<div>
							<h5>
								<a href="{% url 'qa_site:school-question-list' %}" class="text-decoration-none d-inline-block mb-1">
									{% trans 'School-Based Questions' %}
								</a>
							</h5>
							<a href="{% url 'qa_site:school-question-list' %}" class="btn btn-outline-success mb-1 mb-lg-0 me-2">
								{% trans 'View Questions' %}
							</a>
							<a href="{% url 'qa_site:school-question-create' %}" class="btn btn-outline-success">
								{% trans 'Ask a Question' %}
							</a>
						</div>
					</div>
					{% for question in school_questions %}
						<div class="mb-2">
							<a href="{{ question.get_absolute_url }}" class="text-decoration-none">
								<span>
									{# `safe` is used at the end to also remove html entities #}
									{{ question.content|remove_tags|truncatewords:50|safe }}
									<span class="small">({{ question.school }})</span>
									- <strong>{{ question.num_answers }} {% trans 'answer' %}{{ question.num_answers|pluralize }}</strong>
								</span>
							</a>
							<span class="small text-muted mx-2">{% trans 'Asked' %} {{ question.posted_datetime|naturaltime }}</span>
							<a class="link-success" href="{{ question.get_absolute_url }}">{% trans 'Answer this' %}</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'qa_site:questions-explain' %}">
				{% trans 'All Questions' %}
			</a>
			<a class="btn btn-success" href="{% url 'qa_site:questions-explain' %}">
				{% trans 'Post a Question' %}
			</a>
		</section>

		{# Marketplace/items section #}
		<section class="py-3 mb-4">
			<h2 class="section-title text-success mb-3 pb-lg-3">
				<span class="section-title__text pb-lg-3">{% trans 'Latest Items' %}</span>
			</h2>
			<ul class="row list-unstyled mb-3">
				{% for listing, photo in items_and_photos %}
					{% with cond=listing.condition %}
						<li class="col-lg-4 mb-4">
							<div class="d-flex">
								<div class="flex-shrink-0">
									<a href="{{ listing.get_absolute_url }}">
										<img class="p-1 shadow index-page-img" src="{{ photo.file.url }}" alt="{{ photo.title }}">
									</a>
								</div>
								<div class="flex-grow-1 small ms-4">
									<a 
										href="{{ listing.get_absolute_url }}" 
										class="h5 text-decoration-none"
									>
										{{ listing.title|truncatechars:35 }}
									</a>
									<br class="mb-3">
									<a 
										class="text-decoration-none" 
										href="{% url 'marketplace:item-listing-list' %}?school_id={{ listing.school_id }}"
									>
										{{ listing.school }}
									</a>
									&nbsp;- &nbsp;
									<span class="badge align-middle text-light {% if cond == 'N' %} bg-success {% elif cond == 'U' %} bg-warning text-dark {% else %} bg-danger {% endif %}">{{ listing.get_condition_display }}</span>
									<br class="mb-1">
									<span class="fw-bold">{{ listing.price|intcomma }} FCFA</span>
									<span> - {% trans 'Posted' %} {{ listing.posted_datetime|naturaltime }}</span>
								</div>
							</div>
						</li> 
					{% endwith %}
				{% endfor %}
			</ul>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'marketplace:item-listing-list' %}">
				{% trans 'View Items' %}
			</a>
			<a class="btn btn-success" href="{% url 'marketplace:item-listing-create' %}">
				{% trans 'Sell an Item' %}
			</a>
		</section>

		{# Marketplace/adverts section #}
		<section class="py-3 mb-4">
			<h2 class="section-title text-success mb-3 pb-lg-3">
				<span class="section-title__text pb-lg-3">{% trans 'Latest Adverts' %}</span>
			</h2>
			<ul class="row list-unstyled mb-3">
				{% for listing, photo in ads_and_photos %}
					<li class="col-lg-4 mb-4">
						<div class="d-flex">
							<div class="flex-shrink-0">
								{% if photo %}
									<a href="{{ listing.get_absolute_url }}">
										{# alt is sufficient for accessibility #}
										<img class="p-1 shadow index-page-img" src="{{ photo.file.url }}" alt="{{ photo.title }}">
									</a>
								{% else %}
									<a href="{{ listing.get_absolute_url }}" class="d-inline-block link-secondary">
										<i class="far fa-image fa-5x px-3 py-2 shadow opacity-50" aria-hidden="true"></i>
										<span class="visually-hidden">{% trans 'Advert' %}</span>
									</a>
								{% endif %}
							</div>
							<div class="flex-grow-1 small mt-3 ms-4">
								<a 
									href="{{ listing.get_absolute_url }}" 
									class="h5 text-decoration-none"
								>
									{{ listing.title|truncatechars:35 }}
								</a>
								<br class="mb-3">
								{% if listing.school_id %}
									<a 
										class="text-decoration-none" 
										href="{% url 'marketplace:ad-listing-list' %}?school_id={{ listing.school_id }}"
									>
										{{ listing.school }}
									</a>
									<br class="mb-1">
								{% endif %}
								{% if listing.pricing == '-' %}
									<span>{% trans 'Posted' %} {{ listing.posted_datetime|naturaltime }}</span>
								{% else %}
									<span class="fw-bold">{{ listing.pricing }}</span>
									<span> - {% trans 'Posted' %} {{ listing.posted_datetime|naturaltime }}</span>
								{% endif %}
							</div>
						</div>
					</li> 
				{% endfor %}
			</ul>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'marketplace:ad-listing-list' %}">
				{% trans 'View Adverts' %}
			</a>
			<a class="btn btn-success" href="{% url 'marketplace:ad-listing-create' %}">
				{% trans 'Post an Advert' %}
			</a>
		</section>

		{# Requested items section #}
		<section class="py-3 mb-4">
			<h2 class="section-title text-success mb-3 pb-lg-3">
				<span class="section-title__text pb-lg-3">{% trans 'Requested Items' %}</span>
			</h2>
			<ul class="row list-unstyled mb-3">
				{% for requested_item, photo in requested_items_and_photos %}
					<li class="col-lg-4 mb-4">
						<div class="d-flex">
							<div class="flex-shrink-0">
								{% if photo %}
									<a href="{{ requested_item.get_absolute_url }}">
										<img class="p-1 shadow index-page-img" src="{{ photo.file.url }}" alt="{{ photo.title }}">
									</a>
								{% else %}
									<a href="{{ requested_item.get_absolute_url }}" class="d-inline-block link-secondary">
										<i class="far fa-image fa-5x px-3 py-2 shadow opacity-50" aria-hidden="true"></i>
										<span class="visually-hidden">{% trans 'Item' %}</span>
									</a>
								{% endif %}
							</div>
							<div class="flex-grow-1 small mt-3 ms-4">
								<a 
									href="{{ requested_item.get_absolute_url }}" 
									class="h5 text-decoration-none"
								>
									{{ requested_item.item_requested|truncatechars:35 }}
								</a>
								<br class="mb-3">
								{% if requested_item.school_id %}
									<a 
										class="text-decoration-none" 
										href="{% url 'requested_items:requested-item-list' %}?school_id={{ requested_item.school_id }}"
									>
										{{ requested_item.school }}
									</a>
									<br class="mb-1">
								{% endif %}
								<span>{% trans 'Posted' %} {{ requested_item.posted_datetime|naturaltime }}</span>	
							</div>
						</div>
					</li> 
				{% endfor %}
			</ul>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'requested_items:requested-item-list' %}">
				{% trans 'View Requested Items' %}
			</a>
			<a class="btn btn-success" href="{% url 'requested_items:requested-item-create' %}">
				{% trans 'Request an item' %}
			</a>
		</section>

		{# past papers section #}
		<section class="py-3 mb-4">
			<h2 class="section-title text-success mb-3 pb-lg-3">
				<span class="section-title__text pb-lg-3">{% trans 'Revision Past Papers' %}</span>
			</h2>
			<ul class="row list-unstyled mb-3">
				{% for past_paper in past_papers %}
					<li class="col-lg-4 mb-4">
						<a 
							href="{{ past_paper.get_absolute_url }}" 
							class="fw-bold text-decoration-none"
						>
							{{ past_paper.title }}
						</a>
						<!-- past paper meta -->
						<div class="mt-2">
							<a 
								class="badge bg-info link-light opacity-75 text-decoration-none" 
								href="{% url 'past_papers:past-paper-list' %}?level={{ past_paper.level }}"
								title="{{ past_paper.get_level_display }}"
							>
								{{ past_paper.level }}
							</a>
							<a 
								class="badge bg-secondary ms-2 link-light opacity-75 text-decoration-none" 
								href="{% url 'past_papers:past-paper-list' %}?subject={{ past_paper.subject_id }}"
							>
								{{ past_paper.subject }}
							</a>
							{% if past_paper.school_id %}
								<a 
									class="small text-decoration-none" 
									href="{% url 'past_papers:past-paper-list' %}?school={{ past_paper.school_id }}"
								>
									&nbsp; ({{ past_paper.school }})
								</a>
							{% endif %}
							<div class="d-inline ms-3 small">
								<span class="text-muted">{% trans 'Uploaded' %} </span>
								<span class="small text-muted">
									{{ past_paper.posted_datetime|naturaltime }}
								</span>
							</div>
						</div>
					</li> 
				{% endfor %}
			</ul>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'marketplace:item-listing-list' %}">
				{% trans 'View Past Papers' %}
			</a>
			<a class="btn btn-success" href="{% url 'marketplace:item-listing-create' %}">
				{% trans 'Upload a Past Paper' %}
			</a>
		</section>

		{# Lost items section #}
		<section class="py-3 mb-4">
			<h2 class="section-title text-success mb-3 pb-lg-3">
				<span class="section-title__text pb-lg-3">{% trans 'Lost Items' %}</span>
			</h2>
			<ul class="row list-unstyled mb-3">
				{% for lost_item, photo in lost_items_and_photos %}
					<li class="col-lg-4 mb-4">
						<div class="d-flex">
							<div class="flex-shrink-0">
								{% if photo %}
									<a href="{{ lost_item.get_absolute_url }}">
										<img 
											class="p-1 shadow index-page-img" 
											src="{{ photo.file.url }}" 
											alt="{{ photo.title }}"
										>
									</a>
								{% else %}
									<a href="{{ lost_item.get_absolute_url }}" class="d-inline-block link-secondary">
										<i class="far fa-image fa-5x px-3 py-2 shadow opacity-50" aria-hidden="true"></i>
										<span class="visually-hidden">{% trans 'Advert' %}</span>
									</a>
								{% endif %}
							</div>
							<div class="flex-grow-1 small ms-4">
								<a 
									href="{{ lost_item.get_absolute_url }}" 
									class="h5 text-decoration-none"
								>
									{{ lost_item.item_lost|truncatechars:35 }}
								</a>
								<br class="mb-3">
								<a 
									class="text-decoration-none" 
									href="{% url 'lost_or_found:lost-item-list' %}?school={{ lost_item.school_id }}"
								>
									{{ lost_item.school }}
								</a>
								<br class="mb-1">
								<span>{% trans 'Published' %} {{ lost_item.posted_datetime|naturaltime }}</span>	
							</div>
						</div>
					</li> 
				{% endfor %}
			</ul>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'lost_or_found:lost-item-list' %}">
				{% trans 'View Lost Items' %}
			</a>
			<a class="btn btn-success" href="{% url 'lost_or_found:lost-item-create' %}">
				{% trans 'Publish a lost item' %}
			</a>
		</section>

		{# found items section #}
		<section class="py-3 mb-4">
			<h2 class="section-title text-success mb-3 pb-lg-3">
				<span class="section-title__text pb-lg-3">{% trans 'Found Items' %}</span>
			</h2>
			<ul class="row list-unstyled mb-3">
				{% for found_item in found_items %}
					<li class="col-lg-3 mb-4">
						<a 
							href="{{ found_item.get_absolute_url }}" 
							class="fw-bold text-decoration-none"
						>
							{{ found_item.item_found|truncatechars:35 }}
						</a>
						<div class="mt-2">
							<a 
								class="text-decoration-none" 
								href="{% url 'lost_or_found:found-item-list' %}?school={{ found_item.school_id }}"
							>
								({{ found_item.school }})
							</a>
							<div class="d-inline ms-3">
								<span class="d-block text-muted small">{% trans 'Published' %} {{ found_item.posted_datetime|naturaltime }}</span>
							</div>
						</div>
					</li> 
				{% endfor %}
			</ul>
			<a class="btn btn-success me-1 mb-1 mb-lg-0" href="{% url 'lost_or_found:found-item-list' %}">
				{% trans 'View Found Items' %}
			</a>
			<a class="btn btn-success" href="{% url 'lost_or_found:found-item-create' %}">
				{% trans 'Publish a found item' %}
			</a>
		</section>
	</article>
	{% endblock %}

{% block extra_js %}
{% endblock %} 