{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
<title>{% trans 'Sign up' %}</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide undil lg. (At lg it turns to container.) -->
<div class="container-lg mb-5">
	<div class="d-flex justify-content-center">
		<form 
			class="p-3 user-form user-form--signup" 
			action="{% url 'users:register' %}" 
			method="post"
			name="signup-form"
		>
			{% csrf_token %}

			<!-- link used to send user to top of form if there are errors -->
			<a href="#" name="top" class="d-none"></a>

			<h2 class="text-center mb-4 user-form__heading">{% trans 'Create a CamerEcole Account' %}</h2>
			<!-- javascript form errors -->
			<div class="js-errors" role="alert"></div>

			{{ form|crispy }}

			<label class="requiredField" for="phoneNumbers">
				{% trans 'Phone number(s)' %}
				<span class="asteriskField">*</span>
			</label>
			<small id="hint_id_phoneNumbers" class="d-block form-text text-muted">
				{% trans 'Enter at least one phone number. Phone numbers may contain only digits and spaces.' %}
			</small>
			
			<!-- Formset for entering phone number -->
			<table id="phoneNumbers" class="table js-phoneNumbersTable">
				{% for form in formset.forms %}
					{% if forloop.first %}
					<thead>
						<tr>
							{% for field in form.visible_fields %}
								<th scope="col">
									{{ field.label|capfirst }}
									<span class="asteriskField">*</span>
								</th>
							{% endfor %}
						</tr>
					</thead>
					{% endif %}

					{# print errors #}
					{% if forloop.first %}
						<br>
						{% comment %} 
							The errors are displayed as a ul with class name "errorlist". 
							Added custom styles via jquery..
						{% endcomment %}
						{{ formset.non_form_errors }}
					{% endif %}

					{# each tr is a form in formset.forms #}
					<tr class="formset_row">
						{% for field in form.visible_fields %}
							<td>
								{# Include the hidden fields in the form #}
								{% if forloop.first %}
									{% for hidden in form.hidden_fields %}
										{{ hidden }}
									{% endfor %}
								{% endif %}

								{{ field|as_crispy_field }}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
				{{ formset.management_form }}
			</table>

			<button type="submit" class="w-100 mt-1 mb-4 py-2 btn btn-success">{% trans 'Register' %}</button>

			<p class="mb-0">
				{% trans 'If you already have an account, ' %}
				<a href="{% url 'users:login' %}">{% trans 'Click here to login' %}</a>
			</p>
		</form>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
	<script type="text/javascript">
		$('.formset_row').formset({
			addText: 'Add phone number',
			deleteText: 'Remove',
			prefix: 'phone_numbers',
			added: function($newForm) {
				// apparently, when a new form is added, these buttons are reinserted in all the forms.
				// do this to re-remove the button from the first form
				$('.delete-row').first().hide();

				// remove labels from newly added form fields
				$newForm.find('label').hide();

				// set its phone number input field to required
				$newForm.find('.numberinput').each(function(index) {
					var $this = $(this);
					if ($this.is(":visible")) {
						$this.attr('required', '');
					}
				});
			},
			removed: function($removedForm) {
				// remove required attribute from removed phone number input coz some forms stay hidden with the required attribute 
				$removedForm.find('.numberinput').removeAttr('required');
			},
			deleteCssClass: 'delete-row link-danger'
		});

		// hide "Remove" button from the first phone number since user must have at least one number
		$('.delete-row').first().hide();
		
		// remove labels from crispy fields in table
		$('.js-phoneNumbersTable').find('label').hide();

		// set all visible phone number input fields to required
		$('.js-phoneNumbersTable .numberinput').each(function(index) {
			var $this = $(this);
			if ($this.is(":visible")) {
				$this.attr('required', '');
			}
		});

		// style formset errorlist
		var $errlist = $('ul.errorlist');
		$errlist.addClass('list-group');   // add bootstrap class
		$errlist.children('li').addClass('list-group-item list-group-item-danger');

		// attach event to signup form
		var $form = $("[name='signup-form']");
		$form.on('submit', {
			phoneNumError: "{% trans 'Phone numbers may contain only digits and spaces.' %}",
			whatsAppError: "{% trans 'Enter at least one number that supports WhatsApp.' %}",
			passwordError: "{% trans 'Password should contain at least 8 characters and should not be entirely numeric.' %}",
			passwordMatchError: "{% trans 'Passwords do not match.' %}", 
			fullNameError: "{% trans 'Full name should contain only letters and hyphen and there should be two names.' %}",
			alertContent: "{% trans 'Form contains some errors, correct them to continue.' %}",
		}, signupAndEditSubmit);

	</script>
{% endblock %}