{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
<title>404 - {% trans 'Page not found' %}</title>
{% endblock %}

{% block institution_searchbox %}
{% endblock %}

{% block content %}
<div class="container mb-5">
    <h2 class="text-success mb-3">404 - {% trans 'Page not found'|upper %}</h2>
    <p>
        {% blocktrans %}
        Check that you typed the address correctly, go back to your previous page 
        or try using our site search to find something specific.
        {% endblocktrans %}
    </p>
</div>
{# just to get an empty space #}
<div class="pb-4 mb-5"></div>

{% endblock content %}


