{% extends "core/base.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% load flag_tags %}
{% load app_extras %} 

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	<title>{% trans 'Lost' %} {{ lost_item.item_lost }} | CamerSchools</title>
{% endblock %}


{% block institution_searchbox %}
{% endblock %}

{% block content %}
<!-- 100% wide until lg. (At lg it turns to container.) -->
<div class="container-lg mb-5">
	<article class="d-flex flex-column shadow rounded p-3 mb-5 lostitem-art">
		{% with original_lang=lost_item.original_language %}
		<h2>
			{% trans 'Lost' %} 
			<span {% if lost_item|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
				{{ lost_item.item_lost }}
			</span>
			{% include 'core/google_attribution.html' with object=lost_item %}
		</h2>
		{% endwith %}
		<div class="d-inline-block">
			{% trans 'School' %}:
			<a href="{% url 'lost_or_found:lost-item-list' %}?school={{ lost_item.school_id }}" class="text-decoration-none"> {{ lost_item.school }}</a>
			{% with view_count=lost_item.view_count %}
			<span class="ms-3" title="{{ view_count }} {% trans 'view' %}{{ view_count|pluralize }}">
				<i class="far fa-eye me-1" aria-hidden="true"></i>
				<span class="visually-hidden">{% trans 'Number of views' %}</span>
				{{ view_count }}
			</span>
			{% endwith %}
		</div>
		<div class="d-inline-block mb-4">
			{% trans 'Reported' %} 
			<span class="text-muted me-2" title="{{ lost_item.posted_datetime }}">
				{{ lost_item.posted_datetime|naturaltime }}
			</span>
			{% trans 'By' %} 
			{% with poster=lost_item.poster %}
			{% if poster.has_social_profile %}
				<a 
					class="text-decoration-none" 
					href="{{ poster.get_absolute_url }}"
				>
					{{ poster.full_name }}
				</a>
			{% else %}
				<span title="{% blocktrans %} User doesn't have a social profile {% endblocktrans %}">
					{{ poster.full_name }}
				</span>
			{% endif %}
			{% endwith %}
		</div>

		{% if photos.exists %}
			<section class="mb-4 lostitem-photo-section">
				<div class="row mb-4 photo-slide">
					{% for photo in photos %}
					<div class="col-4 col-lg-3 my-2"> 
						<img 
							src="{{ photo.file.url }}"
							class="photo-slide__img js-photo-slide__img"
							alt="{{ photo.title }}"
						> 
					</div>
					{% endfor %}
				</div>
				<img class="w-100 expanded-img js-expanded-img">
			</section>
		{% endif %}

		{% with original_lang=lost_item.original_language %}
		<div class="mb-3" {% if lost_item|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
			<b>{% trans 'Where' %}</b>: 
			{{ lost_item.area_lost }}
			{% include 'core/google_attribution.html' with object=lost_item %}
		</div>
		
		<div class="{% if lost_item.bounty %} mb-4 {% else %} mb-5 {% endif %} how-lost-wrp" {% if lost_item|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>
			<b>{% trans 'How' %}</b>: 
			{{ lost_item.how_lost }}
			{% include 'core/google_attribution.html' with object=lost_item %}
		</div>

		{% if lost_item.bounty %}
			<h3 class="mb-3" {% if lost_item|should_attribute:LANGUAGE_CODE %} lang="{{ original_lang|opposite_language }}-x-mtfrom-{{ original_lang }}" {% endif %}>{% trans 'Bounty on item' %}</h3>
			<p class="mb-2 bounty-wrp">
				{{ lost_item.bounty }}
				{% include 'core/google_attribution.html' with object=lost_item %}
			</p>
		{% endif %}
		{% endwith %}

		{# post actions #}
		<div class="mb-5">
			{# bookmark, sharing, flagging #}
			<div class="mb-3">
				<!-- Bookmark area -->
				<div class="d-inline me-2">
					{% url 'lost_or_found:lost-item-bookmark-toggle' as bookmark_url %}
					{% url 'users:profile-lostfound' as bookmarks_url %}
					{% trans 'Add this post to your favourites. (click again to undo)' as title_text %}
					{% render_bookmark_template lost_item bookmark_url bookmarks_url title_text %}
				</div>
				<!-- Share area -->
				<div class="d-inline mx-2">
					{% trans 'Share a link to this post' as heading %}
					{% include 'core/social_share_tooltip.html' with heading=heading title=lost_item.item_lost url=request.build_absolute_uri %}
				</div>
				<!-- flag area -->
				{# if post belongs to user, dont display flag widget #}
				{% if user.id != lost_item.poster_id %}
					<div class="d-inline ms-2">
						{% if user.is_anonymous %}
							{% get_login_url as login_url %}
							<a href="{{ login_url }}?next={{ request.build_absolute_uri }}" class="link-danger text-decoration-none">
								{% trans 'Report post' %}
								<span>
									{% include "flag/flag_icon.html" %}
								</span>
							</a>
						{% else %}
							{# this span shouldn't be removed ! #}
							{# js needs an element with class js-flagHelper #}
							<span class="link-danger js-flagHelper" role="button">
								{% if has_flagged %} 
									{% trans 'Remove flag' %}
								{% else %} 
									{% trans 'Report post' %} 
								{% endif %}
							</span> 
							{% render_flag_form lost_item user request %}
						{% endif %}
					</div>
				{% endif %}
			</div>
			{# editing and deleting #}
			{% if can_edit_item or can_delete_item %}
				<div class="mb-3">
					{% if can_edit_item %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'lost_or_found:lost-item-update' pk=lost_item.pk %}">
								<i class="fas fa-edit me-1" aria-hidden="true"></i>
								{% trans 'Edit post' %}
							</a>
						</div>
					{% endif %}
					{% if can_delete_item %}
						<div class="d-inline mx-2">
							<a class="text-decoration-none link-danger" href="{% url 'lost_or_found:lost-item-delete' pk=lost_item.pk %}">
								<i class="fas fa-trash-alt me-1" aria-hidden="true"></i>
								{% trans 'Delete post' %}
							</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>		

		{% if user.id != lost_item.poster_id %}
			<!-- don't separate these 3 elements, dependency in js. -->
			<button class="btn btn-primary mb-3 w-25 js-refund-item-btn">
				{% trans 'Refund item' %}
			</button>
			<div class="alert alert-primary pb-1 mb-4 appreciation-msg-wrp" role="alert">
				<h5 class="alert-heading">{% trans 'Props to you for deciding to refund this item!' %}</h5>
				<p>
					{% trans "Thank you for deciding to refund this item to its owner. Contact the owner using the details below." %}
				</p>
			</div>	
		{% endif %}

		<!-- contact details -->
		<section class="contact-details">
			<h4 class="text-success">{% trans 'Contact' %} {{ lost_item.poster.full_name }}</h4>
			<ul class="fs-4 px-3 mb-3 shadow-sm rounded number-box-wrp">
				{% for phone_number in contact_numbers %}
					{% with phone_number.number as number %}
					<li class="py-2 d-flex justify-content-between number-box">
						<a 
							href="tel: {{ number }}" 
							class="text-dark text-decoration-none number-box__tel"
						>
							{# properly print tel using custom template filter #}
							{{ number|parse_tel }}
						</a>
						{% if phone_number.can_whatsapp %}
							<a 
								href="https://wa.me/237{{ number }}" 
								class="text-success number-box__whatsapp js-whatsapp-tooltip"
								data-bs-toggle="tooltip"
								title="{% trans 'Contact via WhatsApp' %}"
								aria-label="{% trans 'Contact via WhatsApp' %}"
							>
								<i class="fab fa-whatsapp" aria-hidden="true"></i>
							</a>
						{% endif %}
					</li>
					{% endwith %}
				{% endfor %}
				</ul>
		</section>
	</article>
</div>
{% endblock content %}


{% block extra_js %}
<!-- <script src="{% static 'js/flag.js' %}"></script> -->
<script>
	// initialize whatsapp tooltips on the page
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('.js-whatsapp-tooltip'));
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl);
	});

	// photos gallery
	{% if photos.exists %}
		var $images = $('.js-photo-slide__img');
		$images.on('click', {$images: $images}, expandImage);
		
		var $firstImg = $images.first(), firstImg = $firstImg.get(0);
		$firstImg.css('border', '2px inset #198754');
		var $expandedImg = $('.js-expanded-img');
		$expandedImg.attr({'src': firstImg.src, 'alt': firstImg.alt});
	{% endif %}

	{% if user.id != lost_item.poster_id %}
		// refund button
		var $refundBtn = $('.js-refund-item-btn').first();
		$refundBtn.click(function() {
			var $this = $(this);
			var $appreciationBlock = $this.next();
			$appreciationBlock.show();
			$appreciationBlock.next().show();
			$this.hide();
		});
	{% endif %}

	/* FLAG FORM */
	// trigger click on flag-report-icon when flag helper is clicked
	$('.js-flagHelper').click(function() {
		var $parentWrp = $(this).parent();
		// console.log($parentWrp);
		$parentWrp.find('.js-flag-report-icon').first().click();
		// $('.js-flag-report-icon').first().click();
	});
</script>
{% endblock %}